<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load sekizai_tags kwacros %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>{% block html_title %}Bienvenue{% endblock %}</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    {% render_block "meta" %}
    
    <link href="{{ STATIC_URL }}MetalRadiance/metalradiance.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}img/favicon_diamond.png" rel="shortcut icon" type="image/png" />
    <link href="{{ STATIC_URL }}libs/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    {% render_block "css" %}
    
    <script src="{{ STATIC_URL }}libs/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/jquery-ui/jquery-ui-1.8.16.custom.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/jquery.dropmenu-1.1.4-edited.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/fancybox/jquery.fancybox.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/jquery.css3finalize-v3.x.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/jquery.pulsate.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/jquery-disabler.js" type="text/javascript"></script>
    {% render_block "js" %}
    
    
    <script language="javascript" type="text/javascript">
    
        {% render_block "inline_js" %}
        
        $(document).ready(function() {
            
            $('#menulist').dropmenu(
                {
                    effect          : "slide",       //  "slide", "fade", or "none"
                    speed           : "fast", //  "normal", "fast", "slow", 100, 1000, etc
                    timeout         : 400,
                    nbsp            : true,
                    maxWidth        : 0
                }
            );
            
            
            /* only half working parralax system

            window.onscroll = function() {
                
                    var speed = 0.6;
                    var posX = Math.floor(window.pageXOffset * speed);
                    var posY = Math.floor(window.pageYOffset * speed);
                    
                    $("body").css("background-position", posX + "px " + posY + "px"); 
                }
            */
           
           /* sign that parts of the page are for admins only */
           $(".admin-note").pulsate({
                              color: "#9D8126",                       // set the color of the pulse
                              reach: 10,                              // how far the pulse goes in px
                              speed: 1000,                            // how long one pulse takes in ms
                              pause: 500,                               // how long the pause between pulses is in ms
                              glow: true,                             // if the glow should be shown too
                              repeat: true,                           // will repeat forever if true, if given a number will repeat for that many times
                              onHover: false                          // if true only pulsate if user hovers over the element
                            });
                            
           $("form").disabler({ // diabled container must have an ID !!
              disable : true
            });
        
        });
            
    </script>
    
          
    {% block html_headers %}  
    {% endblock %}

    {% block sekizai_calls %}  
        <!-- block solely used to place sekizai calls in sub-templates -->
    {% endblock %}
           
</head>
<body>
    
    {% block body_top %}{% endblock %} 
    

    <div id="full_header">

        <div id="full_header_center">
             
            <div id="title_table">
                {% block notification_banners %}{% endblock %} 
                <div class="motto left"></div>
                <div id="site_title">
                    {% block site_title %} 
                    <a href="/"><img src="{{ STATIC_URL }}MetalRadiance/img/titles/chrysalis.png"/></a></div>
                    {% endblock %}
                <div class="motto right"></div>
            </div>

            <div id="notification_table">
                <div class="carving"></div>
                <div class="separator"></div>
                <div class="carving"></div>
            </div> 
            
        </div>

    </div>
    
    
    
    <div id="full_menu">
        <div id="main_menu">
            {% block left_big_icon_panel %} 
            <div class="big_icon_panel">
                {% block left_big_icon_img %} 
                <img src="{{ STATIC_URL }}MetalRadiance/img/icons/speaker.png"/>
                {% endblock %}
            </div>
            {% endblock %}
            
            <div class="marble_menu_container">
                <div class="marble_menu">
                        <ul id="menulist" class="dropmenu" style="z-index: 100;">
                            {% block main_menu %}  
                            {% endblock %}
                        </ul>
                </div>
            </div>
            
            {% block right_big_icon_panel %} 
            <div class="big_icon_panel">
                {% block right_big_icon_img %} 
                <img src="{{ STATIC_URL }}MetalRadiance/img/icons/question_mark.png"/>
                {% endblock %}
            </div>
            {% endblock %}
        </div>
    </div> 
    
    
    
    <div id="full_content">
        {% block panels %}{% endblock %}
    </div>


    {% block up_footer %} 
    <div id="up_footer_wrapper">

            <div id="up_footer_border_left">
                {% block up_footer_left_content %}
                <div>
                sdsdsdsd sfdqsd sdf sdf <br/> qsdqsdqsd
                </div>
                {% endblock %}
            </div><!-- NO SPACE HERE --><div id="up_footer_border_center"> dd&nbsp;
                <img class="footer_center_img" src="{{ STATIC_URL }}MetalRadiance/img/icons/pegasus_medal.png"/>
            </div><!-- NO SPACE HERE --><div id="up_footer_border_right">
                {% block up_footer_right_content %}
                sdsdsdsd sdfsdf sqd qd
                {% endblock %}
            </div>
  
    </div>
    {% endblock %}
    
    
    {% block low_footer %} 
    <div id="low_footer_wrapper">
        <div id="low_footer_border">
            {% block low_footer_content %} 
            sdsdsdsd sdfs
            {% endblock %}
        </div>
    </div>
    {% endblock %}
    
    
    {% block bottom_padding %} 
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    {% endblock %}
    

</body>
</html>