

{% load kwacros %}




{% kwacro main_panel_start frame_class="giant_frame" %}

    <div class="{{ frame_class }}">
    
    
        <img class="big_stick_bottom_left" src="{{ STATIC_URL }}MetalRadiance/img/decorations/big_deco_bl.png"/>
        <img class="icon_stick_bottom_left" src="{{ STATIC_URL }}MetalRadiance/img/icons/owl.png"/>
        
        <img class="big_stick_bottom_right" src="{{ STATIC_URL }}MetalRadiance/img/decorations/big_deco_br.png"/>
        <img class="icon_stick_bottom_right" src="{{ STATIC_URL }}MetalRadiance/img/icons/hexagon.png"/>
        
        <img class="big_stick_top_left" src="{{ STATIC_URL }}MetalRadiance/img/decorations/big_deco_tl.png"/>
        <img class="icon_stick_top_left" src="{{ STATIC_URL }}MetalRadiance/img/icons/skull.png"/>
        
        <img class="big_stick_top_right" src="{{ STATIC_URL }}MetalRadiance/img/decorations/big_deco_tr.png"/>
        <img class="icon_stick_top_right" src="{{ STATIC_URL }}MetalRadiance/img/icons/sun_moon.png"/>
        
        <div class="main_frame_border">
          <div class="main_frame_content">
            
{% endkwacro %} 
                
          
{% kwacro main_panel_end %}   
          
           </div>     
         </div> 
    </div>
    
{% endkwacro %} 





{% kwacro side_panel_start frame_class="mini_frame float_left" decos="1" %}

    <div class="mini_frame float_left">
        
        {% if decos %}
            <img class="stick_top_left" src="{{ STATIC_URL }}MetalRadiance/img/decorations/mini_deco_top_left_{{ decos }}.png"/>
            <img class="stick_bottom_right" src="{{ STATIC_URL }}MetalRadiance/img/decorations/mini_deco_bottom_right_{{ decos }}.png"/>
        {% endif %}
        
        <div class="mini_frame_content">
            
{% endkwacro %} 


{% kwacro side_panel_end %}   
          
        </div>
    </div>
   
{% endkwacro %} 




         