


# BEWARE - on windows, use MSI instead for these few packages #
MySQL-python>=1.2.4
Pillow>=2.7.0


beautifulsoup4==4.3.2

cmsplugin-filer==0.10.1
cmsplugin-zinnia==0.7

decorator==3.4.0

Django==1.7.6

#Django-Select2==4.2.2 OUTDATED - think about periodically updating the tag below
git+https://github.com/applegrew/django-select2#b9400e235b7c047eb73ba0cfcb581a5dcf9153d2

django-admin-jqueryui==1.8.22
django-appconf==1.0.1
django-apptemplates==0.0.1

django-cprofile-middleware==0.1

django-debug-toolbar==1.3.0

# if trouble with "Unknown column 'zinnia_entry.content_placeholder_id' in 'field list" : python manage.py reset zinnia
django-blog-zinnia==0.15.1

django-cms==3.0.12

django-contrib-comments==1.5

django-filer==0.9.9

django-request==1.2.0

django-reversion==1.8.5

django-templateaddons==0.1

djangocms-admin-style==0.2.5

djangocms-link==1.5

djangocms-snippet==1.4

djangocms-text-ckeditor==2.4.3

django-zodb==0.3dev

easy-thumbnails==2.2

# for rst->pdf builders
jinja2==2.8
jinja-macro-tags==0.1


odict==1.5.1

# for relstorage mainly
perfmetrics==2.0

# exposes pip-review + pip-dump
pip-tools

pytz

pycrypto==2.6.1  # no much used ATM

python-memcached==1.53

pyparsing==2.0.3

PyYAML==3.11

requests==2.5.3

Sphinx==1.2

ZEO==4.1.0
ZODB==4.1.0


# django-sentry==1.13.5  # might be useful
# other plugins, not well maintained, are embedded in this repository



## DEV tools only ##

pytest==2.6.4
pyScss==1.3.4
rst2pdf>=0.9





