
ZODB==4
#MySQL-python==1.2.4
#PIL==1.1.7
PyYAML==3.10
beautifulsoup4==4.3.2

Django==1.6.5
Django-Select2==4.2.2
django-zodb==0.3dev
django-templateaddons==0.1
South==0.8.4
django-debug-toolbar==0.9.4
django-cprofile-middleware==0.1
pytz

Sphinx==1.2
docutils==0.11

easy-thumbnails==2.0.1
odict==1.5.1
pycrypto==2.6.1  # no much used ATM
pyparsing==2.0.2
requests==2.3.0
decorator==3.4.0
python-memcached==1.53

django-cms==3.0.2
django-filer==0.9.5
cmsplugin-filer==0.9.9

django-tagging==0.3.2

django-apptemplates==0.0.1
djangocms-text-ckeditor==2.1.6

# if trouble with "Unknown column 'zinnia_entry.content_placeholder_id' in 'field list" : python manage.py reset zinnia
django-blog-zinnia==0.14.1
##git+https://github.com/Fantomas42/django-blog-zinnia.git

cmsplugin-zinnia==0.6
##git+https://github.com/Fantomas42/cmsplugin-zinnia.git

django-request==1.0.1


# DEV tools only
pytest==2.3.4
pyScss==1.2.0.post3
rst2pdf==0.93

#django-sentry==1.8.6.2 # might be useful

# other plugins, not well maintained, are included in the repository














