

###MySQL-python>=1.2.4

PyMySQL==0.7.9

Pillow>=2.7.0

logging_tree

beautifulsoup4==4.5.1

cmsplugin-filer==1.1.3

# beware - breaks with "KeyError('request')" : cmsplugin-zinnia==0.8.1
# soon TODO : switch to zinnia.plugins instead !
git+https://github.com/django-blog-zinnia/cmsplugin-zinnia

decorator==4.0.10

Django==1.9.6

django-compat-patcher==0.3

#Django-Select2==4.2.2 OUTDATED - think about periodically updating the tag below
git+https://github.com/pakal/django-select2.git@0bcb6f5d18002c79afeb93899872f59d9c87bc24

django-admin-jqueryui==1.8.22
django-appconf==1.0.2
django-apptemplates==1.2

django-cprofile-middleware==0.1

django-debug-toolbar==1.4

# if trouble with "Unknown column 'zinnia_entry.content_placeholder_id' in 'field list" : python manage.py reset zinnia
django-blog-zinnia==0.17
django-mptt==0.8.6

django-cms==3.2.5

djangocms-page-sitemap==0.3.1

git+https://github.com/pakal/cmsplugin-simple-gallery.git
git+https://github.com/pakal/django-cms-jplayer.git

django-contrib-comments==1.7.3

django-polymorphic==1.0.1
django-filer==1.2.5

# for quick HTTP visit stats:
git+https://github.com/django-request/django-request.git

django-reversion==1.10.2

django-templateaddons==0.1

djangocms-admin-style==1.2.4

djangocms-link==2.0.1

djangocms-snippet==1.9.1

djangocms-rawhtml==0.1

djangocms-text-ckeditor==2.9.3

git+https://github.com/pakal/cmsplugin-rst/

django-zodb==0.3dev

easy-thumbnails==2.3

# for cmsplugin-gallery
django-inline-ordering>=1.0.2

# for rst->pdf builders
jinja2==2.8
git+https://github.com/pakal/jinja-macro-tags


odict==1.5.1

relstorage>=2.0.0b6

# for relstorage mainly
perfmetrics==2.0

# exposes pip-dump, pip-sync and pip-review
pip-tools
pip-review

pytz

pycryptodome==3.6.6

python-memcached==1.58

pyparsing==2.1.9

PyYAML==3.12

requests==2.11.1

Sphinx==1.4

# USELESS ZEO==5.0.1
ZODB==5.0.0


# django-sentry==1.13.5  # might be useful
# other plugins, not well maintained, are embedded in this repository

# for mindstorm sheets
docx2txt


## DEV tools only ##

pytest==3.0.2
pyScss==1.3.5
rst2pdf>=0.9





