
@import "_globals.scss";

@import "_section_decorations.scss";


/* widgets visible onl by admins and masters */



/*
    font-size: 2em;
    line-height: normal;

    font-family: kingthings_calligraphica_light;
    margin: 8px;
    padding: 6px;
    width: 50%;
*/


.admin-note {
    // IMPORTANT - that class is used as selector by jquery-pulsate plugin
}


.missing-content {
    @extend .post-it;
    @include center;
    @include inner_center;

    margin-top: 10px;
    margin-bottom: 10px;
    clear: both;

    color: $dark_red;
    font-size: 1em;
    font-style: italic;
    line-height: normal;


    width: 95%;
}




@mixin form_scroll_common {
    text-align: left;
}


.form_scroll_thin {
    @extend .scroll_yellow_rolled;
    @extend .small_width;
    @include form_scroll_common;
}

.form_scroll_medium {
    @extend .scroll_yellow_rolled;
    @extend .medium_width;
    @include form_scroll_common;
}



table.realtable {
    border-collapse: collapse;
      margin: 15px 0;
    padding:0px;
      width:100%;
      box-shadow: 5px 5px 3px #888888;
      border:1px solid #000000;

    tr:nth-child(odd){ background-color:#eed892; }
    tr:nth-child(even) { background-color:#f1d875; }

    td {
        vertical-align:middle;
        border:1px solid #000000;
        border-width:1px 1px 1px 1px;
        text-align:center;
        padding:7px;
        font-size:1.2em;
        font-family:Arial;
        font-weight:normal;
        line-height:1.2em;
    }

    tr:last-child td {
    }
    tr td:last-child {
    }
    tr:last-child td:last-child {
    }

    thead th {
        background-color:#AF411C;
        border:0px solid #000000;
        text-align:center;
        border-width:0px 0px 1px 1px;
        font-size:1.3em;
        line-height:1.3em;
        font-family:Arial;
        font-weight:bold;
        color:#ffffff;
    }

    thead th:first-child {
        border-width:0px 0px 1px 0px;
    }

    thead th:last-child {
        border-width:0px 0px 1px 1px;
    }
}


