

#portamento_container {
    float:right; 
    position:relative;
}

#portamento_container > div {
    float:none; 
    position:absolute;
}

#portamento_container > div.fixed {
    position:fixed;
}