

@mixin email_common {
    position: relative; // to allow absolute stuffs inside
    min-width: 150px;
    padding: 0 10px;
    border-style: solid; 
    border-width: 79px 45px 81px 39px;
}

.email_unread {
    @include email_common;
    border-image: url('#{$IMGS}backgrounds/scroll_realistic_thin_ends.png') 79 45 81 39 fill stretch stretch;
}
 

.email_read {
    @include email_common;
    border-image: url('#{$IMGS}backgrounds/scroll_realistic_thin_ends_disabled.png') 79 45 81 39 fill stretch stretch;
}


.message_operations {
    position: absolute;
    top: -60px;
    left: 5px;
}

.cover_previous {
  margin-top: -60px;
}
