

@import "_globals.scss";


/*  Wrapping of text in scrolls and plates  */



.outlined {
    outline: $medium_yellow ridge 2px;
}


.marble_panel {
    border-style: solid;
    border-width: 7px 10px 10px;
    border-image: url('#{$IMGS}backgrounds/marble_plate.png') 7 10 10 fill stretch;
}

.post-it {
    padding: 4px;
    border-style: solid;
    border-width: 4px 4px 6px;
    border-image: url('#{$IMGS}backgrounds/post-it.png') 4 4 6 fill stretch;
}


.scroll_realistic {
    margin: 10px;
    padding: 0 10px;
    border-style: solid;
    border-width: 142px 63px 124px 71px;
    border-image: url('#{$IMGS}backgrounds/scroll_realistic.png') 142 63 124 71 fill stretch stretch;
}

.scroll_realistic_thin_ends {
    margin: 10px;
    min-width: 150px;
    padding: 0 10px;
    border-style: solid;
    border-width: 79px 45px 81px 39px;
    border-image: url('#{$IMGS}backgrounds/scroll_realistic_thin_ends.png') 79 45 81 39 fill stretch stretch;
}

.scroll_yellow_flat {
    margin: 10px;
    padding: 25px;
    background: url('#{$IMGS}backgrounds/scroll_yellow_flat.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.scroll_yellow_rolled {
    margin: 10px;
    padding: 55px 30px;
    background: url('#{$IMGS}backgrounds/scroll_yellow_rolled.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.antique_marble_frame {
    padding: 5px;
    border-style: solid;
    border-width: 17px;
    border-image: url('#{$IMGS}backgrounds/antique_marble_frame2.png') 17 fill round;
    margin: -5px;
}

.antique_large_decorated_frame {
    padding: 10px;
    border-style: solid;
    border-width: 35px 40px 35px 40px; // only HALF of real border-image size here...
    border-image: url('#{$IMGS}backgrounds/antique_large_decorated_frame.png') 70 80 70 80 fill stretch;
    margin: -5px;
}

.decorated_golden_frame {
    border-style: solid;
    border-width: 25px 27px 25px;
    border-image: url('#{$IMGS}backgrounds/decorated_golden_frame.png') 25 27 25 fill stretch;
    margin: -5px;
}


@mixin carved_square_frame {
    border-style: solid;
    border-width: 90px;
    border-image: none 125 125 127 117 stretch;
}
.carved_square_frame_gold {
    @include carved_square_frame;
    border-image-source: url('#{$IMGS}backgrounds/carved_square_frame_gold.png') !important;
}
.carved_square_frame_silver {
    @include carved_square_frame;
    border-image-source: url('#{$IMGS}backgrounds/carved_square_frame_silver.png') !important;
}


.rice_paper_beige {
    padding: 5px 5px;
    background-image: url('#{$IMGS}backgrounds/seamless_paper_beige.jpg');
    box-shadow: 2px 2px 3px black;
}

.rice_paper_rose {
    padding: 5px 5px;
    background-image: url('#{$IMGS}backgrounds/seamless_paper_rose1.jpg');
    box-shadow: 2px 2px 3px black;
}







