

/* Styles for door locking ability */

#password_display 
{
    display: table-cell; 
    vertical-align: middle;
    margin: 20px; 
    font-weight: bold;
    font-size: 35px; 
    width: 200px; 
    height: 60px; 
    background-color: $light_yellow; 
    border: solid 2px $dark_yellow;
}

input.digit
{
    width: 150px; 
    height: 50px; 
    margin: 7px;
    font-size: 20px; 
    font-weight: bold;
    background-color: $light_yellow;
}