
@import "_globals.scss";



h1 {

    @include header_common;
    font-size: 2.3em;
    line-height: normal;
    color: $title_gold;
    margin-bottom: 20px;

    &:before {
        top: 12px;
        left: -14px;
        content: url('#{$IMGS}decorations/primary_title_left_gradient.png');
        padding: 0;
        position: relative;
    }
    &:after {
        top: 12px;
        left: 14px;
        content: url('#{$IMGS}decorations/primary_title_right_gradient.png');
        padding: 0;
        position: relative;
    }
}


h2 {

    @include header_common;
    font-size: 1.8em;
    line-height: normal;
    color: $title_white;

    &:before {
        top: 0px;
        left: -10px;
        content: url('#{$IMGS}decorations/secondary_title_left.png');
        padding: 0;
        position: relative;
    }
    &:after {
        top: 0px;
        left: 10px;
        content: url('#{$IMGS}decorations/secondary_title_right.png');
        padding: 0;
        position: relative;
    }
}



.section {

    p {
        text-align: justify;
        overflow: hidden; // for drop caps
        text-decoration: none; // underline, overline, line-through, blink or inherit
        text-indent: 20px;

        /* useful and little known properties */
        word-spacing: normal; // or length measure
        word-wrap: normal; // or break-word
        word-break: normal; // or break-all/hyphenate
        white-space: normal; // or nowrap/pre/pre-line/pre-wrap
        quotes: none; // or string string string string
        text-overflow: ellipsis; // or clip or string, not inherited

    }

    p:first-child:not(.post-it), p:first-of-type:not(.post-it), p.beautiful { // class to be used with the "class" directive of rst

        text-indent: 0;

        &:first-letter {
            /* ADDING DROP CAP */
            font-family: rothenburg_decorative, serif;
            color: $drop_cap;
            float: left;
            font-size: 3em;
            // line-height: normal;
            margin-right: 0.1em;
        }
    }
}




div, span, p {
    background-color: transparent;
    border-color: transparent;
    overflow: visible;
}





a {
    &:link { color: $light_blue; }
    &:visited, &:active { color: $dark_blue; }
    &:hover { color: old_blue; }
}

h1, h2 {
    a:link, a:visited, a:hover {
        color: $title_white;
        text-decoration: none;
    }
}


dt {
    font-weight: bold;
}

dd {

}



blockquote, q, cite {
    font-size: 1.5em;
    line-height: 1.2em;
    color: white;
    text-shadow: 1px 1px 0px black;
    font-family: kingthings_calligraphica_light;
    margin: 8px;
    padding: 6px;
    width: 50%;
}



ul
{
    padding-left: 32px;
    list-style-position: outside;
    list-style-image: url('#{$IMGS}icons/bullet_gold_small.png');

    ul {
        list-style-image: url('#{$IMGS}icons/bullet_silver_small.png');

        ul {
            list-style-image: url('#{$IMGS}icons/bullet_bronze_small.png');
        }
    }
}
.no_bullets, .no_bullets * {
    list-style-type: none !important;
    list-style-image: none !important;
}



textarea {
    resize: vertical;
}






