<!doctype html>

<html>
	<head>
		<title>Slidebars</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="slidebars/slidebars.css">

	</head>
	
	<body>	
		<div id="sb-site">

			<ul>
				<li class="sb-toggle-left">Index</li>
				<li class="sb-toggle-right">Notification </li>
			</ul>
		</div>
		
		<div class="sb-slidebar sb-left">
			<!-- Your left Slidebar content. -->
			<p>Index.</p>
		</div>
		
		<div class="sb-slidebar sb-right">
			<!-- Your right Slidebar content. -->
			<p>Notif.</p>
		</div>
				
		<!-- jQuery -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		
		<!-- Slidebars -->
		<script src="slidebars/slidebars.js"></script>
		<script>
			(function($) {
				$(document).ready(function() {
					$.slidebars({
						disableOver: 600,
						hideControlClasses: true
					});
				});
			}) (jQuery);
		</script>
	</body>
</html>