{% load sekizai_tags kwacros i18n %}
{% load cms_tags %}{# might be a dummy version, to replace that of django-cms #}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block html_title %}{% trans "Welcome" %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% render_block "meta" %}

    {# <!--meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"-->emulate IE9 in quirks or normal mode, for IE10 to enable pie.htc behavior... TOO BUGGY #}

    <link href="{{ STATIC_URL }}img/favicon_diamond.png" rel="shortcut icon" type="image/png" />
    <link href="{{ STATIC_URL }}libs/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}libs/fasw.transitions/transition.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}libs/jquery-jplayer-2.3.0/blue.monday/jplayer.blue.monday.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}libs/jquery-mmenu/dist/core/css/jquery.mmenu.all.css" type="text/css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}FontAwesome/css/font-awesome.css" type="text/css" rel="stylesheet" />

    <!--[if lte IE 9]>

    <style>
        {# force fallback for font colors when text shadows are not working well #}
        ul.dropmenu span, ul.dropmenu a, h1, h2, h3 {
            color: black !important;
        }

        {# we may use Css3PIE to improve a little CSS3 support in Internet Explorer, but i's buggy it seems... #}
        {# * { behavior: url('{{ STATIC_URL }}libs/css3pie/PIE.htc'); } #}
    </style>

    <![endif]-->

    <link href="{{ STATIC_URL }}libs/jnotify/css/jquery.jnotify-alt.css" rel="stylesheet" type="text/css" />

    {% render_block "css" %}



    <link href="{{ STATIC_URL }}MetalRadiance/metalradiance.css" rel="stylesheet" type="text/css" /><!-- MUST BE LAST -->


    <!--link media="screen and (max-width: 991px)" rel="stylesheet" href="slidebars/slidebars.css"-->

    <script src="{{ STATIC_URL }}libs/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/jquery-migrate-1.1.0.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/jquery.cookie.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/jquery-storage/jquery.storage.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/jquery-ui/jquery-ui-1.10.0.custom.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/jquery.dropmenu-1.1.4-edited.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/jquery.doubletaptogo.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/fancybox/jquery.fancybox.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/jquery.css3finalize-v3.x.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/jquery-pulsate/jquery.pulsate.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/jquery-disabler/jquery-disabler.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/fasw.transitions/fasw.transitions.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/jquery-jplayer-2.3.0/jquery.jplayer.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/jquery-jplayer-2.3.0/add-on/jplayer.playlist.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/jnotify/lib/jquery.jnotify.js" type="text/javascript"></script>
    <!-- only if jquery.mmenu swipe-to-open is needed - script src="{{ STATIC_URL }}libs/hammer.js" type="text/javascript"></script-->
    <script src="{{ STATIC_URL }}libs/jquery-mmenu/dist/core/js/jquery.mmenu.min.all.js" type="text/javascript"></script>


    <script src="{{ STATIC_URL }}libs/audioplayer/audio-player.js" type="text/javascript"></script>
    <script type="text/javascript">
        AudioPlayer.setup("{{ STATIC_URL }}libs/audioplayer/player.swf", {
            width: 290,
            height: 24,
            bg: "EFDCC2",
            leftbg: "DFBD99",
            lefticon: "6F5129",
            voltrack: "EFDCC2",
            volslider: "6F5129",
            rightbg: "DFBD99",
            rightbghover: "CFAD89",
            righticon: "6F5129",
            righticonhover: "ffffff",
            text: "6F5129",
            track: "EFDCC2" ,
            tracker: "DFBD99",
            border: "6F5129",
            loader: "DFBD99",
            skip: "6F5129",
            loop: "no",
            animation: "no", // shrinking/etending of the player
            initialvolume: "60"
        });
    </script>

    {% render_block "js" %}


    <script language="javascript" type="text/javascript">
        /* here put JS that must be executed only on PAGE LOAD, not fast transitions */
        var JS_TIMER_START = setTimeout(function(){}, 0);


      var xhrPool = [];
      $(document).ajaxSend(function(e, jqXHR, options){
        xhrPool.push(jqXHR);
      });
      $(document).ajaxComplete(function(e, jqXHR, options) {
        xhrPool = $.grep(xhrPool, function(x){return x!=jqXHR});
      });
      var abort_pending_ajax_requests = function() {
        $.each(xhrPool, function(idx, jqXHR) {
          jqXHR.abort();
        });
      };

       /*
      var oldbeforeunload = window.onbeforeunload;
      window.onbeforeunload = function() {
        var r = oldbeforeunload ? oldbeforeunload() : undefined;
        if (r == undefined) {
          // only cancel requests if there is no prompt to stay on the page
          // if there is a prompt, it will likely give the requests enough time to finish
          abort_pending_ajax_requests();
        }
        return r;
      }*/



     function clear_all_js_timeouts() {

         var maxId = setTimeout(function(){}, 0);
         var i;

         for(i=JS_TIMER_START; i <= maxId; i+=1) {
            //console.log("CLEARING TIMER "  + i);
            clearTimeout(i);
        }

        JS_TIMER_START = i; // value of the FIRST next timer created
     }


    function CLEANUP_PENDING_JS_WORKFLOWS () {
        abort_pending_ajax_requests(); // beware, might trigger completion events anyway
        clear_all_js_timeouts();
    }

    </script>


    {% block html_headers %}
    {% endblock %}

    {% block sekizai_calls %}
        <!-- block solely used to place sekizai calls in sub-templates, must always call "block.super" -->
    {% endblock %}

</head>
<body {% if not use_parallax %}class="full_background"{% endif %}>

    {% cms_toolbar %}

    {% if use_parallax %}
    {% include "_metalradiance_parallax.html" %}
    {% endif %}


    {% block body_top %}{% endblock %}

    {% block notification_banners %}
        {% if notifications %}
        <div class="notification_panel {{ notification_type|default:"mixed" }}" title="{% trans "Click on the border of this notification panel to close it." %}">
            <div class="notification_panel_decorations">
                <div class="notification_panel_content">
                   {% for message in notifications %}
                       <p>{{ message|linebreaksbr }}</p>
                   {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    {% endblock %}

    <div id="full_header">

        <div id="full_header_background">

        	<div id="full_header_center">

                <!-- UNUSED div id="mobile-top-widgets" class="mobile-only">
                    <div class="float_left">HI</div>
                    <div class="float_right">BYE</div>
                </div-->

	            <div id="title_table">
	                {% block top_left_motto %}<div class="motto left_image"></div>{% endblock %}
	                <div id="site_title">
	                    {% block site_title %}
	                    <a href="/"><img src="{{ STATIC_URL }}MetalRadiance/img/titles/chrysalis.png"/></a></div>
	                    {% endblock %}
	                {% block top_right_motto %}<div class="motto right_image"></div>{% endblock %}
	            </div>

	            <div id="notification_table">
	                <div class="carving">{% block carving_left %}{% endblock %}</div>
	                <div class="separator"></div>
	                <div class="carving">{% block carving_right %}{% endblock %}</div>
	            </div>

            </div>
        </div>

    </div>


    {% block full_main_container %}
    <div id="full_menu">
        <div id="main_menu">
            {% block left_big_icon_panel %}
            <div class="big_icon_panel">
                {% block left_big_icon_img %}
                <!--img src="{{ STATIC_URL }}MetalRadiance/img/icons/speaker.png"/-->
                {% endblock %}
            </div>
            {% endblock %}

            <div class="marble_menu_container">
                <div class="marble_menu">
                    {# <div class="marble_menu_inner_outline"> #}
                        <ul id="menulist" class="dropmenu" style="z-index: 100; display: none;">
                            {% block main_menu %}
                            {% for menu in menus %}

                                {% comment %} here we only handle 2-levels menus, at the moment... {% endcomment %}

                                {% with page_transition="slide" %}

                                <li class="toplevel">

                                    {% if menu.is_active %}
                                        <a data-ftrans="{{ page_transition }}" href="{{ menu.url }}">{{ menu.title }}{#% if menu.submenus %}&darr;{% endif %#} {% if menu.is_novelty %}*{% endif %}</a>
                                    {% else %}
                                        <span>{{ menu.title }}</span>
                                    {% endif %}


                                    {% if menu.submenus %}
                                        <ul>
                                            {% for submenu in menu.submenus %}
                                                <li>
                                                {% if submenu.is_active %}
                                                    <a data-ftrans="{{ page_transition }}" href="{{ submenu.url }}" accesskey="{{ forloop.counter }}">{{ submenu.title }}{% if submenu.is_novelty %} *{% endif %}</a>
                                                {% else %}
                                                    <span>{{ submenu.title }}</span>
                                                {% endif %}

                                                {% comment %}
                                                    <a {% if user.is_master %} style="font-size: 0.6em; line-height: 0.5em;" {% endif %} href="{{ item_url }}" >{{ item_name }}</a>
                                                {% endcomment %}
                                                </li>
                                            {% endfor %}
                                         </ul>
                                     {% endif %}

                                 </li>
                                 {% endwith%}

                            {% endfor %}
                            {% endblock %}
                        </ul>
                    {# </div> #}
                </div>
            </div>

            {% block right_big_icon_panel %}
            <div class="big_icon_panel">
                {% block right_big_icon_img %}
                <!--img src="{{ STATIC_URL }}MetalRadiance/img/icons/question_mark.png"/-->
                {% endblock %}
            </div>
            {% endblock %}
        </div>
    </div>
    <div id="menu-bar"></div>
    {% endblock %}


    <div id="full_content">
        {% block panels %}
        <!-- jQuery -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

		<!-- Slidebars -->
		<script src="slidebars/slidebars.js"></script>
		<script>
			(function($) {
				$(document).ready(function() {
					$.slidebars({
						disableOver: 600,
						hideControlClasses: true
					});
				});
			}) (jQuery);
		</script>{% endblock %}
        <div class="clearfixer">&nbsp;</div>
    </div>


    {% block up_footer %}
    <div id="up_footer_wrapper">

            <div id="up_footer_border_left">
                {% block up_footer_left_content %}
                <div>
                &nbsp;
                </div>
                {% endblock %}
            </div><!-- NO SPACE HERE --><div id="up_footer_border_center"> &nbsp;
                <img class="footer_center_img" src="{{ STATIC_URL }}MetalRadiance/img/icons/pegasus_medal.png"/>
            </div><!-- NO SPACE HERE --><div id="up_footer_border_right">
                {% block up_footer_right_content %}
                <div>
                &nbsp;
                </div>
                {% endblock %}
            </div>

    </div>
    {% endblock %}


    {% block low_footer %}
    <div id="low_footer_wrapper">
        <div id="low_footer_border">
            {% block low_footer_content %}
                &nbsp;
            {% endblock %}
        </div>
    </div>
    {% endblock %}


    {% block bottom_padding %}

    <div class="desktop-only" style="height: 200px">
        &nbsp;
    </div>
    {% endblock %}



    <script language="javascript" type="text/javascript">
        // listen for scroll it suppose to fixed the menu when scrolling
   /*     var positionElementInPage = $('.marble_menu').offset().top;
        $(window).scroll(
            function() {
                if ($(window).scrollTop() >= positionElementInPage) {
                    // fixed
                    $('.marble_menu').addClass("floatable");
                } else {
                    // relative
                    $('.marble_menu').removeClass("floatable");
                }
            }
        ); */
    </script>

    <script language="javascript" type="text/javascript">


    function default_ajax_error_handler(jqXHR, extStatus, errorThrown) {
        msg = "Server communication problem - " + extStatus;
        if (errorThrown) {
            msg += " (" + errorThrown + ")";
        }
        $.jnotify(msg, "error", 2000);
    }


    String.prototype.format = String.prototype.f = function() {
        var s = this,
            i = arguments.length;

        while (i--) {
            s = s.replace(new RegExp('\\{' + i + '\\}', 'gm'), arguments[i]);
        }
        return s;
    };


    {% render_block "definition_js" %}


    var launchPulsationOnAdminNotes = function(prefix) {
           /* Signal that parts of the page are for admins only */
           $(prefix + " .admin-note").not(prefix + " .admin-note .admin-note").pulsate({
                              color: "#9D8126",                       // set the color of the pulse
                              reach: 4,                              // how far the pulse goes in px
                              speed: 1000,                            // how long one pulse takes in ms
                              pause: 500,                               // how long the pause between pulses is in ms
                              glow: true,                             // if the glow should be shown too
                              repeat: true,                           // will repeat forever if true, if given a number will repeat for that many times
                              onHover: false                          // if true only pulsate if user hovers over the element
                            });
    };


    var INIT_JS = function() {

            if (typeof my_fast_transitions == 'undefined' && 0) {  // JS PAGE TRANSITIONS DISABLED ATM
                my_fast_transitions = new ft({ /* data-ftrans attr must be set to slide/slideup/slidedown/fade/flip/pop */
                        "navB" : "",   //Effect for navigation button, leave it empty to disable it
                        "but" : false,           //Flag to enable transitions on button, false by default
                        "cBa" : INIT_JS,      //callback function, with newly defined body
                }); // nifty javascript transitions between pages
            }


            $("#full_header").mmenu({
                                       navbar: {
                                           add: true,
                                           title: "{{ _('Controls')|escapejs }}",
                                           titleLink: null
                                       },
                                       // options : http://mmenu.frebsite.nl/documentation/options/
                                       /* DO NOT enable swip-to-open, it might interfere with mobile touch-scrolling
                                        dragOpen: {
                                           open: $.mmenu.support.touch  // only on touch devices
                                       }*/
                                    },
                                    {
                                       // configuration : http://mmenu.frebsite.nl/documentation/options/configuration.html
                                       clone: true
                                    });
            //var mmenuApi = $("#full_header").data( "mmenu" );
            //mmenuApi.open();

            $('#menulist').dropmenu(
                {
                    effect          : "none",       //  "slide", "fade", or "none" - BEWARE, ANIMATIONS CREATE A MINIBUG WITH MENU HOVER EVENT
                    speed           : "fast", //  "normal", "fast", "slow", 100, 1000, etc
                    timeout         : 300,
                    nbsp            : true,
                    maxWidth        : 250
                }
            );

            $( '#menulist li:has(ul)' ).doubleTapToGo();  // to make menu work on touch-devices

            /* only half working parralax system

            window.onscroll = function() {

                    var speed = 0.6;
                    var posX = Math.floor(window.pageXOffset * speed);
                    var posY = Math.floor(window.pageYOffset * speed);

                    $("body").css("background-position", posX + "px " + posY + "px");
                }
            */


           launchPulsationOnAdminNotes("body");

           /*
           $("form").disabler({ // FIXME - ALL disabled container must have an ID !! Let's create it on demand!!
              disable : true
            });*/


        // $.ajaxError(handler(event, jqXHR, ajaxSettings, thrownError)) - NO, we want it to be OVERRIDDEN by individual ajax settings
        $.ajaxSetup({
                    error: default_ajax_error_handler
                    });


        {% comment %}
            jNotify Usage:
            $.jnotify(message, [options]);
            $.jnotify(message, delay);
            $.jnotify(message, sticky);
            $.jnotify(message, type, [delay/sticky]); // success/warning/error or nothing (grey)
        {% endcomment %}

         jnotify_options = {
              // define core settings
              type: "",                                  // if a type is specified, then an additional class of classNotification
                                                          // + type is created for each notification
              delay: 3500,                              // the default time to show each notification (in milliseconds)
              sticky: false,                             // determines if the message should be considered "sticky" (user
                                                          // must manually close notification)
              closeLabel: "&times;",                     // the HTML to use for the "Close" link
              showClose: true,                           // determines if the "Close" link should be shown if notification is also sticky
              fadeSpeed: 600,                           // the speed to fade messages out (in milliseconds)
              slideSpeed: 250,                           // the speed used to slide messages out (in milliseconds)

              // define the class statements
              classContainer: "jnotify-container",       // className to use for the outer most container--this is where all the
                                                          // notifications appear
              classNotification: "jnotify-notification", // className of the individual notification containers
              classBackground: "jnotify-background",     // className of the background layer for each notification container
              assClose: "jnotify-close",               // className to use for the "Close" link
              classMessage: "jnotify-message",           // className to use for the actual notification text container--this is
                                                          // where the message is actually written

              // event handlers
              init: null,                                // callback that occurs when the main jnotify container is created
              create: null,                              // callback that occurs when when the note is created (occurs just before
                                                          // appearing in DOM)
              beforeRemove: null,                        // callback that occurs when before the notification starts to fade away
              remove: null,                              // callback that occurs when notification is removed
              transition: null                          // allows you to overwrite how the transitions between messages are handled
                                                          // receives the following arguments:
                                                          //   container - jQuery object containing the notification
                                                          //   message   - jQuery object of the actual message
                                                          //   count     - the number of items left in queue
                                                          //   callback  - a function you must execute once your transition has executed
                                                          //   options   - the options used for this jnotify instance
        };

        $.jnotify.setup(jnotify_options);

        /* TESTS of JNOTIFY
        $.jnotify("mehello", "success", true);
        $.jnotify("mehello", "warning", true);
        $.jnotify("mehello", "error", true);
        $.jnotify("mehello", "", true);*/


        $(".notification_panel").css( 'cursor', 'pointer' );
        $(".notification_panel_content").css( 'cursor', 'auto' );
        $(".notification_panel").click(function() {
            $(this).slideUp();
        });
        $(".notification_panel_content").click(function(event) {
            event.stopPropagation();
        });


        {% render_block "onload_js" %}

    };

    $(document).ready(INIT_JS); // only called on full page loading, not on ajax-based fast-transitions
    </script>

    {% block body_bottom %}{% endblock %}
</body>
</html>