

{% load kwacros i18n %}



{% kwacro shareable_link_float link_url %}
<span class="float-right">
    <a title="{% trans "Share" %}" href="#" onclick="window.prompt ('{{ _("Shareable link to copy/paste")|escapejs }}', '{{SITE_DOMAIN}}{{link_url}}'); return false;">
        <img src="{{ STATIC_URL }}MetalRadiance/img/icons/share_link.png">
    </a>
</span>
{% endkwacro %}

{% kwacro shareable_link_font link_url %}
    <a title="{% trans "Share" %}" href="#" onclick="window.prompt ('{{ _("Shareable link to copy/paste")|escapejs }}', '{{SITE_DOMAIN}}{{link_url}}'); return false;">
        <span class="fa fa-lg fa-chain"></span>
    </a>
{% endkwacro %}



{% kwacro deletion_button del_id undeletable_identifiers %}
    {% if del_id %}
        {% if del_id not in undeletable_identifiers %}
        <form action="" method="post" class="form_deletion_button">
            <input type="hidden" name="_action_" value="delete_item"/>
            <input type="hidden" name="deleted_item" value="{{ del_id }}"/>
            <input type="submit" name="delete" value="{% trans "Delete" %}" onclick="return confirm('{{ _("Are you sure you want to delete this entry?")|escapejs }}');"/>
        </form>
        {% else %}
        <p><i>{% trans "This item cannot be moved or deleted." %}</i></p>
        {% endif %}
    {% endif %}
{% endkwacro %}



{% kwacro main_panel_start frame_class="giant_frame" %}

    <div class="{{ frame_class }} clearfix">


        <img class="big_stick_bottom_left" src="{{ STATIC_URL }}MetalRadiance/img/decorations/big_deco_bl.png"/>
        <img class="icon_stick_bottom_left" src="{{ STATIC_URL }}MetalRadiance/img/icons/owl.png"/>

        <img class="big_stick_bottom_right" src="{{ STATIC_URL }}MetalRadiance/img/decorations/big_deco_br.png"/>
        <img class="icon_stick_bottom_right" src="{{ STATIC_URL }}MetalRadiance/img/icons/hexagon.png"/>

        <img class="big_stick_top_left" src="{{ STATIC_URL }}MetalRadiance/img/decorations/big_deco_tl.png"/>
        <img class="icon_stick_top_left" src="{{ STATIC_URL }}MetalRadiance/img/icons/key.png"/>

        <img class="big_stick_top_right" src="{{ STATIC_URL }}MetalRadiance/img/decorations/big_deco_tr.png"/>
        <img class="icon_stick_top_right" src="{{ STATIC_URL }}MetalRadiance/img/icons/sun_moon.png"/>

        <div class="main_frame_border clearfix">
            <div class="main_frame_content">

{% endkwacro %}


{% kwacro main_panel_end %}

             <div class="clearfixer">&nbsp;</div>
             </div>
         </div>
    </div>

{% endkwacro %}





{% kwacro side_panel_start frame_class="mini_frame float_left clear_left" decos="1" %}

    <div class="{{ frame_class }}">

        {% if decos %}
            <img class="stick_top_left" src="{{ STATIC_URL }}MetalRadiance/img/decorations/mini_deco_top_left_{{ decos }}.png"/>
            <img class="stick_bottom_right" src="{{ STATIC_URL }}MetalRadiance/img/decorations/mini_deco_bottom_right_{{ decos }}.png"/>
        {% endif %}

        <div class="mini_frame_content">

{% endkwacro %}


{% kwacro side_panel_end %}

        </div>
    </div>

{% endkwacro %}




