
{% extends "base_one_column.html" %}

{% load sekizai_tags i18n helpers kwacros %}

{% block sekizai_calls %}
{{ block.super }}

{% addtoblock "definition_js" %}


function notify_chess_player_victory() {
    $.post("",
            {
             _action_: "notify_chess_player_victory",
             },
            function(answer) {
                $.jnotify("{% trans "Your victory has well been recorded!" %}", "success", true)
            },
            'json').fail(function() {
                            // duplicate with default error handler $.jnotify("{{ _("Victory registration, retrying...")|escapejs }}", "error", 2000)
                            window.setTimeout(notify_chess_player_victory, 2000);

                        });

}

/* Monkey-patch move function of displayer */
P4wn_display.prototype.move = function(start, end, promotion){
    var state = this.board_state;
    var move_result = state.move(start, end, promotion);
    if(move_result.ok){
        this.display_move_text(state.moveno, move_result.string);
        this.refresh();
        if ((move_result.flags & P4_MOVE_FLAG_MATE) && (move_result.flags & P4_MOVE_FLAG_CHECK)) {
            // checkmate situation
            if (this.players[state.to_play] == 'computer') {
                // previous player is assumed to be human
                //alert("HUMAN WON");
                console.log("Chess game won by Human");
                $.jnotify("{% trans "You won this game! Sending data to server..." %}", "success");
                notify_chess_player_victory();
            }
            else {
                // DO NOTHING alert("COMPUTER WON");
                 console.log("Chess game won by Computer");
                $.jnotify("{% trans "You lost this game!" %}");
            }
        }

        if (! (move_result.flags & P4_MOVE_FLAG_MATE)){
            this.next_move_timeout = window.setTimeout(
                function(p4d){
                    return function(){
                        p4d.next_move();
                    };
                }(this), 1);
        }
    }
    else {
        p4_log("bad move!", start, end);
    }
    for (var i = 0; i < this.move_listeners.length; i++){
        this.move_listeners[i](move_result);
    }

    // p4_log(p4_state2fen(this.board_state)); -> dumps board state

    return move_result.ok;
};


{% endaddtoblock %}

{% addtoblock "onload_js" %}

P4WN_SQUARE_WIDTH = 30;
P4WN_SQUARE_HEIGHT = 30;
P4WN_WRAPPER_CLASS = 'p4wn-wrapper';
P4WN_BOARD_CLASS = 'p4wn-board';
P4WN_MESSAGES_CLASS = 'p4wn-messages';
P4WN_LOG_CLASS = 'p4wn-log';
P4WN_CONTROLS_CLASS = 'p4wn-controls';
P4WN_BLACK_SQUARE = 'p4wn-black-square';
P4WN_WHITE_SQUARE = 'p4wn-white-square';

P4WN_ROTATE_BOARD = false;
P4WN_LEVELS = ['stupid', 'middling', 'default', 'slow', 'slowest'];
P4WN_DEFAULT_LEVEL = 2; // default
P4WN_ADAPTIVE_LEVELS = true;

P4WN_IMAGE_DIR = '{{ STATIC_URL }}libs/p4wn/images';

P4WN_PROMOTION_STRINGS = ['queen', 'rook', 'knight', 'bishop'];
P4WN_PROMOTION_INTS = [P4_QUEEN, P4_ROOK, P4_KNIGHT, P4_BISHOP];

{% if not user.is_master %}
    P4WN_CONTROLS.splice(0, 4); // remove player choices and undo
    P4WN_CONTROLS.splice(1, 1); // remove computer level choice
{% endif %}

{% if game_is_writable %}
    p4wnify($("#chess_panel")).next_move();
{% endif %}


{% endaddtoblock %}


{% endblock %}


{% block content %}

    <div align="center">
    <form id="new_chess_game" action="" method="get">
        <span>{% trans "Your new colour:" %}</span>
        <select name="player" style="width: auto !important;">
            <option value="white">white</option>
            <option value="black">black</option>
        </select>
        <input type="submit" class="" onclick="return confirm('{{ _("This will reset your current game, are you sure?")|escapejs }}')"
               value="{% trans "Create New Game" %}" style="width: auto !important;" />
    </form>
    </div>

    <br/><br/>

    {% if game_is_writable %}
    <div align="center">
       <div id="chess_panel"></div>
    </div>
    {% endif %}

{% endblock %}




