{% extends "base_one_column.html" %}

{% load i18n helpers %}

{% block content %}



<h2>
	{% trans "Cities where you have mercenaries" %}
</h2>

<p class="inner_center">
	<b>{% if mercenaries_locations %} {{ mercenaries_locations|join:", " }} {% else %} {% trans "None" %} {% endif %}</b>
</p>


<br/>

<h2>
	{% trans "Hire new agents" %}
</h2>
<div class="form_scroll_medium center" >
    <form action="{{ hiring_form.url }}" method="post">
    {{ hiring_form.as_p }}
    <p><input type="submit" name="hire_agents" value="{% trans "Hire agents" %}" /></p>
    </form>
</div>
{% endblock %}