{% extends "base_one_column.html" %}

{% load i18n helpers %}

{% block content %}

<br/>

<h2>
	{% trans "Your mercenaries" %}
</h2>

<p class="inner_center">
	{% trans "Cities:" %}
    {% if mercenaries_locations %}
       <b>{{ mercenaries_locations|join:", " }}</b> {% else %} {% trans "None" %}
    {% endif %}

	<br/><br/>

	{% if mercenaries_locations %}
        {% trans "Email contact:" %} <b>{{ dedicated_email }}</b>
    {% endif %}
</p>


<br/>

<h2>
	{% trans "Hire new agents" %}
</h2>
<div class="form_scroll_medium center" >
    <form action="{{ hiring_form.url }}" method="post">
    {{ hiring_form.as_p }}
    <p><input type="submit" name="hire_agents" value="{% trans "Hire agents" %}" /></p>
    </form>
</div>


{% endblock %}