{% extends "base_one_column_isolated.html" %}

{% load i18n helpers %}

{% block content %}

    {% if result_message %}
    <p>
        {{ result_message|linebreaksbr }}
    </p>
        <br><br>
    {% endif %}

    {% if translation_form %}

        <div class="form_scroll_medium center" >
        <form action="{{ translation_form.url }}" method="post">
        {{ translation_form.as_p }}
        <input type="submit" name="translate" value="{% trans "Translate" %}" />
        </form>
        </div>

    {% endif %}

{% endblock %}

