{% extends "base_one_column_isolated.html" %}

{% load i18n helpers %}

{% block content %}

    {% if result_message %}
    <p>
        {{ result_message|linebreaksbr }}
    </p>
    <br><br>
    {% else %}
    <p>
        Entrez sur cette page la transcription de runes akarites, pour en avoir une traduction.
    </p><br>
    {% endif %}

    {% if translation_form %}

        <div class="form_scroll_medium center" >
        <form action="{{ translation_form.url }}" method="post">
        {{ translation_form.as_p }}
        <input type="submit" name="translate" value="{% trans "Translate" %}" />
        </form>

        <br><b>Format attendu</b> : syllabes séparées par des espaces (ex. "su ki ta ko...")</b>
        </div>

    {% endif %}

{% endblock %}

