{% extends "base_one_column.html" %}

{% load i18n helpers %}

{% block content %}


{% if investigation_form %}
    <div align="center" class="form_scroll_thin center">
        <form action="{{ investigation_form.url }}" method="post">
        {{ investigation_form.as_p }}
        <input type="submit" name="investigation" value="{% trans "Launch Investigation" %}" />
        </form>
    </div>
{% else %}
    {% trans "No telecom investigation possible at the moment." %}
{% endif %}


{% endblock %}

