{% extends "base_one_column.html" %}

{% load i18n helpers %}

{% block content %}


    {% if specific_message %}
    <p>{{ specific_message }}</p>
    {% endif %}


    {% if scan_form %}
    <div class="form_scroll_medium center">
    <form action="{{ scan_form.url }}" method="post">
    <table class="center full_width">
    {{ scan_form.as_table }}
    <tr>
        <td colspan="2">
            <br/>
            <input type="submit" name="scan" value="{% trans "Submit Scan Request" %}" />
        </td>
    </tr>
    </table>
    </form>
    </div>
    {% endif %}


{% endblock %}
