{% extends "metalradiance_base.html" %}
{% load cms_tags menu_tags sekizai_tags heading kwacros i18n %}
{% loadkwacros "metalradiance_kwacros.html" %}

{% block html_title %}{% page_attribute "title" %} - {% trans "Chrysalis Game" %}{% endblock %}

{% block sekizai_calls %}
    {{ block.super }}
    {% addtoblock "meta" %}
        <meta name="description" content="{% page_attribute "meta_description" %}">
    {% endaddtoblock %}
{% endblock %}

{% block body_top %}

    {% if request.user.is_staff %}
        {# Hack to temporary fix issue: https://github.com/divio/django-cms/issues/1105 #}
        <script type="text/javascript">
            jQuery(document).ready(function () {
                var padding = parseInt($(document.body).css('margin-top'));
                if (padding < 0) {
                    $(document.body).css('margin-top', '0px');
                }
            });
        </script>
    {% endif %}


    {% for m in messages %}
        {# we thus clear the messages, since we don't display them in the CMS at the moment #}
    {% endfor %}

{% endblock %}




{% block carving_left %}
<span style="color: white; font-size: 1em">
{% trans "Welcome" %}
</span>
{% endblock %}

{% block carving_right %}
<span style="color: white; font-size: 1em">
{% if request.user and request.user.is_authenticated %}
    {{ request.user.username|capfirst }}
{% else %}
    {% trans "Visitor" %}
{% endif %}
</span>
{% endblock %}



{% block left_big_icon_panel %}
{% endblock %}

{% block right_big_icon_panel %}
{% endblock %}


{% block main_menu %}
    {{ block.super }}
    {% show_menu 0 100 100 100 %}

    {% comment %} NO MORE AUTHENTICATION NEEDED
    <li class="toplevel">
    {% if not user.is_authenticated %}
        <a href="{% url auth_login %}">{% trans "Login" %}</a>
    {% else %}
        <a href="{% url userprofiles_profile_change %}">{% trans "Profile" %}</a>
        <ul>
            <li>
                <a href="{% url auth_password_change %}?next=/">{% trans "Change password" %}</a>
            </li>
            <li>
                <a href="{% url auth_logout %}?next=/">{% trans "Logout" %}</a>
            </li>
        </ul>
    {% endif %}
    </li>
    {% endcomment %}

{% endblock %}


{% block up_footer_left_content %}
<div style="font-size: 11px; line-height: 1em; margin: 1px 0;">
{% blocktrans %}
This site requires a fully CSS3-enabled browser like Firefox, Chrome, Safari or Edge. Internet Explorer users might experience glitches.
{% endblocktrans %}
</div>
{% endblock %}

{% block up_footer_right_content %}
<div style="font-size: 12px; line-height: 1em;">
{% blocktrans %}
Game only available in French for now. Translations will arrive later.
{% endblocktrans %}
</div>
{% endblock %}


{% block low_footer_content %}
<div style="font-size: 11px; line-height: 1em; margin: 1px 0;">
{% blocktrans %}
Webdesign "Metal Radiance" <br/> by R-gun for Chrysalis
{% endblocktrans %}
 </div>
{% endblock %}
