@charset "UTF-8";
a, abbr, acronym, address, applet, article, aside, audio, b, big,
blockquote, body, canvas, caption, center, cite, code, dd, del,
details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure,
footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe,
img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output,
p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub,
summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul,
var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:after, blockquote:before, q:after, q:before {
  content: ;
}
@font-face {
  font-family: black_chancery;
  src: url(img/fonts/black_chancery.ttf);
}
@font-face {
  font-family: rothenburg_decorative;
  src: url(img/fonts/rothenburg_decorative.ttf);
}
@font-face {
  font-family: kingthings_calligraphica_light;
  src: url(img/fonts/kingthings_calligraphica_light.ttf);
}
.bg_beige, .mixed {
  background-color: #a89d97;
}
.bg_blue, .info {
  background-color: #0000ff;
}
.bg_green, .success {
  background-color: #008000;
}
.bg_orange, .warning {
  background-color: #ffa500;
}
.bg_red, .error {
  background-color: #ff0000;
}
.center {
  margin-left: auto !important;
  margin-right: auto !important;
}
.inner_center {
  text-align: center !important;
}
.inner_center > * {
  margin-left: auto !important;
  margin-right: auto !important;
}
.float-left, .float_left, .floatleft, .left {
  float: left;
}
.float-right, .float_right, .floatright, .right {
  float: right;
}
.inner_left {
  text-align: left !important;
}
.inner_right {
  text-align: right !important;
}
.clear_both {
  clear: both;
}
.clear_left {
  clear: left;
}
.clear_right {
  clear: right;
}
.stack_left {
  float: left;
  clear: left;
}
.stack_right {
  float: right;
  clear: right;
}
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
* html .clearfix {
  height: 1px;
}
.full_width {
  width: 100% !important;
}
.half_width {
  width: 100% !important;
}
.big_width {
  width: 600px !important;
}
.medium_width {
  width: 400px !important;
}
.small_width {
  width: 250px !important;
}
@font-face {
  font-family: augustus;
  src: url(img/fonts/augustus.ttf);
}
body {
  background: #152421 url("img/backgrounds/mobile/body-bg.jpg") repeat-y top center;
  margin: 0 auto;
  font-family: Arial, Tahoma, Verdana, sans-serif;
  width: auto;
}
#header {
  width: 100%;
  height: 74px;
  background: #342716 url("img/backgrounds/mobile/header-bg.jpg") repeat-x top center;
  text-align: center;
}
#menu {
  width: 100%;
  height: 45px;
  background: #342716 url("img/backgrounds/mobile/menu-bg.jpg") repeat-x bottom center;
  text-align: center;
}
#menu a {
  font-size: 16px;
  color: #ffeaa3;
  text-decoration: none;
  line-height: 27px;
  padding: 0px 10px 0px 10px;
}
#menu a:hover {
  text-decoration: underline;
}
#menu-bar {
  width: 100%;
  height: 13px;
  background: url("img/backgrounds/mobile/menu-bar.png") repeat-x top center;
}
#page {
  margin: 0 auto;
  width: 97%;
  text-align: center;
}
table.frame {
  border-collapse: collapse;
  border-spacing: 0;
}
div.frame {
  background-color: transparent;
  border-color: #775f13;
  border-style: ridge;
  border-width: 14px;
  border-image: url("img/backgrounds/mobile/frame.jpg") 14 fill repeat;
  margin: 4px 0;
}
td.frame-hg {
  height: 15px;
  width: 15px;
  background: url("img/backgrounds/mobile/frame.jpg") no-repeat top left;
}
td.frame-h {
  height: 15px;
  background: url("img/backgrounds/mobile/frame-h.jpg") repeat-x top center;
}
td.frame-hd {
  height: 15px;
  width: 15px;
  background: url("img/backgrounds/mobile/frame.jpg") no-repeat top right;
}
td.frame-cg {
  width: 15px;
  background: url("img/backgrounds/mobile/frame-v.jpg") repeat-y top left;
}
td.frame-cd {
  width: 15px;
  background: url("img/backgrounds/mobile/frame-v.jpg") repeat-y top right;
}
td.frame-bg {
  height: 15px;
  width: 15px;
  background: url("img/backgrounds/mobile/frame.jpg") no-repeat bottom left;
}
td.frame-b {
  height: 15px;
  background: url("img/backgrounds/mobile/frame-h.jpg") repeat-x bottom center;
}
td.frame-bd {
  height: 15px;
  width: 15px;
  background: url("img/backgrounds/mobile/frame.jpg") no-repeat bottom right;
}
td.frame-space {
  height: 5px;
  background: #21140b;
}
td.frame-blank {
  height: 10px;
}
.frame {
  background: #21140b;
  text-align: left;
  font-size: 12px;
  line-height: 14px;
  color: #ffeaa3;
}
.frame a {
  font-size: 12px;
  color: #ffeaa3;
  line-height: 16px;
  text-decoration: underline;
  font-style: italic;
}
.frame img {
  position: relative;
  float: left;
}
h1 {
  font-size: 30px;
  line-height: 34px;
  color: #ffd21d;
  text-shadow: 2px 2px 1px #000000, -2px -2px 1px #000000;
  font-family: augustus;
  text-stroke: 1px #000;
}
h2 {
  font-size: 16px;
  line-height: 20px;
}
h3 {
  padding: 0px 0px 0px 34px;
}
a.big-link {
  color: #ffeaa3;
  text-decoration: underline;
  font-style: italic;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
}
p.footer {
  color: #ffeaa3;
  font-size: 10px;
  line-height: 80px;
}
p.footer a {
  text-decoration: underline;
  font-style: italic;
  color: #ffeaa3;
}
div.read a, div.read p {
  color: #b5b1a3;
}
img.img-article {
  margin: 5px 5px 5px 0px;
}
p.small {
  font-size: 10px;
}
p.chat {
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 10px;
  font-style: italic;
}
p.title {
  text-decoration: underline;
}
p.info {
  font-style: italic;
  color: #ff0000;
  font-size: 14px;
  padding: 5px 0px 5px 0px;
}
input {
  width: 98%;
  margin-bottom: 8px;
}
input.chat {
  width: 72%;
  margin-bottom: 0px;
  margin-right: 5px;
}
input.submit {
  width: 70px;
  margin-bottom: 0px;
}
input.search {
  width: 80px;
  margin-bottom: 0px;
}
textarea {
  width: 100%;
  margin-right: 3px;
  font-family: Arial, Tahoma, Verdana, sans-serif;
}

