

{% load i18n helpers %}
<!-- TODO DISPLAY USER MESSAGES HERE IF EXISTING -->

<div class="form_scroll_medium">

            <!-- remove this asap, use centralized system instead -->
            {% for message in messages %}
                {{ message|linebreaksbr }}<br/>
            {% endfor %}

    <h3>{{ title }}</h3>

    <form action="" method="post" class="admin_widget_form">

	    <input type="hidden" name="target_form_id" value="{{ target_form_id }}">

	    {{ form.as_p }}

	    <input type="submit" name="action" value="{% trans "SUBMIT TEXT" %}" />

    </form>
</div>
