{% load i18n helpers%}
<div class="contact_display" title="{% if contact.description %}{{ contact.description }}{% endif %} {% if display_admin_tips and contact.gamemaster_hints %} [{{ contact.gamemaster_hints }}]{% endif %}">
<img src="{% game_file_img contact.avatar|default:default_contact_avatar alias="contact_avatar" %}"/>

{% if compose_link %}<a href="{% game_view_url "pychronia_game.views.compose_message" %}?recipient={{ contact.address|default:address|urlencode }}">{% endif %}
<span style="color: {{ contact.color|default:"black" }}">
{% with contact.address|default:address|split:"@" as address_parts %}
{{ address_parts.0 }}<br/>
@{{ address_parts.1 }}
{% endwith %}
</span>
{% if compose_link %}</a>{% endif %}
</div>
