 <object type="application/x-shockwave-flash" data="{{ STATIC_URL }}libs/multi_mp3_player.swf" width="{{ player_width }}" height="{{ player_height }}">
 <param name="movie" value="{{ STATIC_URL }}libs/multi_mp3_player.swf" />
 <param name="bgcolor" value="#ffffff" />
 <param name="FlashVars" value="width={{ player_width }}&amp;height={{ player_height }}&amp;configxml={{ player_conf_url|urlencode }}" />
 <param name="wmode" value="opaque" /><!-- important to solve z-index troubles -->
 <!--param name="configxml" value="% game_view_url "pychronia_game.views.get_radio_xml_conf" %" /-->
 <!-- BETTER COLORS param name="FlashVars" value="mp3=test.mp3|test.mp3|test.mp3|test.mp3|test.mp3|test.mp3|test.mp3&amp;bgcolor1=f6f6f6&amp;bgcolor2=cccccc&amp;buttoncolor=999999&amp;buttonovercolor=0&amp;slidercolor1=cccccc&amp;slidercolor2=999999&amp;sliderovercolor=666666&amp;textcolor=0&amp;playlistcolor=999999&amp;currentmp3color=996633&amp;scrollbarcolor=999999&amp;scrollbarovercolor=0" /-->

 </object>