{% load i18n %}

{% if content_blocks.top_content.name %}
    {% include "utilities/static_page_block.html" with article_name=content_blocks.top_content.name article_data=content_blocks.top_content.data initial_header_level=2 %}
{% endif %}

{% if action_explanations %}
    <h2>{% trans "Terms of Use" %}</h2>
    {% for action_name, explanations in action_explanations %}
    <div>
    	<h2>{{ action_name }}</h2>
    	<ul>
    		{% for strings_list in explanations %}
    		<li>{{ strings_list|join:" " }}</li>
    		{% endfor %}
    	</ul>
    </div>

    {% endfor %}
{% endif %}
