{% load i18n helpers %}
{% if article_data %}
    <div class="section">{% rich_text article_data.content excluded_link=excluded_link initial_header_level=initial_header_level %}</div>

    {% if display_admin_tips and article_data.gamemaster_hints %}
    <div class="admin-note">
        {% rich_text article_data.gamemaster_hints excluded_link=excluded_link initial_header_level=initial_header_level %}
    </div>
    {% endif %}
{% elif article_name and display_admin_tips %}
    <div class="admin-note missing-content">{% blocktrans %}Content block '{{ article_name }}' would appear here.{% endblocktrans %}</div>
{% endif %}