{% extends "base_one_column.html" %}

{% load i18n helpers %}

{% block content %}

        <h2>{% trans "Summary of your belongings" %}</strong></h2>

        <div style="margin:auto; max-width:400px;">
        <b>
        <ul>
            <li>{% trans "Money:" %} {{ character_properties.account }} ¤</li>
            <li>{% trans "Gems:" %}
                    {% if user_gems %}
                        {{ user_gems|list_sum }}¤ {% trans "total" %}
                        ({{ user_gems|list_append_to_each:"¤"|join:", " }})
                    {% else %}
                        {% trans "None" %}
                    {% endif %}</li>
            <li>{% trans "Objects:" %} {% if user_artefacts %}{{ user_artefacts|join:", " }}{% else %}{% trans "None" %}{% endif %}</li>
        </ul>
        </b>
        </div>

        <br/>

        <h2>{% trans "Password change" %}</strong></h2>

        <form action="{{ password_change_form.url }}" method="post" autocomplete="off">
        <table class="realtable">
        {{ password_change_form.as_table }}
        <tr>
            <td colspan="2">
                <input type="submit" name="recover" value="{% trans "Change Password" %}" />
            </td>
        </tr>
        </table>
        </form>

        <h2>{% trans "Secret Question Change" %}</strong></h2>

        <form action="{{ question_change_form.url }}" method="post" autocomplete="off">
        <table class="realtable">
        {{ question_change_form.as_table }}
        <tr>
            <td colspan="2">
                <input type="submit" name="recover" value="{% trans "Change Secret Question" %}" />
            </td>
        </tr>
        </table>
        </form>

{% endblock %}


