{% extends "base_one_column.html" %}

{% load i18n helpers %}

{% block content %}

        <h2>{% trans "Summary of your belongings" %}</strong></h2>

        <b>
        <ul>
            <li>{% trans "Money:" %} {{ character_properties.account }} ¤</li>
            <li>{% trans "Gems (values in ¤):" %} {{ user_gems|join:", " }}</li>
            <li>{% trans "Objects:" %} {{ user_artefacts|join:", " }}</li>
        </ul>
        </b>

        <h2>{% trans "Password change" %}</strong></h2>

        <form action="{{ password_change_form.url }}" method="post">
        <table style="margin:auto;width:400px;">
        {{ password_change_form.as_table }}
        <tr>
            <td colspan="2">
                <br/>
                <input type="submit" name="recover" value="{% trans "Change Password" %}" />
            </td>
        </tr>
        </table>
        </form>

{% endblock %}


