
{% extends "base_one_column.html" %}

{% load i18n helpers %}


{% block headers %}
    {{ block.super }}
{% endblock %}


{% block content %}


<div class="post-it">
    {% trans "You're are currently in a blind friendship with:" %}
    <b>{{ current_friends|join:", "|default:_("No one") }}</b>
</div>

<br />

{% for other_username, action_params in friendship_actions %}

    <p>

    <b>{{ other_username|capfirst }}: {{ action_params.2 }} </b>

    {% if action_params.0 %}
    <form action="#" method="post">
        <input type="hidden" name="_action_" value="{{ action_params.0 }}" />
        <input type="hidden" name="other_username" value="{{ other_username }}" />
        <input type="submit" name="submit" value="{{ action_params.1 }}" />
    </form>
    {% endif %}

    </p>
    <br/>
{% endfor %}



{% if friendship_request_form %}
    <div style="margin: 10px auto; text-align: center;">
    {% include "utilities/scroll_form.html" with title=_("Friendship Request") form=friendship_request_form class="center" button_title=_("Submit") button_name="request_friendship" %}
    </div>
{% endif %}



{% endblock %}
