{% extends "base_one_column.html" %}

{% load i18n helpers %}

{% block content %}

    <div class="scroll_yellow_flat center medium_width" autocomplete="on">

        <form action="{% game_view_url "pychronia_game.views.login" %}?next={{ next_url|urlencode }}" method="post">
        <table class="center">

        {{ login_form.as_table }}
        <tr>

            <td>
                <br/>
                <input type="submit" id="login" name="login" value="{% trans "Log Me In !" %}" />
            </td>

            <td>
                <br/>
                <input type="submit" name="password_forgotten" value="{% trans "Forgot password ?" %}" />
            </td>

        </tr>
        </table>
        </form>

        <script type="text/javascript">
            $("#login").focus();
        </script>

    </div>


{% endblock %}