{% extends "base_one_column.html" %}

{% load i18n helpers %}

{% block content %}

    {% if secret_question and secret_question_form %}

        <div class="scroll_yellow_flat center" style="width: 400px">

            <div align="center"><strong>{% trans "Secret Question" %}{{COLON}} "{{ secret_question }}"</strong></div>

            <form action="{% game_view_url "pychronia_game.views.secret_question" concerned_username=concerned_username %}" method="post" autocomplete="on">
            <table class="inner_center full_width">
            {{ secret_question_form.as_table }}
            <tr>
                <td colspan="2">
                    <br/>
                    <input type="submit" name="recover" value="{% trans "Recover Password" %}" />
                </td>
            </tr>
            </table>
            </form>

        </div>

    {% else %}

        <div align="center"><b><a href="{% game_view_url "pychronia_game.views.login" %}">{% trans "Get back to login page" %}</a></b></div>

    {% endif %}

{% endblock %}


