{% extends "base_one_giant_column.html" %}

{% load sekizai_tags i18n helpers kwacros assign %}
{% loadkwacros "metalradiance_kwacros.html" %}

<!-- UNNNEEEDED ??? script src="{{ MEDIA_URL }}combobox.js" type="text/javascript"></script-->



{% block sekizai_calls %}
{{ block.super }}

{% addtoblock "css" %}
<!--link href="{{ STATIC_URL }}libs/domslides/domslides_styles.css" rel="stylesheet" type="text/css" /-->
<style>
    h2:before, h2:after {
        /* else decorations look like previous/next arrows */
        content: none;
    }
</style>
{% endaddtoblock %}

{% addtoblock "js" %}
<script src="{{ STATIC_URL }}libs/domslides/domslides.js" type="text/javascript"></script>
{% endaddtoblock %}

{% addtoblock "onload_js" %}
    init_domslides();
{% endaddtoblock %}

{% endblock %}




{% block content %}


{% if not items|length %}

    <div class="post-it center small_width inner_center">
        <p><strong>{% trans "No objects to be shown" %}</strong></p>
    </div>

{% else %}

    {% if display_admin_tips %}
    <p class="admin-note">
        <b>{% if allow_3d_visualization %}{% trans "3D visualization is enabled on this page." %}
        {% else %}{% trans "3D visualization is disabled on this page." %}
        {% endif %}</b><br/>
        {% trans "Items with 3D data available" %}{{COLON}} {{items_3d_titles|join:", "|default:_("None")}}.
    </p>
    {% endif %}

    <div id="domslideshow" style="display: none;">

        <div id="loading_msg">{% trans "Please wait while loading..." %}</div>

        <div id="boundary">

            <div id="footer"></div>


            {% for item_name, item_details in items %}

            <div class="slide">


                <h2>
                    [{{ item_details.auction|default:"X" }}] &nbsp; {{ item_details.title }}
                </h2>


                <div align="center">


                  {% with items_3d_settings|dict_get:item_name as settings_3d %}
                    {% if allow_3d_visualization and settings_3d %}

                        <div class="item_display" align="center" style="max-width: {{ settings_3d.image_width }}px; max-height: {{ settings_3d.image_height }}px;">
                            <iframe src="{% game_view_url "pychronia_game.views.item_3d_view" item=item_name %}"
                            width="{{ settings_3d.image_width }}" height="{{ settings_3d.image_height }}"
                            scrolling="no" marginheight="0" marginwidth="0" frameborder="0"
                            style="max-width:100%">
                                <p>Error - your browser is not able to display IFrames.</p>
                            </iframe>
                        </div>

                    {% else %}
                        <img class="item_display slideshow_image" src="{% game_file_url item_details.image %}"/>
                    {% endif %}


                    <blockquote class="marble_panel antic">

                        {% assign name="img_link" %}{% game_file_url item_details.image %}{% endassign %}
                        {% usekwacro shareable_link_float img_link %}

                        {% if item_details.num_items > 1 %}
                        <p>
                            {% trans "Count" %} : <b>{{ item_details.num_items }}</b>
                        </p>
                        {% endif %}
                        {% if item_details.num_items > 1 and item_details.unit_cost %}
                        <p>
                            {% trans "Unit cost" %} : <b>{{ item_details.unit_cost }} {% trans "kashes" %}</b>
                        </p>
                        {% endif %}
                        {% if item_details.total_price %}
                        <p>
                            {% trans "Total Estimated Value" %} : <b>{{ item_details.total_price }} {% trans "kashes" %}</b>
                        </p>
                        {% endif %}

                        <p>
                        {{ item_details.comments}}
                        </p>

                        {% if gems_may_be_memo and item_details.is_gem %}
                        <p>
                            <i>{% trans "Please note that this record is just a memo, these gems may already have been transferred to someone else, individually or not." %}</i>
                        </p>
                        {% endif %}

                        {% if settings_3d %}
                        <p>
                            <i>{% trans "3D visualization is available for this object." %}</i>
                        </p>
                        {% endif %}

                        {% if display_admin_tips and item_details.gamemaster_hints %}
                        <p class="admin-note">
                            {{ item_details.gamemaster_hints }}
                        </p>
                        {% endif %}


                    </blockquote>

                  {% endwith %}

                </div>

            </div>

            {% endfor %}

        </div>

    </div>


{% endif %}

{% endblock %}



