{% extends "base_one_column.html" %}

{% load i18n helpers %}  

{% block content %}  

{% block headers %}  
    {{ block.super }}
    
    <!-- Page transitions - not a godo idea actually -->
    <!--meta http-equiv="Page-Enter" content="RevealTrans(Duration=1;Transition=2)" />
    <meta http-equiv="Page-Exit" content="RevealTrans(Duration=1;Transition=2)" />
    <META http-equiv="Page-enter" content="blendTrans(duration=1.5)" /> 
    <META http-equiv="Page-exit" content="blendTrans(duration=1.5)" />
    
    <script type="text/javascript">
        window.onDOMReady = function() {MakeFluffHappen()};
        function MakeFluffHappen() {
            FluffyKittenMaker(0);
            Conflaburator(0);
        }
        function FluffyKittenMaker(SomeNumberThing) {
            document.body.style.opacity = SomeNumberThing/100;
        }
        function Conflaburator(SomeNumberThing) {
            if (SomeNumberThing <= 100) {
                FluffyKittenMaker(SomeNumberThing);
                SomeNumberThing += 10;
                window.setTimeout("Conflaburator("+SomeNumberThing+")", 1000);
            }
        }
    </script--> 
{% endblock %}


<div align="center">



    <br/>
    <iframe src="{% game_view_url "pychronia_game.views.logo_animation" %}"
        width="528" height="449" style="border: ridge 12px #0222BB;"
        scrolling="no" marginheight="0" marginwidth="0" frameborder="0">
        <p>{% trans "Error - Your Browser is not able to display iframes." %}</p>
    </iframe>


    
</div>

{% endblock %}