{% extends "base_one_giant_column.html" %}

{% load i18n helpers thumbnail assign %}

{% block content %}


<p>
{% blocktrans %}
There are altogether <strong>{{ total_gems_number }}</strong> gems and <strong>{{ total_archaeological_objects_number }}</strong> archeological objects listed below.
{% endblocktrans %}
</p>

{% if display_admin_tips %}
<p class="admin-note">
{% blocktrans %}
Players currently have a total of
<strong>{{ total_bank_account_available }}</strong> kashes in their bank accounts,
while the total value of items listed below is <strong>{{ total_items_price }}</strong> kashes.
{% endblocktrans %}
</p>
{% endif %}

<br/>

<table class="realtable">

	<thead>
		<tr>
		    <th>{% trans "Id" %}</th>
			<th>{% trans "Photo" %}</th>
			<th>{% trans "Details" %}</th>
		    <th>{% trans "Comments" %}</th>
			{% if user.is_master %}
			     <th>{% trans "Transfer" %}</th>
			{% endif %}
		</tr>
	</thead>

	<tbody>
	{% for item_name, item_details in items_for_sale %}
	        {% comment %} item_details is at least (is_gem, number, total_cost, locations, owner, per_item_price) {% endcomment %}

	        {% if user.is_master %}
                 <form id="sale{{ forloop.counter }}" action="{% game_view_url "pychronia_game.views.view_sales" %}" method="POST">
                        <input type="hidden" name="object" value="{{ item_name }}"/>
            {% endif %}


	    <tr class="{% cycle 'rowA' 'rowB' %}">


	    	<td>
	    	    <b>{{ item_details.auction|default:"X" }}</b>
	    	</td>

	    	<td class="preview-image" >
    		    <a href="{% game_file_url item_details.image %}" class="fancybox">
    		        <img class="thumbnail" title="{{ item_details.title }}" src="{% game_file_img item_details.image alias="item_avatar" %}" style="max-width: 150px"/>
    		    </a>
	    	</td>


	    	<td class="bigtext">

	    	    <ul style="text-align: left; min-width: 150px;">

                {% if item_details.num_items > 1 %}
	    	    <li>
    		    	{% if item_details.is_gem %}
    				    {{ item_details.num_items }} {% trans "gem" %}{{ item_details.num_items|pluralize }}
    				{% else %}
    				    {{ item_details.num_items }} {% trans "object" %}{{ item_details.num_items|pluralize }}
    				{% endif %}
				</li>
				{% endif %}

                {% if item_details.num_items > 1 and item_details.unit_cost %}
				<li>{% trans "Unit" %}: {{ item_details.unit_cost }} ¤</li>
				{% endif %}

                {% if item_details.total_price %}
				<li>{% trans "Total" %}: {{ item_details.total_price }} ¤</li>
				</ul>
				{% endif %}


			</td>


			{% if user.is_master %}

                     <td>

                         <p><b>{{ item_details.title }}</b></p>

                         <p>{{ item_details.comments }}</p>

                         {% if item_details.gamemaster_hints %}
                         <p class="admin-note">
                            {{ item_details.gamemaster_hints }}
                         </p>
                         {% endif %}


                    </td>

        	    	{% if not item_details.owner %}

        		 		<td>
        		 			<div><select name="username">
        		 			    <option value="">&nbsp;</option>
        	 				{% for username in usernames %}
        						<option value="{{ username }}">{{ username|capfirst }}</option>
        					{% endfor %}
        					</select></div>
        		 			<div><input type="submit" name="buy" value="{% trans "Transfer" %}"/></div>
        		 		</td>

        			{% else %}

        				<td>
        		 			<div><strong>{% trans "Owner" %}: {{ item_details.owner }}</strong></div>
        		 			<div>
                                  <input type="hidden" name="username" value="{{ item_details.owner }}"/>
                                  <input type="submit" name="unbuy" value="{% trans "Reset" %}"/>
                            </div>
        		 		</td>

        			{% endif %}



    		{% else %}

                    <td>
                        <p><b>{{ item_details.title }}</b></p>
                        <p>{{ item_details.comments }}</p>
                    </td>

    		{% endif %}

	    </tr>


	       {% if user.is_master %}
                 </form>
           {% endif %}


	{% endfor %}
	</tbody>
</table>


{% endblock %}

