{% extends "base_one_giant_column.html" %}

{% load i18n helpers thumbnail assign %}

{% block content %}

{% if user.is_master %}
<p class="admin-note">
Players begin the game with a total of
<strong>{{ total_bank_account_available }}</strong> kashes in their bank accounts,
while the total value of proposed items is <strong>{{ total_items_price }}</strong> kashes.
</p>
{% endif %}

<p>
There are altogether <strong>{{ total_gems_number }}</strong> gems and <strong>{{ total_archaeological_objects_number }}</strong>
archeological objects at auction.
</p><br/>




<table class="realtable">
	<thead>
		<tr>
		    <th style="width:40px;">{% trans "Id" %}</th>
			<th>{% trans "Photo" %}</th>
			<th>{% trans "Details" %}</th>
		    <th>{% trans "Comments" %}</th>
			{% if user.is_master %}
			     <th>{% trans "Sale" %}</th>
			{% endif %}
		</tr>
	</thead>

	<tbody>
	{% for item_name, item_details in items_for_sale %}
	        {% comment %} item_details is at least (is_gem, number, total_cost, locations, owner, per_item_price) {% endcomment %}

	        {% if user.is_master %}
                 <form id="sale{{ forloop.counter }}" action="{% game_view_url "pychronia_game.views.view_sales" %}" method="POST">
                        <input type="hidden" name="object" value="{{ item_name }}"/>
            {% endif %}


	    <tr class="{% cycle 'rowA' 'rowB' %}">


	    	<td>
	    	{{ item_details.auction }}
	    	</td>

	    	<td style="width:160px; background-color: white;">
    		     <a href="{% game_file_url item_details.image %}" class="fancybox">
    		         <img class="thumbnail" title="{{ item_details.title }}" src="{% game_file_img item_details.image alias="item_avatar" %}"/>
    		     </a>
	    	</td>


	    	<td class="bigtext">

	    	    <ul style="text-align: left; min-width: 150px;">

	    	    <li>
		    	{% if item_details.is_gem %}
				    {{ item_details.num_items }} {% trans "gem" %}{{ item_details.num_items|pluralize }}
				{% else %}
				    {{ item_details.num_items }} {% trans "object" %}{{ item_details.num_items|pluralize }}
				{% endif %}
				</li>

				<li>{% trans "Unit" %}: {{ item_details.unit_cost }} ¤</li>
				<li>{% trans "Total" %}: {{ item_details.total_price }} ¤</li>
				</ul>


			</td>


			{% if user.is_master %}

                     <td>
                         {% if item_details.gamemaster_hints %}
                         <p class="admin-note">
                            {{ item_details.gamemaster_hints }}
                         </p>
                         {% else %}
                         &nbsp;
                         {% endif %}

                         <p>{{ item_details.comments }}</p>
                    </td>

        	    	{% if not item_details.owner %}

        		 		<td>
        		 			<select name="username">
        	 				{% for username in usernames %}
        						<option value="{{ username }}">{{ username|capfirst }}</option>
        					{% endfor %}
        					</select><br/>
        		 			<input type="submit" name="buy" value="{% trans "Transfer" %}"/>
        		 		</td>

        			{% else %}

        				<td>
        		 			<strong>{% trans "Owner" %}: {{ item_details.owner }}</strong>
        		 			<input type="hidden" name="username" value="{{ item_details.owner }}"/><br/>
        		 			<input type="submit" name="unbuy" value="{% trans "Reset" %}"/>
        		 		</td>

        			{% endif %}



    		{% else %}

                     <td>
                        <p>{{ item_details.comments }}</p>
                    </td>

    		{% endif %}

	    </tr>


	       {% if user.is_master %}
                 </form>
           {% endif %}




	{% endfor %}
	</tbody>
</table>


{% endblock %}

