{% extends "base_one_giant_column.html" %}

{% load i18n helpers %}

{% block content %}



<div style="text-align: center">
<div style="display: inline-block; text-align: center">
{% include "utilities/scroll_form.html" with title=_("Money Transfer") form=money_form class="" button_title=_("Transfer money") button_name="money_transfer" %}

{% include "utilities/scroll_form.html" with title=_("Gems Transfer") form=gems_form class="" button_title=_("Transfer gems") button_name="gems_transfer" %}

{% include "utilities/scroll_form.html" with title=_("Artefact Transfer") form=artefact_form class="" button_title=_("Transfer artefact") button_name="artefact_transfer" %}
</div>
</div>


<table class="realtable">

	<thead>
		<tr><th>&nbsp;</th>
			<th>{% trans "Identity" %}</th>
			<th>{% trans "Currencies and Items" %}</th>
		</tr>
	</thead>

	<tbody>
	{% for character_group in character_groups %}

		{% for char_details in character_group %}

	    <tr class="{% cycle 'rowA' 'rowB' %}"  style="color:{{ char_details.character_color }};">

		    	<td class="bigtext">
		    	    <img style="vertical-align: middle; max-width: 100px" src="{% game_file_img char_details.avatar|default:default_contact_avatar alias="character_avatar" %}"/>
                </td>


                <td class="bigtext">

	    		    <strong {% if user.is_master %} title="[{% trans "Password:" %} {{ char_details.password }}]" {% endif %}>

                    <p class="big_text">{{ char_details.official_name }}</p>

	    		    <p>
	    		    <a style="color: {{ char_details.character_color }}" href="{% game_view_url "pychronia_game.views.compose_message" %}?recipient={{ char_details.email_address }}">
	    		        {{ char_details.email_address }}
	    		    </a>
	    		    </p>

                    </strong>

                    {{ char_details.official_role }} <br/>

	    		    {% if display_admin_tips and char_details.gamemaster_hints %}
	    		        <p class="admin-note"><i>{{ char_details.gamemaster_hints }}</i></p>
	    		    {% endif %}

		    	</td>


		    	{% if user.username == char_details.username or show_others_belongings %}

    		    	<td class="bigtext" style="text-align: left; min-width: 250px">

                        <p title="{% trans "Money available in the bank account" %}">
                            <b>{% trans "Bank:" %}</b> {{ char_details.account }}¤
                        </p>

    		    		<p title="{% trans "Values, in kashes, of each gem" %}"">
    		    		    <b>{% trans "Gems:" %}</b>
                            {% if char_details.gems %}
                                {{ char_details.gems|matrix_extract_column:"0"|list_sum }}¤ {% trans "total" %}
                                ({{ char_details.gems|matrix_extract_column:"0"|list_append_to_each:"¤"|join:", " }})

                            {% else %}
                                {% trans "None" %}
                            {% endif %}
                        </p>

                        <p>
                            <b>{% trans "Items" %}{{COLON}}</b>
                            {% if char_details.user_items %}
            	    	    <ul>
            	    		{% for item in char_details.user_items %}
            	    		    <li>{{ item.title }} {% if item.is_gem %}{% trans "(memo)" %}{% endif %}</li>
            	    		{% empty %}
            	    		{% endfor %}
            	    		</ul>
            	    		{% else %}
            	    		{% trans "None" %}
            	    		{% endif %}
        	    		</p>


                        {% if char_details.extra_goods %}
                            {% rich_text char_details.extra_goods %}
                        {% endif %}

    		    	</td>


                {% else %}
                    <td class="bigtext"><i>{% trans "Unknown" %}</i></td>
                {% endif %}

	    </tr>
	    {% endfor %}
	{% endfor %}
	</tbody>
</table>

<br/>

{% endblock %}

