{% extends "base_one_giant_column.html" %}

{% load i18n helpers %}

{% block content %}


<table class="realtable">

	<thead>
		<tr>
			<th>{% trans "Identity" %}</th>
			<th>{% trans "Bank account" %}</th>
			<th>{% trans "Items owned" %}</th>
			<th>{% trans "Gems owned" %}</th>
		</tr>
	</thead>

	<tbody>
	{% for character_group in character_groups %}

		{% for char_details in character_group %}

	    <tr class="{% cycle 'rowA' 'rowB' %}"  style="color:{{ char_details.character_color }};">

		    	<td class="bigtext">
		    		<strong {% if user.is_master %} title="{% trans "Password:" %} {{ char_details.password }}" {% endif %}>

		    		    <a href="{% game_view_url "pychronia_game.views.compose_message" %}?recipient={{ char_details.email_address }}"
		    		        style="color:{{ char_details.character_color }};"style="color:{{ char_details.character_color }};">
		    		        {{ char_details.email_address }}
		    		    </a> <br/>

                        {{ char_details.official_name }} <br/>
                        {{ char_details.official_role }} <br/>

		    		    {% if user.is_master %}
		    		        <p class="admin-note"><i>{{ char_details.gamemaster_hints }}</i></p>
		    		    {% endif %}
					</strong>
		    	</td>


		    	{% if user.username == char_details.username or show_others_belongings %}

    		    	<td class="bigtext">
    		    		 {{ char_details.account }}
    		    	</td>

    		    	<td class="bigtext">
        	    	    <ul>
        	    		{% for item in char_details.user_items %}
        	    		    <li>{{ item.title }}</li>
        	    		{% empty %}
        	    			<li>{% trans "None" %}</li>
        	    		{% endfor %}
        	    		<ul>
    		    	</td>

    		    	<td class="bigtext" title="{% trans "Value, in kashes, of each gem" %}"">
    		    		{% if char_details.gems %}
    		    			{{ char_details.gems|list_filter:0|join:", " }}
    		    		{% else %}
    		    			{% trans "None" %}
    		    		{% endif %}
    		    	</td>

                {% else %}
                    <td class="bigtext"><i>{% trans "Undefined" %}</i></td>
                    <td class="bigtext"><i>{% trans "Undefined" %}</i></td>
                    <td class="bigtext"><i>{% trans "Undefined" %}</i></td>
                {% endif %}

	    </tr>
	    {% endfor %}
	{% endfor %}
	</tbody>
</table>

<br/>

<div style="width: 760px; margin: 10px auto;">
{% include "utilities/scroll_form.html" with title=_("Money Transfer") form=money_form class="float_left" button_title=_("Transfer money") button_name="money_transfer" %}

{% include "utilities/scroll_form.html" with title=_("Gems Transfer") form=gems_form class="float_left" button_title=_("Transfer gems") button_name="gems_transfer" %}

{% include "utilities/scroll_form.html" with title=_("Artefact Transfer") form=artefact_form class="float_left" button_title=_("Transfer artefact") button_name="artefact_transfer" %}
</div>

{% endblock %}

