{% extends "base_one_giant_column.html" %}

{% load i18n helpers %}

{% block content %}


<table class="realtable">

	<thead>
		<tr>
			<th>{% trans "Identity" %}</th>
			<th>{% trans "Bank account" %}</th>
			<th>{% trans "Items owned" %}</th>
			<th>{% trans "Gems owned" %}</th>
		</tr>
	</thead>

	<tbody>
	{% for char_set in char_sets %}

		{% for char_name, char_details in char_set %}

		{% comment %} char_details is at least {'gems': [], 'items': [], 'domain': 'acharis.com', 'password': 'xxxx', 'account': 0} {% endcomment %}


	    <tr class="{% cycle 'rowA' 'rowB' %}"  style="color:{{ char_details.character_color }};">

		    	<td class="bigtext">
		    		<strong {% if user.is_master %} title="{% trans "Password:" %} {{ char_details.password }}" {% endif %}>
		    		    {{ char_name }}@{{ pangea_domain }} <br/>
		    		    {{ char_details.official_name }} <br/>
		    		    {{ char_details.official_role }}
		    		    {% if user.is_master %}
		    		        <p class="admin-note"><i>{{ char_details.gamemaster_hints }}</i></p>
		    		    {% endif %}
					</strong>
		    	</td>

		    	<td class="bigtext">
		    		{{ char_details.account }}
		    	</td>

		    	<td class="bigtext">
		    	    <ul>
		    		{% for item in character_item_details|dict_get:char_name %}
		    		    <li>{{ item.title }}</li>
		    		{% empty %}
		    			<li>{% trans "None" %}</li>
		    		{% endfor %}
		    		<ul>
		    	</td>

		    	<td class="bigtext">
		    		{% if char_details.gems %}
		    			{{ char_details.gems|list_filter:0|join:", " }}
		    		{% else %}
		    			{% trans "None" %}
		    		{% endif %}
		    	</td>

	    </tr>
	    {% endfor %}
	{% endfor %}
	</tbody>
</table>

<br/>

<div style="width: 760px; margin: 10px auto;">
{% include "utilities/scroll_form.html" with title=_("Digital Money Transfer") form=money_form class="float_left" button_title=_("Transfer money") button_name="money_transfer" %}

{% include "utilities/scroll_form.html" with title=_("Gems Transfer") form=gems_form class="float_left" button_title=_("Transfer gems") button_name="gems_transfer" %}

{% include "utilities/scroll_form.html" with title=_("Artefact Transfer") form=artefact_form class="float_left" button_title=_("Transfer artefact") button_name="artefact_transfer" %}
</div>

{% endblock %}

