
{% extends "base_one_column.html" %}

{% load i18n helpers %}


{% block headers %}
    {{ block.super }}
{% endblock %}


{% block content %}


{% for other_username, action_params in friendship_actions %}
    {{ other_username }}
 
    {% if action_params %}
    <form action="#" method="post">
        <input type="hidden" name="_action_" value="{{ action_params.0 }}" />
        <input type="hidden" name="other_username" value="{{ other_username }}" />
        <input type="submit" name="submit" value="{{ action_params.1 }}" />
    </form>
    {% endif %}

    {{ relation_type }} 
    


    <br/>
{% endfor %}


{% endblock %}
