<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% load i18n helpers %}  

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page_title}}</title>

<link href="{{ MEDIA_URL }}Burned/default_styles.css" rel="stylesheet" type="text/css" />
<link href="{{ MEDIA_URL }}Burned/one_column.css" rel="stylesheet" type="text/css" />



<!-- IE DEBUGGER script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script-->



<style type="text/css" media="screen">
	@import "{{ MEDIA_URL }}domslides_styles.css";
</style>
    
<script src="{{ MEDIA_URL }}combobox.js" type="text/javascript"></script>

{% if items|length %}
<script type="text/javascript" src="{{ MEDIA_URL }}domslides.js"></script>
{% endif %}
</head>
<body>

{% if items|length %}
<div id="loading_msg">
    Loading Slideshow...
</div>
{% endif %}  
  
<div id="outer" {% if items|length %}style="display:none;"{% endif %}>

  <div id="menu">
    <ul>

      	<li ><a href="{% gameurl rpgweb.views.homepage %}" accesskey="1">{% trans "Return to homepage" %}</a></li>

    </ul>
  </div>
  
  <div id="content">
    <div id="xbg1">&nbsp;</div>
    <div id="primaryContentContainer">
      <div id="primaryContent">
        
        <div id="boundary">
			<h1>{{ page_title }}</h1>
		
		    <!--div class="hide" id="refresher">&nbsp;</div--><!-- DOM mover attempt, for I.E to take into account css class changes -->
		  
		    {% if not items|length %}
		        <br/>
		        <div class="message_notifications">
		            <p><strong>Slideshow Empty</strong></p>
                    <p>You haven't yet bought any object at auction.</p>
                </div>
		  
		    {% else %}
		    
    		    
    			{% for item_name, item_details in items %} 
    		
    			<div class="slide">
    		
    		   	        
    				<h2>
    					{{ item_details.title }}
    				</h2>
    			
    			 
    				
    				<div style="margin:auto; width:600px;">
    					 
    					{% if items_3D_settings|dict_get:item_name %}
    						{% with items_3D_settings|dict_get:item_name as settings %}
    						<div align="center">
    							<iframe src="{% gameurl rpgweb.views.item_3d_view item=item_name %}"
    							width="{{ settings.image_width }}" height="{{ settings.image_height }}"
    							scrolling="no" marginheight="0" marginwidth="0" frameborder="0">
    								<p>Error - your browser is not able to display IFrames.</p>
    							</iframe>
    						</div>
    						{% endwith %}
    					{% else %}
    						<img class="bigimage" title="{{ item_details.title }}" src="{% game_file_url "sales/" item_details.image %}"/>
    					{% endif %}
    					
    					<blockquote>
        					<p>
        					{{ item_details.comments}}
        					</p>
        					<p>
                               Total Estimated Value : <b>{{ item_details.total_price }} {% trans "kashes" %}</b>
                            </p>
    					</blockquote>

    				</div>
    			
    				
    			</div>
    		
    			{% endfor %}
    			
            {% endif %}
        </div>
		

      </div>
    </div>
   
   
    <div class="clear"></div>
  </div>
  <div id="footer">
    <br/>
    &nbsp;&nbsp;&nbsp;&nbsp;<span>Pangea Cybernetics Network</span>
  </div>
</div>
</body>
</html>








	<!--div class="slide">
		<h2>[Slide 2 title]</h2>
		<ul>
			<li>Item 1</li>
			<li>Item 2
				<ul>
					<li>Item 2_1</li>
					<li>Item 2_2</li>
					<li>Item 2_2</li>
				</ul>
			</li>
			<li>Item 3</li>
			<li>Item 4</li>
			<li>Item 5</li>
		</ul>
	</div>

	<div class="slide">
		<h2>[Slide 3 title]</h2>
		<ul>
			<li>Item 1</li>
			<li>Item 2
				<ul>
					<li>Item 2_1</li>
					<li>Item 2_2</li>
					<li>Item 2_2</li>
				</ul>
			</li>
			<li>Item 3</li>
			<li>Item 4</li>
			<li>Item 5</li>
		</ul>
	</div>

	<div class="slide">
		<h2>[Slide 4 title]</h2>
		<ul>
			<li>Item 1</li>
			<li>Item 2
				<ul>
					<li>Item 2_1</li>
					<li>Item 2_2</li>
					<li>Item 2_2</li>
				</ul>
			</li>
			<li>Item 3</li>
			<li>Item 4</li>
			<li>Item 5</li>
		</ul>
	</div-->


