{% extends "metalradiance_base.html" %}
{% load cms_tags menu_tags sekizai_tags heading kwacros i18n %}
{% loadkwacros "metalradiance_kwacros.html" %}

{% block html_title %}{% trans "Chrysalis Game" %}{% endblock %}




{% block body_top %}
    {% cms_toolbar %}

    {% if request.user.is_staff %}
        {# Hack to temporary fix issue: https://github.com/divio/django-cms/issues/1105 #}
        <script type="text/javascript">
            jQuery(document).ready(function () {
                var padding = parseInt($(document.body).css('margin-top'));
                if (padding < 0) {
                    $(document.body).css('margin-top', '0px');
                }
            });
        </script>
    {% endif %}

{% endblock %}




{% block carving_left %}{% endblock %}

{% block carving_right %}
{% if request.user and request.user.is_authenticated %}
    <span style="color: white; font-size:1.2em">Hi, {{ request.user.username }}</span>
{% endif %}
{% endblock %}



{% block left_big_icon_panel %}
{% endblock %}

{% block right_big_icon_panel %}
{% endblock %}


{% block main_menu %}
    {{ block.super }}
    {% show_menu 0 100 100 100 %}

    <li class="toplevel">
    {% if not user.is_authenticated %}
        <a href="{% url auth_login %}">{% trans "Login" %}</a>
    {% else %}
        <a href="{% url userprofiles_profile_change %}">{% trans "Profil" %}</a>
        <ul>
            <li>
                <a href="{% url auth_logout %}?next=/">{% trans "Logout" %}</a>
            </li>
        </ul>
    {% endif %}
    </li>

{% endblock %}



{% block up_footer %}
{% endblock %}

{% block low_footer_content %}
{% endblock %}
