<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load cms_tags menu_tags %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Projection Company - Free CSS Template</title>
<meta name="keywords" content="free css template, projection, company, web design, dark green, gradient" />
<meta name="description" content="Projection Company - Free CSS Template, W3C standards-compliant HTML CSS layout" />
<link href="{{ MEDIA_URL }}Projection152/templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="templatemo_container">
    	<div id="templatemo_header">
        	<div id="templatemo_logo_area">
            	<div id="templatemo_logo_left">
                &nbsp;
                </div>
                <div id="templatemo_logo">
                	{% page_attribute page_title %}
                </div>
                <div id="templatemo_logo_right">
                &nbsp;
                </div>
			</div>
        
        </div>
        <div id="templatemo_top_section">
       	  <div id="templaetmo_top_section_top">
          	<div id="templatemo_top_section_glow">
            	<div id="templatemo_menu">
                    <div id="templatemo_menu_left">
                    </div>
                    <ul>
                            <li><a href="#" class="current">Home</a></li>
                            <li><a href="http://www.templatemo.com" target="_parent">Templates</a></li>
    <li><a href="#">Services</a></li>
                            <li><a href="#">About</a></li>
                      <li><a href="#" class="last">Contact</a></li>
                  </ul> 
		        </div>      
                
                <h1>WELCOME TO OUR COMPANY!</h1>  
               
              
             {% placeholdervar "content" inherit as myver%}
                
                <span>
                    {{ myver }}
                </span>
                
             {% endplaceholdervar %} 
              
                 
   
             {% placeholder "content" %}
                <a href="http://www.templatemo.com/page/1" target="_parent"><img src="images/templatemo_img_3.png" alt="Free CSS Templates" border="0" /></a>
           	  <p>This is a <a href="http://www.templatemo.com" target="_parent">free CSS template</a> provided by <a href="http://www.templatemo.com" target="_parent">TemplateMo.com</a> website. Feel free to download, edit and apply this layout for your personal or business websites. Thank you for visiting.</p>
                
            	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur velit tellus, placerat et, dapibus varius, aliquet quis, purus. Nulla tellus risus, tincidunt vitae, sagittis vel, interdum at, erat.</p>
            	<p>Duis vitae velit. Ut ultricies. Fusce sollicitudin nisl a lectus. Pellentesque odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed leo. Duis suscipit lorem in risus.</p>
           	  <div class="cleaner"></div>
    		</div><!-- end of glow -->
        	</div>
            <div id="templaetmo_top_section_bottom"></div>

        </div>
				
        <div class="templatemo_middle_two_col">
        	<div class="templatemo_title_style_1">
	        	<h1>WHO WE ARE</h1> 
                <div class="templatemo_title_right"></div>
                <div class="cleaner"></div>
            </div>
            
            <h2><a href="#">Maecenas venenatis</a></h2>
          	<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			
          	<h2><a href="#">In sed risus ac felctis</a></h2>
		  	<p>Vivamus leo velit, convallis id, ultrices sit amet, tempor a, libero. Quisque rhoncus nulla.</p>
            
            <h2><a href="#">Cras pretium semsed</a></h2>
			<p>Nulla sed leo sed sapien sagittis aliquet. Vivamus vestibulum condimentum massa.</p>
            
<div class="templatemo_click_more">
            	<a href="#">More Details</a>
            </div>
			
        </div>
        
        <div class="templatemo_middle_two_col">
        	<div class="templatemo_title_style_1">
	        	<h1>WHAT WE DO</h1> 
                <div class="templatemo_title_right"></div>
                <div class="cleaner"></div>
            </div>
            
            
        
        	<div class="templatemo_no_bullet">
            	01
            </div>
  			<p>Aliquam tristique lacus in sapien. Suspendisse potenti. Ut sed pede. Nullam vitae tellus. Sed ultrices. </p>
			
            <div class="templatemo_no_bullet">
            	02
            </div>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur aliquam sagittis molestie sapien.</p>
            
            <div class="templatemo_no_bullet">
            	03
            </div>
			<p>Aliquam sagittis molestie sapien. Nulla tellus risus, tincidunt vitae, sagittis vel, interdum at, erat.</p>
            
            <div class="templatemo_click_more">
            	<a href="#">More Details</a>
            </div>
        </div>
        
        <div class="cleaner"></div>

	</div><!-- End Of Container -->
    
    <div id="templatemo_bottom_panel">
    
    	<div class="templatemo_container">
        	<div class="templatemo_bottom_two_col">
            	<div class="templatemo_title_style_2">
                	<h1>Design Services</h1>
                </div>
                <a href="#"><img src="images/templatemo_img_1.jpg" alt="Flower and bee" border="0" /></a>
				<p>Nunc aliquam, dolor vitae sollicitudin lacinia, nibh orci sagittis diam, <a href="#">dignissim</a> sodales dui erat nec eros. </p>
				<p>Fusce quis enim. Aenean eleifend, neque hendrerit <a href="#">elementum</a> sodales, odio erat sagittis quam, sed tempor orci magna vitae tellus. </p>
				<p>Proin dui mauris, tempor eget, pulvinar sed, pretium sit amet, dui. Proin vulputate justo et quam. Cras nisl eros, elementum eu, iaculis vitae, viverra ut, ligula. Pellentesque metus. <a href="#">Duis dolor</a>.</p>
       	  </div>
            <!--div class="templatemo_v_line"></div-->
            <div class="templatemo_bottom_two_col">
            	<div class="templatemo_title_style_2">
                	<h1>Awards and Recognitions</h1>
                </div>
                
                <a href="#"><img src="images/templatemo_img_2.jpg" alt="squirrel" border="0" /></a>
				<p>Aliquam a dui. Suspendisse ac magna quis est eleifend dictum. In velit urna, convallis id, pharetra in, iaculis sit amet, mi. </p>
				<p>Praesent <a href="#">consectetur</a> imperdiet mauris. Suspendisse at pede vel lorem pulvinar laoreet. Etiam et neque. Donec dapibus viverra est. </p>
				<p>Maecenas dignissim, quam a posuere scelerisque, ligula arcu dictum turpis, id tempus turpis erat at nulla. Suspendisse hendrerit turpis id augue.  Praesent sollicitudin <a href="#">mollis leo</a>.</p>
          </div>
            <div class="cleaner"></div>
        </div><!-- End Of Container -->
        
    </div>
    <div id="templatemo_footer">
    	Copyright © 2024 <a href="#">Your Company Name</a> | Designed by <a href="http://www.templatemo.com/page/1" target="_parent">Free CSS Templates</a>
    </div>
<!--  Free CSS Templates by TemplateMo.com  -->
</body>
</html>