{% extends "base_one_column.html" %}

{% load i18n helpers %}  

{% block content %}  


<p>
   {{ instructions }}
</p>

{% if investigation_impossible_msg %}

    <p><strong>
    {{ investigation_impossible_msg }}
    </strong></p>

{% else %}

    {% if investigation_form %}
        <form action="{% gameurl rpgweb.views.telecom_investigation %}" method="post">
        <div align="center">
        <table>
        {{ investigation_form.as_table }}
        <tr>
            <td colspan="2">
                <br/>
                <input type="submit" style="width: 200px" name="investigation" value="{% trans "Launch Investigation" %}" />
            </td>
        </tr>
        </table>
        </div>
        </form>
    {% endif %}

{% endif %}


{% endblock %}

