{% extends "metalradiance_base.html" %}
{% load sekizai_tags heading kwacros helpers i18n %}
{% loadkwacros "metalradiance_kwacros.html" %}



{% block sekizai_calls %}
{{ block.super }}

{% addtoblock "meta" %}
    <meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
{% endaddtoblock %}

{% addtoblock "js" %}

    <script src="{{ STATIC_URL }}libs/jquery.ba-outside-events.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/jquery.mousewheel-3.0.6.pack.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}libs/jquery-ui/combobox.js" type="text/javascript"></script>
    
    <script src="{{ STATIC_URL }}libs/jquery-ui/ui.dropdownchecklist-1.4.js" type="text/javascript"></script>
    <link href="{{ STATIC_URL }}libs/jquery-ui/ui.dropdownchecklist.css" rel="stylesheet" type="text/css" />
    
    <script src="{{ STATIC_URL }}libs/jquery.hcsticky.js" type="text/javascript"></script>
    
    <script src="{{ STATIC_URL }}libs/videoplayers/quicktimeplayer/AC_QuickTime.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/videoplayers/wmvplayer/wmvplayer.js" type="text/javascript"></script>
    <!--script src="{{ MEDIA_URL }}videoplayers/wmvplayer/silverlight.js" type="text/javascript"></script-->

    <script src="{{ STATIC_URL }}libs/utilities.js" type="text/javascript"></script>
    
{% endaddtoblock %}
    
    

 
 
{% addtoblock "definition_js" %}

    {% game_view_url "rpgweb.views.webradio_popup" as player_view_url %} 
    function open_webradio_popup(){
        window.open('{{ player_view_url|escapejs }}', '_blank',
                    'width=400,height=200,directories=no,location=no,menubar=no,resizeable=yes,scrollbars=no,status=no,titlebar=no,toolbar=no',
                    false); // new history entry
    }
{% endaddtoblock %}


{% addtoblock "onload_js" %}

        $(".multichecklist").dropdownchecklist({minWidth: "150px", emptyText: "<i>...</i>"}); 
        
        $('.fancybox').fancybox({
            padding: "35px",
            width: "960px",
            openEffect: 'none', // 'elastic', 'fade' or 'none'
            closeEffect: 'none', // 'elastic', 'fade' or 'none'
            
            helpers:  {
                overlay: {
                    speedIn: 0,
                    speedOut: 300,
                    opacity: 0.6,
                    css: {
                        cursor: 'pointer'
                    },
                    closeClick: true
                },
                title: {
                    type: 'float' // 'float', 'inside', 'outside' or 'over'
                }
            }
        
        });
        
 
 
        function save_radio_playlist() {
           $.post("",
                   { _action_: "save_radio_playlist",
                   audio_ids: $('#current_playlist').sortable('toArray', { attribute: "data-spotid" })},
                   function(answer) {  }
                 );            
        }
    
        $("#trashcan").droppable({
           drop: function(event, ui) {ui.draggable.remove();},
           accept: "#current_playlist li",
           tolerance: "pointer",
        });      

        $("#current_playlist").sortable({
            //connectWith: "#trashcan",
            dropOnEmpty: true,
            helper: "clone",
            tolerance: "pointer",
            scroll: false,
            stop: function(event, ui) { 
               save_radio_playlist();
            }
        })//.disableSelection();
            
        $('#available_radio_spots .radio_spot').draggable( {
            //containment: "#radiotracks",
            cursor: "move",
            helper: "clone",
            dropOnEmpty: true,
            revert: "invalid",
            opacity: 0.7,
            connectToSortable: "#current_playlist",
          } );

              

            

        

        
        
        
        /* ADD GLOBAL AJAX ERROR HANDLERS (all executed on error)
        FIXME
        $(document).ajaxError( handler(event, jqXHR, ajaxSettings, thrownError) )
        
        jQuery.ajax({
            ...,
            complete: function(event, XHR, ajaxSettings, thrownError) {
            if (XHR.status == 200) { // success
            } elseif (XHR.status == 500) { // Internal Server Error
            } elseif (XHR.status == 404) { // File Not found
            }
            });
        
        */
        
        /*
        $(function() {
            $.ajaxSetup({
                error: function(jqXHR, exception) {
                    if (jqXHR.status === 0) {
                        alert('Not connect.\n Verify Network.');
                    } else if (jqXHR.status == 404) {
                        alert('Requested page not found. [404]');
                    } else if (jqXHR.status == 500) {
                        alert('Internal Server Error [500].');
                    } else if (exception === 'parsererror') {
                        alert('Requested JSON parse failed.');
                    } else if (exception === 'timeout') {
                        alert('Time out error.');
                    } else if (exception === 'abort') {
                        alert('Ajax request aborted.');
                    } else {
                        alert('Uncaught Error.\n' + jqXHR.responseText);
                    }
                }
            });
        });
        
        $("div.log").ajaxError(function(event, jqXHR, ajaxSettings, thrownError) {
              $(this).text( "Triggered ajaxError handler." );
            });
       */
        
        $(".notification_panel").css( 'cursor', 'pointer' );
        $(".notification_panel_content").css( 'cursor', 'auto' );
        $(".notification_panel").click(function() {
            $(this).slideUp();
        });
        $(".notification_panel_content").click(function(event) {
            event.stopPropagation();
        });
    
{% endaddtoblock %}


{% endblock %}

    
    
    

{% block html_title %}

    {% if page_title %}{% trans "Anthropia" %} - {{ page_title}}
    {% else %}{% trans "Welcome to Anthropia" %}
    {% endif %}

{% endblock %}


{% block body_top %}

    {% comment %} FIX IMPERSONATION PANEL
    {% if possible_impersonations %}
    <div style="float:left;">
        <div style="color: #FFF; font-size: 10px;">Write: {{ user.has_write_access }} <br/> Impersonation: {{ user.is_impersonation}}</div>
        {% for impersonation in possible_impersonations %}
        <form action="" method="POST">
            <input type="hidden" name="{{ impersonation_post_variable }}" value="{{ impersonation }}"/>
            <input type="submit" name="" value="{{ impersonation|capfirst }}">
        </form>
        {% endfor %}
        
        {% if user.is_impersonation %}
        <form action="" method="POST">
            <input type="hidden" name="{{ impersonation_post_variable }}" value=""/>
            <input type="submit" name="" value="STOP">
        </form>
        {% endif %}
    </div>
    {% endif %}
    {% endcomment %}
    
{% endblock %} 




{% block site_title %} 
    <a href="{% game_view_url "rpgweb.views.homepage" %}"><img src="{{ STATIC_URL }}MetalRadiance/img/titles/anthropia.png"/></a></div>
{% endblock %}


    {% comment %}
    <h2>
        <a href="{% game_view_url "rpgweb.views.homepage" %}">
            {% if user.is_authenticated %}
                  {% blocktrans with user.username|capfirst as user_name %}
                      Welcome to your Realm, {{ user_name }} 
                  {% endblocktrans %}
            {% else %}
                {% trans "Welcome, Visitor" %}
            {% endif %}
        </a>
    </h2>

    {% if not game_is_started %} <h2>{% trans "Server in maintenance mode - no form submission possible" %}</h2> {% endif %}
    
    {% endcomment %}


{% block notification_banners %}
    {% if notifications %}
    <div class="notification_panel {{ notification_type }}">
        <div class="notification_panel_decorations">
            <div class="notification_panel_content">
               {% for message in notifications %}
                   <p>{{ message|linebreaksbr }}</p>
               {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %} 





{% block left_big_icon_panel %} 
{% if 1 %}    
<a onclick="open_webradio_popup(); return False;" href="#">
<div class="big_icon_panel">
    <img src="{{ STATIC_URL }}MetalRadiance/img/icons/radio.png"/>
</div>
</a>
{% else %}
<div class="big_icon_panel">
    <img src="{{ STATIC_URL }}MetalRadiance/img/icons/radio_disabled.png"/>
</div>
{% endif %}
{% endblock %}


{% block main_menu %}  
    {% for menu in menus %} 
    
         {% comment %} here we only handle 2-levels menus, at the moment... {% endcomment %}
         
         {% with page_transition="slide" %}
         
         <li id="submenu" class="toplevel">
         
             {% if menu.is_active %}
                <a data-ftrans="{{ page_transition }}" href="{{ menu.url }}">{{ menu.title }}</a>
             {% else %}
                <span>{{ menu.title }}</span>
             {% endif %}
             
             {% if menu.submenus %}
                 <ul>
                    {% for submenu in menu.submenus %} 
                        <li>
                             {% if submenu.is_active %}
                                <a data-ftrans="{{ page_transition }}" href="{{ submenu.url }}" accesskey="{{ forloop.counter }}">{{ submenu.title }}</a>
                             {% else %}
                                <span>{{ submenu.title }}</span>
                             {% endif %}
                             
                            {% comment %}
                                <a {% if user.is_master %} style="font-size: 0.6em; line-height: 0.5em;" {% endif %}
                                    href="{{ item_url }}" >{{ item_name }}</a>
                            {% endcomment %}
                        </li>
                    {% endfor %}
                 </ul>
             {% endif %}
             
         </li>
         {% endwith%}
        
    {% endfor %}
{% endblock %}


{% block right_big_icon_panel %} 
{% if help_keyword %}    
<a href="{% game_view_url "rpgweb.views.view_help_page" keyword=help_keyword %}" class="fancybox fancybox.ajax" title="{{ page_title }}">
<div class="big_icon_panel">
    <img src="{{ STATIC_URL }}MetalRadiance/img/icons/question_mark.png"/>
</div>
</a>
{% else %}
<div class="big_icon_panel">
    <img src="{{ STATIC_URL }}MetalRadiance/img/icons/question_mark_disabled.png"/>
</div>
{% endif %}
{% endblock %}



{% block panels %} 

    {% usekwacro main_panel_start frame_class="giant_frame" %}

        {% if page_title %}<h1>{{ page_title }}</h1>{% endif %}


        {% block content %}  
        {% endblock %}
        
    {% usekwacro main_panel_end %}

{% endblock %}

   
   

{% block up_footer_left_content %}
        <b><i>
        {% if online_users %}
            {% blocktrans count online_users|length as counter %}
                Online user:
            {% plural %}
                Online users:
            {% endblocktrans %}
            {{ online_users|join:", " }}
        {% else %}
            {% trans "No users currently online." %} 
        {% endif %}
        </i></b>
{% endblock %}


{% block up_footer_right_content %} 
        <b>{% trans "Pangea Cybernetics Network" %}</b><br>
        
        <form id="change_language_fr" style="display:inline; vertical-align: middle;" method="POST" action="{% url django.views.i18n.set_language %}">
        <input type="hidden" name="language" value="fr"/>
        <a href="javascript:document.getElementById('change_language_fr').submit()"><img src="{{ STATIC_URL }}img/flags/France.jpg"/></a>
        </form> 
        
        <form id="change_language_en" style="display:inline; vertical-align: middle;" method="POST" action="{% url django.views.i18n.set_language %}">
        <input type="hidden" name="language" value="en"/>
        <a href="javascript:document.getElementById('change_language_en').submit()"><img src="{{ STATIC_URL }}img/flags/UK.jpg"/></a>
        </form>         
{% endblock %}



