{% extends "metalradiance_base.html" %}
{% load sekizai_tags heading kwacros helpers i18n django_select2_tags %}
{% loadkwacros "metalradiance_kwacros.html" %}



{% block sekizai_calls %}
{{ block.super }}

{% addtoblock "meta" %}
    <meta name="ROBOTS" content="NOINDEX,NOFOLLOW" />
{% endaddtoblock %}




{% addtoblock "css" %}

    <link href="{{ STATIC_URL }}libs/jquery-ui/ui.dropdownchecklist.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}libs/jnotify/css/jquery.jnotify-alt.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}libs/zoomy/zoomy.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}libs/p4wn/p4wn.css" rel="stylesheet" type="text/css" />
    {% import_django_select2_css %}

{% endaddtoblock %}



{% addtoblock "js" %}

    <script src="{{ STATIC_URL }}libs/jquery-marquee/jquery.marquee.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}libs/jquery.ba-outside-events.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/jquery.mousewheel-3.0.6.pack.js" type="text/javascript"></script>

    <!-- DEPRECATED script src="{{ STATIC_URL }}libs/jquery-ui/combobox.js" type="text/javascript"></script-->

    <script src="{{ STATIC_URL }}libs/jquery-ui/ui.dropdownchecklist-1.4.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}libs/jnotify/lib/jquery.jnotify.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}libs/jquery.hcsticky.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}libs/videoplayers/quicktimeplayer/AC_QuickTime.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/videoplayers/wmvplayer/wmvplayer.js" type="text/javascript"></script>
    <!--script src="{{ MEDIA_URL }}videoplayers/wmvplayer/silverlight.js" type="text/javascript"></script-->

    <script src="{{ STATIC_URL }}libs/zoomy/zoomy.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/qtip/jquery.qtip-1.0.0-rc3.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}libs/utilities.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}libs/p4wn/engine.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/p4wn/display.js" type="text/javascript"></script>



    {% import_django_select2_js %}

{% endaddtoblock %}





{% addtoblock "definition_js" %}

    function return_to_home(){
    	window.location.replace("{% game_view_url "rpgweb.views.homepage" %}");
    }

    {% game_view_url "rpgweb.views.personal_webradio_popup" as player_view_url %}
    function open_webradio_popup(){
        window.open('{{ player_view_url|escapejs }}', '_blank',
                    'width=400,height=200,directories=no,location=no,menubar=no,resizeable=yes,scrollbars=no,status=no,titlebar=no,toolbar=no',
                    false); // new history entry
    }

    function display_bug_report_panel(){
        $('#bug_report_panel .obfusk').css('display', 'none'); // definitively remove antispam markers
        $('#bug_report_panel').css('display', 'block');
    }

    function submit_report_data(){
        var report_data = $("#bug_report_textarea").val().trim()

        if (report_data.length < 10){
            // FIXME - add jnotify call here!!!
        }else{
         $.post("{% game_view_url "rpgweb.views.bug_report_treatment" %}",
                   { report_data: report_data,
                     location: window.location.toString() },
                   function(answer) {$('#bug_report_panel').css('display', 'none');}
                   // FIXME - add jnotify call here!!!
         );
         }
    }

    function default_ajax_error_handler(jqXHR, extStatus, errorThrown) {
        msg = "Server communication problem - " + extStatus
        if (errorThrown) {
            msg += " (" + errorThrown + ")";
        }
        $.jnotify(msg, "error", 2000);
    }


    String.prototype.format = String.prototype.f = function() {
        var s = this,
            i = arguments.length;

        while (i--) {
            s = s.replace(new RegExp('\\{' + i + '\\}', 'gm'), arguments[i]);
        }
        return s;
    };

{% endaddtoblock %}


{% addtoblock "onload_js" %}

        {% if 1 %}
        window.onerror = function(msg, url, linenumber){
             //alert("{0} ({1})".format(msg, url));
             //alert('Error message: '+msg+'\nURL: '+url+'\nLine Number: '+linenumber);
             $.jnotify('{{ _("Application error (please consider reporting that bug)")|escapejs }} - {0} - URL: {1}'.format(msg, url), "error", true);
        }
        {% endif %}

        // $.ajaxError(handler(event, jqXHR, ajaxSettings, thrownError)) - NO, we want it to be OVERRIDDEN by individual ajax settings
        $.ajaxSetup({
                    error: default_ajax_error_handler
                    });


        $('*[title]').qtip({
        	                 show: {delay: 500 },
        	                 style: { name: 'cream', tip: true },
                             hide: { when: 'mouseout', fixed: true, delay: 1000 }
                           }); // lots of options remain


        zoomy_options = {
              zoomSize    : 350,
              round       : true,
              glare       : true,
              clickable   : false,
              attr        : 'href', // we would use rel or data-x instead
              border      : '5px solid #775F13',
              zoomInit    : null,  //callback for when zoom initializes
              zoomStart   : null, // callback for when zoom starts
              zoomStop    : null // callback for when the zoom ends
        }
        $('.zoomable').zoomy('mouseenter', zoomy_options); // click dblclick mouseover



        {% comment %}
            jNotify Usage:
            $.jnotify(message, [options]);
            $.jnotify(message, delay);
            $.jnotify(message, sticky);
            $.jnotify(message, type, [delay/sticky]); // success/warning/error or nothing (grey)
        {% endcomment %}

         jnotify_options = {
              // define core settings
                type: ""                                  // if a type is specified, then an additional class of classNotification
                                                          // + type is created for each notification
              , delay: 3500                               // the default time to show each notification (in milliseconds)
              , sticky: false                             // determines if the message should be considered "sticky" (user
                                                          // must manually close notification)
              , closeLabel: "&times;"                     // the HTML to use for the "Close" link
              , showClose: true                           // determines if the "Close" link should be shown if notification is also sticky
              , fadeSpeed: 1000                           // the speed to fade messages out (in milliseconds)
              , slideSpeed: 250                           // the speed used to slide messages out (in milliseconds)

              // define the class statements
              , classContainer: "jnotify-container"       // className to use for the outer most container--this is where all the
                                                          // notifications appear
              , classNotification: "jnotify-notification" // className of the individual notification containers
              , classBackground: "jnotify-background"     // className of the background layer for each notification container
              , classClose: "jnotify-close"               // className to use for the "Close" link
              , classMessage: "jnotify-message"           // className to use for the actual notification text container--this is
                                                          // where the message is actually written

              // event handlers
              , init: null                                // callback that occurs when the main jnotify container is created
              , create: null                              // callback that occurs when when the note is created (occurs just before
                                                          // appearing in DOM)
              , beforeRemove: null                        // callback that occurs when before the notification starts to fade away
              , remove: null                              // callback that occurs when notification is removed
              , transition: null                          // allows you to overwrite how the transitions between messages are handled
                                                          // receives the following arguments:
                                                          //   container - jQuery object containing the notification
                                                          //   message   - jQuery object of the actual message
                                                          //   count     - the number of items left in queue
                                                          //   callback  - a function you must execute once your transition has executed
                                                          //   options   - the options used for this jnotify instance
        }
        $.jnotify.setup(jnotify_options);

        $.jnotify("mehello", "success");
        /*$.jnotify("mehello", "warning");
        $.jnotify("mehello", "error");
        $.jnotify("mehello", "");*/

        $(".multichecklist").dropdownchecklist({minWidth: "150px", emptyText: "<i>...</i>"});

        $('.fancybox').fancybox({
            padding: "35px",
            width: "960px",
            openEffect: 'none', // 'elastic', 'fade' or 'none'
            closeEffect: 'none', // 'elastic', 'fade' or 'none'

            helpers:  {
                overlay: {
                    speedIn: 0,
                    speedOut: 300,
                    opacity: 0.6,
                    css: {
                        cursor: 'pointer'
                    },
                    closeClick: true
                },
                title: {
                    type: 'float' // 'float', 'inside', 'outside' or 'over'
                }
            }

        });



        function save_radio_playlist() {
           $.post("",
                   { _action_: "save_radio_playlist",
                   audio_ids: $('#current_playlist').sortable('toArray', { attribute: "data-spotid" })},
                   function(answer) {  }
                 );
        }

        $("#trashcan").droppable({
           drop: function(event, ui) {ui.draggable.remove();},
           accept: "#current_playlist li",
           tolerance: "pointer",
        });

        $("#current_playlist").sortable({
            //connectWith: "#trashcan",
            dropOnEmpty: true,
            helper: "clone",
            tolerance: "pointer",
            scroll: false,
            stop: function(event, ui) {
               save_radio_playlist();
            }
        })//.disableSelection();

        $('#available_radio_spots .radio_spot').draggable( {
            //containment: "#radiotracks",
            cursor: "move",
            helper: "clone",
            dropOnEmpty: true,
            revert: "invalid",
            opacity: 0.7,
            connectToSortable: "#current_playlist",
          } );










        /* ADD GLOBAL AJAX ERROR HANDLERS (all executed on error)
        FIXME
        $(document).ajaxError( handler(event, jqXHR, ajaxSettings, thrownError) )

        jQuery.ajax({
            ...,
            complete: function(event, XHR, ajaxSettings, thrownError) {
            if (XHR.status == 200) { // success
            } elseif (XHR.status == 500) { // Internal Server Error
            } elseif (XHR.status == 404) { // File Not found
            }
            });

        */

        /*
        $(function() {
            $.ajaxSetup({
                error: function(jqXHR, exception) {
                    if (jqXHR.status === 0) {
                        alert('Not connect.\n Verify Network.');
                    } else if (jqXHR.status == 404) {
                        alert('Requested page not found. [404]');
                    } else if (jqXHR.status == 500) {
                        alert('Internal Server Error [500].');
                    } else if (exception === 'parsererror') {
                        alert('Requested JSON parse failed.');
                    } else if (exception === 'timeout') {
                        alert('Time out error.');
                    } else if (exception === 'abort') {
                        alert('Ajax request aborted.');
                    } else {
                        alert('Uncaught Error.\n' + jqXHR.responseText);
                    }
                }
            });
        });

        $("div.log").ajaxError(function(event, jqXHR, ajaxSettings, thrownError) {
              $(this).text( "Triggered ajaxError handler." );
            });
       */

        $(".notification_panel").css( 'cursor', 'pointer' );
        $(".notification_panel_content").css( 'cursor', 'auto' );
        $(".notification_panel").click(function() {
            $(this).slideUp();
        });
        $(".notification_panel_content").click(function(event) {
            event.stopPropagation();
        });



		$('.marquee').marquee({
		    //speed in milliseconds of the marquee
		    speed: 6000,
		    //gap in pixels between the tickers
		    gap: 30,
		    //time in milliseconds before the marquee will start animating
		    delayBeforeStart: 1,
		    //'left' or 'right'
		    direction: 'left',
		    //true or false - should the marquee be duplicated to show an effect of continues flow
		    duplicated: true
		});

{% endaddtoblock %}


{% endblock %}





{% block html_title %}

    {% if page_title %}{% trans "Anthropia" %} - {{ page_title}}
    {% else %}{% trans "Welcome to Anthropia" %}
    {% endif %}

{% endblock %}


{% block body_top %}

    {% comment %} FIX IMPERSONATION PANEL
    ALSO : impersonation_writability_post_variable <---
    {% if possible_impersonations %}
    <div style="float:left;">
        <div style="color: #FFF; font-size: 10px;">Write: {{ user.ssss }} <br/> Impersonation: {{ user.is_impersonation}}</div>
        {% for impersonation in possible_impersonations %}
        <form action="" method="POST">
            <input type="hidden" name="{{ impersonation_target_post_variable }}" value="{{ impersonation }}"/>
            <input type="submit" name="" value="{{ impersonation|capfirst }}">
        </form>
        {% endfor %}

        {% if user.is_impersonation %}
        <form action="" method="POST">
            <input type="hidden" name="{{ impersonation_target_post_variable }}" value=""/>
            <input type="submit" name="" value="STOP">
        </form>
        {% endif %}
    </div>
    {% endif %}
    {% endcomment %}

    {% include "utilities/bug_report.html" %}
{% endblock %}



{% block top_left_motto %}
{% if impersonation_capabilities.display_impersonation_target_shortcut %}
	<div class="motto">
		<form action="" method="POST" title="{% trans "Take the identity of another user." %}">
        {% trans "Impersonation:" %}
		<select name="{{ impersonation_capabilities.impersonation_target_post_variable }}" onchange="this.form.submit()">
			<option value="">{% trans "None" %}</option>
			{% for target in impersonation_capabilities.impersonation_targets %}
		    <option value="{{ target }}" {% if impersonation_capabilities.current_impersonation_target == target %}selected{% endif %}>{{ target|capfirst }}</option>
		    {% endfor %}
		</select>
		</form>
    </div>
{% elif not impersonation_capabilities.display_impersonation_writability_shortcut %}
    {{ block.super }}
{% else %}
    <div class="motto"></div>
{% endif %}
{% endblock %}


{% block top_right_motto %}
{% if impersonation_capabilities.display_impersonation_writability_shortcut %}
	<div class="motto">
		<form action="" method="POST" title="{% trans "Whether or not you can modify the game during impersonations." %}">
	    {% trans "Writability:" %}
	    <select name="{{ impersonation_capabilities.impersonation_writability_post_variable }}" onchange="this.form.submit()" {% if not user.is_impersonation %}disabled{% endif %}>
	      <option value="false">{% trans "Read-only" %}</option>
	      <option value="true" {% if impersonation_capabilities.current_impersonation_writability %}selected{% endif %}>{% trans "Writable" %}</option>
	    </select>
	    </form>
	</div>
{% elif not impersonation_capabilities.display_impersonation_target_shortcut %}
    {{ block.super }}
{% else %}
    <div class="motto"></div>
{% endif %}
{% endblock %}


{% block site_title %}
    <a href="{% game_view_url "rpgweb.views.homepage" %}"><img src="{{ STATIC_URL }}MetalRadiance/img/titles/anthropia.png"/></a></div>
{% endblock %}


    {% comment %}
    <h2>
        <a href="{% game_view_url "rpgweb.views.homepage" %}">
            {% if user.is_authenticated %}
                  {% blocktrans with user.username|capfirst as user_name %}
                      Welcome to your Realm, {{ user_name }}
                  {% endblocktrans %}
            {% else %}
                {% trans "Welcome, Visitor" %}
            {% endif %}
        </a>
    </h2>

    {% if not DDSJKSDBSJK %} <h2>{% trans "Server in maintenance mode - no form submission possible" %}</h2> {% endif %}

    {% endcomment %}


{% block notification_banners %}
    {% if notifications %}
    <div class="notification_panel {{ notification_type }}">
        <div class="notification_panel_decorations">
            <div class="notification_panel_content">
               {% for message in notifications %}
                   <p>{{ message|linebreaksbr }}</p>
               {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}



{% block carving_left %}
	{% if signal_new_menu_entries %}
	menu
	{% endif %}
	{% if signal_new_text_message %}
	msg
	{% endif %}
	{% if signal_chatting_users %}
	chat
	{% endif %}
{% endblock %}


{% block carving_right %}
<div class="marquee">
HOY ma guy
</div>
{% endblock %}


{% block left_big_icon_panel %}
{% if 1 %}
<a onclick="open_webradio_popup(); return false;" href="#">
<div class="big_icon_panel">
    <img src="{{ STATIC_URL }}MetalRadiance/img/icons/radio.png"/>{% if signal_new_radio_messages %}<b style="font-size:20px; color:white;">$$</b>{% endif %}
</div>
</a>
{% else %}
<div class="big_icon_panel">
    <img src="{{ STATIC_URL }}MetalRadiance/img/icons/radio_disabled.png"/>
</div>
{% endif %}
{% endblock %}


{% block main_menu %}
    {% for menu in menus %}

        {% comment %} here we only handle 2-levels menus, at the moment... {% endcomment %}

        {% with page_transition="slide" %}

        <li class="toplevel">

            {% if menu.is_active %}
                <a data-ftrans="{{ page_transition }}" href="{{ menu.url }}">{{ menu.title }}{% if menu.is_novelty %}$${% endif %}</a>
            {% else %}
                <span>{{ menu.title }}</span>
            {% endif %}


            {% if menu.submenus %}
                <ul>
                    {% for submenu in menu.submenus %}
                        <li>
						{% if submenu.is_active %}
						    <a data-ftrans="{{ page_transition }}" href="{{ submenu.url }}" accesskey="{{ forloop.counter }}">{{ submenu.title }}{% if submenu.is_novelty %}$${% endif %}</a>
						{% else %}
						    <span>{{ submenu.title }}</span>
						{% endif %}

						{% comment %}
						    <a {% if user.is_master %} style="font-size: 0.6em; line-height: 0.5em;" {% endif %} href="{{ item_url }}" >{{ item_name }}</a>
						{% endcomment %}
                        </li>
                    {% endfor %}
                 </ul>
             {% endif %}

         </li>
         {% endwith%}

    {% endfor %}
{% endblock %}


{% block right_big_icon_panel %}
{% if content_blocks.help_page.data %}
<a href="{% game_view_url "rpgweb.views.view_help_page" keyword=content_blocks.help_page.name %}" class="fancybox fancybox.ajax" title="{{ page_title }}">
<div class="big_icon_panel">
    <img src="{{ STATIC_URL }}MetalRadiance/img/icons/question_mark.png"/>{% if signal_new_help_page %}$${% endif %}
</div>
</a>
{% else %}
<div class="big_icon_panel">
    <img src="{{ STATIC_URL }}MetalRadiance/img/icons/question_mark_disabled.png"
         {% if display_admin_tips %}title="{% trans "Unexisting help page:" %} '{{ content_blocks.help_page.name }}'"{% endif %}/>
</div>
{% endif %}
{% endblock %}



{% block panels %}

    {# TO BE OVERRIDDEN #}

{% endblock %}




{% block up_footer_left_content %}

        {% if online_users %}
            {% blocktrans count online_users|length as counter %}
                Online user:
            {% plural %}
                Online users:
            {% endblocktrans %}
            <i>{{ online_users|join:", " }}</i>
        {% else %}
            <i>{% trans "No users currently online." %}</i>
        {% endif %}



{% endblock %}


{% block up_footer_right_content %}

        {% trans "Interface : " %}

        <form id="change_language_fr" style="display:inline;" method="POST" action="{% url django.views.i18n.set_language %}">
        <input type="hidden" name="language" value="fr"/>
        <a href="javascript:document.getElementById('change_language_fr').submit()"><img src="{{ STATIC_URL }}img/flags/France.jpg" style="vertical-align: middle"/></a>
        </form>

        <form id="change_language_en" style="display:inline;" method="POST" action="{% url django.views.i18n.set_language %}">
        <input type="hidden" name="language" value="en"/>
        <a href="javascript:document.getElementById('change_language_en').submit()"><img src="{{ STATIC_URL }}img/flags/UK.jpg" style="vertical-align: middle"/></a>
        </form>    <br/>

        <b><a href="{{ mobile_site_entry_url }}">{% trans "Mobile Version" %}</a></b>
{% endblock %}


{% block low_footer_content %}
    <a id="bug_report_link" href="#" onclick="display_bug_report_panel(); return false;" >{% trans "Report Bug" %}</a>
{% endblock %}






