{% extends "base_main.html" %}
{% load sekizai_tags heading kwacros i18n %}
{% loadkwacros "metalradiance_kwacros.html" %}




 
{% block panels %} 

    {% usekwacro main_panel_start frame_class="medium_frame float_right" %}

        {% if page_title %}<h1>{{ page_title }}</h1>{% endif %}

        {% block content %}  
        {% endblock %}
        
    {% usekwacro main_panel_end %}


    {% block sidebar %}  
        {% comment %} <!-- USE THIS TO CREATE SIDE PANELS -->
        {% usekwacro side_panel_start frame_class="mini_frame float_left" decos="1" %}
            {% block sidebar_content %} 
            {% endblock %}
        {% usekwacro side_panel_end %}
        {% endcomment %}
    {% endblock %}
    
    

    
{% endblock %}

     
    
    
 
