
{% extends "base_two_columns.html" %}

{% load i18n helpers kwacros %}
{% loadkwacros "metalradiance_kwacros.html" %}


{% block sidebar %}

    {% usekwacro side_panel_start frame_class="mini_frame float_left clear_left" decos="3" %}

        <h2>{% trans "Search" %}</h2>
        <p class="smaller_text">{% trans "Type here sequences of keywords to find matching encyclopedia articles." %}</p>
        <form action="{% game_view_url "pychronia_game.views.view_encyclopedia" %}" method="get" autocomplete="on"
              onsubmit="if ($('#search').data('activated') !== 'true' || $.trim($('#search').attr('value')) === '') {return false;}">
            <input id="search" type="text" name="search" size="25" maxlength="50" value="{% trans "Enter phrase here..." %}"
                   onclick="if ($('#search').data('activated') !== 'true') {this.value=''; $('#search').data('activated', 'true');}"/>
            <input type="submit" value="Fetch"/>
        </form>

    {% usekwacro side_panel_end %}


    {% if articles_index %}
        {% usekwacro side_panel_start frame_class="mini_frame float_left clear_left" decos="1" %}
        <div class="rice_paper_rose full_width">
            <h2>{% trans "Index" %}</h2>
            <ul>
                {% for article_id, article_title in articles_index %}
                    <li><a href="{% game_view_url "pychronia_game.views.view_encyclopedia" current_article_id=article_id %}">{{ article_title|default:article_id }}</a></li>
                {% endfor %}
            </ul>
        </div>

        {% usekwacro side_panel_end %}
    {% endif %}

{% endblock %}



{% block content %}

        {% if entry %}


        {% if entry.title %}<h2>{{ entry.title }}</h2>{% endif %}

        <div class="pretty_text">

            {% if display_admin_tips and entry.keywords %}
            <div class="admin-note">
                <strong>{% trans "Keywords" %}{{COLON}}</strong> {{ entry.keywords|join:', ' }}
            </div>
            {% endif %}

            {% include "utilities/static_page_block.html" with article_name=None article_data=entry excluded_link=current_article_id initial_header_level=3 %}
        </div>
        {% endif %}

        {% if search_results %}
        <p><b>{% trans "Search results for" %} "{{search_string}}"{{COLON}}</b></p>
        <ul>
            {% for article_id, article_title in search_results %}
                <li><a href="{% game_view_url "pychronia_game.views.view_encyclopedia" current_article_id=article_id %}">{{ article_title }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if not entry and not search_results %}

            <p>
            {% blocktrans %}
                Please use the side controls to find whatever science you still lack.
            {% endblocktrans %}
            </p>

            <div class="post-it full_width" style="font-size:0.8em;">
                <strong>{% trans "System Notification" %}</strong>
                <p>
                {% if not article_ids %}
                    {% blocktrans %}
                        Due to a very unfortunate overclocking attempt on our data servers,
                        encyclopedia indexes have been entirely lost. We apologize for the inconvenience
                        and do our best to restore them from backups. The Alifir Academy.
                    {% endblocktrans %}
                {% else %}
                    {% blocktrans %}
                        Following the last database crash, we've managed to recover a tiny part of the encyclopedia index.
                        We'll continue investigation when we have the budget for it, in one year or so.
                    {% endblocktrans %}
                {% endif %}
                </p>
            </div>

        {% endif %}

{% endblock %}


