{% extends "base_one_column_isolated.html" %}

{% load sekizai_tags i18n helpers %}

{% block sekizai_calls %}
    {{ block.super }}
    {% addtoblock "css" %}
        <link href="{{ STATIC_URL }}libs/enigma-runes-puzzle/enigma_runes_puzzle.css" type="text/css" rel="stylesheet" />
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script>var enigmaRunesPuzzleAssetsRoot = '{{ STATIC_URL }}libs/enigma-runes-puzzle/';</script>
        <script src="{{ STATIC_URL }}libs/easyaudioeffects/jquery.easyaudioeffects.1.0.0.js"></script>
        <script src="{{ STATIC_URL }}libs/enigma-runes-puzzle/enigma_runes_puzzle.js" type="text/javascript"></script>
    {% endaddtoblock %}

{% endblock %}

{% block content %}

    <!-- HELP -->
    <p>
        Pour ouvrir l'accès vers l'étage interdit, veuillez entrer ici le symbole familial secret des Maupertuis.
        Rappel : une copie cachée se trouve dans la malle familiale.
    </p>

    <!-- Puzzle -->
   	<div id="enigma-container">
   	</div>

   	<!-- winning message-->
   	<div id="victory-overlay" >
        <h1 style="text-align: center;">{% trans "The magic gate is now beginning to open" %}</h1>
   		<img id="victory-splash" width ="400px" height="400px" src="{{ STATIC_URL }}libs/enigma-runes-puzzle/imgs/victory.gif">
   		<!--button id="reset-enigma" onclick="resetEnigmaRunesPuzzle()" class="btn btn-primary btn-lg">Reset</button-->
   	</div>

{% endblock %}
