
{% extends "base_one_column_isolated.html" %}

{% load i18n helpers kwacros %}
{% loadkwacros "metalradiance_kwacros.html" %}



{% block content %}

    {% if clue_content %}
    <div class="pretty_text">
        {% rich_text clue_content %}
    </div>
    <br/>
    {% endif %}

    <p>Vous pouvez rentrer ici la catégorie, et le code (souvent à 3 caractères) d'un indice, pour en avoir la signification.</p>

    <div style="margin: 10px auto; text-align: center;">
    {% include "utilities/scroll_form.html" with title=_("Enter Clue Code") form=clue_form class="center" button_title=_("Submit") button_name="request_clue" %}
    </div>


{% endblock %}
