
{% extends "base_one_column.html" %}

{% load i18n helpers %}



{% block content %}

    <div align="center">
     <br/>
     {% game_view_url "pychronia_game.views.get_radio_xml_conf" as player_conf_url %}
     {# % include "utilities/multi_mp3_player.html" with player_width="400" player_height="200" player_conf_url=player_conf_url % #}

        -- {{ playlist.0|determine_asset_url }} --
        <audio controls preload="none"
               data-cast-title="Jazz Example"
               data-cast-description="This is a description for audio only"
               data-cast-poster="http://mediaelementjs.com/images/big_buck_bunny.jpg">

        >

         <source src="{{ playlist.0|determine_asset_url }}" type="audio/mp3"  title="Jazz Example 1" data-playlist-description="Lorem ipsum dolor sit amet" >
         <source src="{{ playlist.1|determine_asset_url }}" type="audio/mp3"  title="Jazz Example 2" data-playlist-description="sdfsdf sdfsdfsdf">
         Your browser does not support the audio tag.
       </audio>

        <script>
        var params = {
            //pluginPath: '/path-to-mediaelement-dir/',
            iconSprite: '{{ STATIC_URL }}libs/mediaelement/mejs-controls.svg',
            features: ['prevtrack', 'playpause', 'nexttrack', 'current', 'progress', 'duration', 'volume', 'playlist'],
        };
        ///$('audio,video').mediaelementplayer(params);

        var mediaElements = document.querySelectorAll('video, audio');

       	for (var i = 0, total = mediaElements.length; i < total; i++) {
       		new MediaElementPlayer(mediaElements[i], {
                iconSprite: '{{ STATIC_URL }}libs/mediaelement/mejs-controls.svg',
       			features: ['prevtrack', 'playpause', 'nexttrack', 'current', 'progress', 'duration', 'volume', 'playlist'],
       		});
       	}


        </script>
        <style>
            .mejs__container {
                background-color: sandybrown;
            }
        </style>

     <br/>
    </div>

    {% if playlist %}
    <h2>{% trans "Standalone radio spots" %}</h2>
    <div>
       <ul>
           {% for properties in playlist %}
               <li><a href="{{ properties|determine_asset_url }}">{{ forloop.counter }} - {{ properties.title }}</a></li>
           {% endfor %}
       </ul>
    </div>
    {% endif %}

{% endblock %}




