
{% extends "base_one_column.html" %}

{% load i18n helpers %}



{% block content %}

    <div align="center">
     <br/>
     {% game_view_url "pychronia_game.views.get_radio_xml_conf" as player_conf_url %}
     {% include "utilities/multi_mp3_player.html" with player_width="400" player_height="200" player_conf_url=player_conf_url %}
     <br/>
    </div>

    {% if playlist %}
    <h2>{% trans "Standalone radio spots" %}</h2>
    <div>
       <ul>
           {% for properties in playlist %}
               <li><a href="{{ properties|determine_asset_url }}">{{ forloop.counter }} - {{ properties.title }}</a></li>
           {% endfor %}
       </ul>
    </div>
    {% endif %}

{% endblock %}




