
{% extends "base_one_giant_column.html" %}

{% load i18n helpers %}



{% block content %}

    <div class="inner_center">
        <a class="zoomable" href="{% game_file_url world_map_image %}" rel="{% game_file_url world_map_image %}">
            <img src="{% game_file_img world_map_image alias="giant_width" %}"/>
        </a>
        <br/><br/>
        <b><a href="{% game_file_url world_map_image_bw %}">{% trans "Download a simplified, printable world map." %}</a></b>
    </div>
    <br/>

{% endblock %}



