/* Allow customisation */

body {
    color: #333;
    pointer-events: none; /* chrome workaround */
}

.slide {
    color: #555;
}

ul {
    line-height: 130%;
}

#mecaniques-de-jeu, #vieille-demo, #chrysalis-prolifik-net { pointer-events: auto; }