/* Allow customisation */

@font-face {
  font-family: ParmaPetit;
  src: local("ParmaPetit-Normal"), url(design/ParmaPetit-Normal.ttf);
  font-weight: normal;
}

body {
    background-color: black;
    color: #333;
    pointer-events: none; /* chrome workaround */
}


.hidden {
    display: none;
}

.step#chrysalis {
    color: #fef5bb;
}

.step#chrysalis sub {
    font-style: italic;
}

.slide {
    position: relative;
    
    border: 2px solid black;
    color: #555;
    width: 947px;
    height: 720px;
    padding: 5px 60px 5px;
    
    background: #fef5bb; /* Old browsers */
    background: -moz-linear-gradient(top, #fef5bb 0%, #c59f38 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fef5bb), color-stop(100%,#c59f38)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fef5bb 0%, #c59f38 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fef5bb 0%, #c59f38 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fef5bb 0%,#c59f38 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fef5bb 0%, #c59f38 100%); /* W3C */
    
    border-radius: 10px 10px 60px 60px / 10px 10px 100px 100px;
    
}

.slide:before {
   content: url(design/haut2.png);
   display: block;
   position:relative;
   left: -54px;

}

.slide:after {
   content: url(design/bottom.png);
   display: block;
   position:relative;
   left: 55px;
   bottom: 2px;
   position: absolute;
}


.slide h1 {
    font-family: ParmaPetit, serif;
    font-size: 60px !important; 
    margin-top: -27px;
    margin-bottom: 20px;
    color: #484639;
}

.slide h2 {
    font-family: ParmaPetit, serif;
    font-size: 40px !important; 
    color: #484639;
}

.slide p {
    margin-top: 15px;
    margin-bottom: 4px;
    color: #484639;
    font-family: Arial, sans-serif;
    font-size: 34px
}

.slide ul {
    color: #484639;
    font-family: Arial, sans-serif;
    font-size: 32px !important; 
    line-height: 130%;
}

.slide ul li {
    list-style-image: url(design/puce_niveau1.png)
}

.slide ul li ul li {
    list-style-image: url(design/puce_niveau2.png)
}

.slide ul li ul li ul li {
    list-style-image: url(design/puce_niveau3.png)
}

.slide pre {
    border: 1px solid black;
    background-color:transparent;
}
 
 
.slide blockquote:before {
   content: url(design/admonition_border_unique_hautgauche.png);
   display: block;
   position:relative;
   top: 22px;
   left: -38px;
   margin-top: -30px;
}
 
.slide blockquote div {
    display: block;
    position:relative;
    top: -3px;
    border-top: 2px solid black;
    padding: 15px;
    background-color: #484639;
    color: #fef5bb;
}

.slide blockquote div p {
    margin-top: 5px;
    color: #fef5bb;
    font-family: Arial, sans-serif;
    font-size: 28px !important; 
}

#mecaniques-de-jeu, #vieille-demo, #chrysalis-prolifik-net { pointer-events: auto; }




