
{% extends "base_two_columns.html" %}

{% load sekizai_tags i18n helpers kwacros %}
{% loadkwacros "metalradiance_kwacros.html" %}




{% block sekizai_calls %}
{{ block.super }}

{% addtoblock "definition_js" %}

    function load_media_frame(fileurl) {

        //alert("{% game_view_url "rpgweb.views.view_media" %}?url=" + fileurl);

        // DO NOT use escape(), as it's for latin1 encoding (blerh...)

        $("#media_url").html('<a href="'+encodeURI(fileurl)+'">'+encodeURI(fileurl)+'</a>')

        $("#media_viewer").load("{% game_view_url "rpgweb.views.view_media" %}?autostart=true&url=" + encodeURIComponent(fileurl));
        $("#media_viewer").css('display', 'block');
    }

{% endaddtoblock %}

{% endblock %}





{% block sidebar %}

{% usekwacro side_panel_start frame_class="mini_frame float_left" decos="3" %}
    <h2>{% trans "Files" %}</h2>
    {% if display_maintenance_notice %}
    <div class="post-it center" style="font-size:0.8em; width:95%;">
        <strong>{% trans "System Notification" %}</strong>
        <p style="font-size:11px;">
        {% blocktrans %}
            Due to heavy maintenance operations on our front-end servers,
            the upload of files is disabled until next decade.
            We apologize for the inconvenience.
        {% endblocktrans %}
        </p>
    </div>
    <br/>
    {% endif %}

    <div class="rice_paper_rose center tiny_bullets">
    <ul>
        {% for filename, fileurl in files %}
            <li><a href="{{ fileurl }}" onclick="load_media_frame('{{ fileurl|escapejs }}'); return false;">{{ filename }}</a></li>
        {% endfor %}
    </ul>
    </div>

{% usekwacro side_panel_end %}

{% endblock %}




{% block content %}

    <div align="center">
        <strong>
        <div style="width:90%; font-size:0.9em; padding:3px; margin:auto; border:solid 1px #DFBF99; margin: 10px 0;" id="media_url">
            {% trans "Click left menu links to display content." %}
        </div>
        </strong>
    </div>

    <div align="center" id="media_viewer" style="display: none">&nbsp;</div>

{% endblock %}


