{% extends "base_meta_administration.html" %}
{% load sekizai_tags heading kwacros helpers i18n django_select2_tags %}
{% loadkwacros "metalradiance_kwacros.html" %}


{% block content %}

	<h1>{% trans "Meta Administration" %}</h1>



	<table class="realtable">

		{% for meta in instances_metadata %}
		<tr>
			<td style="text-align: left">
			    <center>
    			    <a href="{% url 'pychronia_game.views.homepage' game_instance_id=meta.instance_id game_username="redirector" %}" ><b>{{ meta.instance_id }}</b></a><br/><br/>
    			</center>

    			{% trans "Creator Login:" %} {{ meta.creator_login }}<br/>
    			{% trans "Creator Email:" %} {{ meta.creator_email|default:_("None") }}<br/>
    			{% trans "Creation Date:" %} {{ meta.creation_time|utctolocal|date:"SHORT_DATE_FORMAT" }}<br/>
                <br/>
    			<center>
    			<a href="{{ meta.activation_link }}">{% trans "Activation Link" %}</a>
    			</center>
			</td>
			<td>

				<ul>
				    <li>{% trans "Status:" %} '{{ meta.status }}' ({% trans "last change:" %} {{ meta.last_status_change_time|utctolocal|date:"SHORT_DATETIME_FORMAT" }})</li>

					<li>{% trans "Accesses:" %} {{ meta.accesses_count }} ({% trans "last access:" %} {{ meta.last_access_time|utctolocal|date:"SHORT_DATETIME_FORMAT" }})</li>


				{% if meta.maintenance_until and meta.maintenance_until > utc_now %}
				    <li><b>{% trans "LOCKED for maintenance until" %} {{ meta.maintenance_until|utctolocal|date:"SHORT_DATETIME_FORMAT" }}</b></li>
    		    </ul>
    		        <form action="#" method="post" class="meta_admin_button">
    				    <input type="hidden" name="unlock_instance" value="{{ meta.instance_id }}"/>
    				    <input type="submit" value="{{ _("Unlock game instance")}}" />
    				</form>
    				<b>
                    <p><a href="{% url 'pychronia_game.meta_administration_views.edit_instance_db' target_instance_id=meta.instance_id %}">
                        <br/>{% trans "Directly edit instance database (dangerous!)" %}<b/>
                    </a></p>
                {% else %}
                    <li>{% trans "Not locked for maintenance" %}</li>
                </ul>
                    <form action="#" method="post" class="meta_admin_button">
                        <input type="hidden" name="lock_instance" value="{{ meta.instance_id }}"/>
                        <input type="submit" value="{{ _("Lock")}}" />
                    </form>
                {% endif %}

                <br/>
                <form action="#" method="post" class="meta_admin_button" onchange="this.submit()">
                    <input type="hidden" name="change_instance_status" value="{{ meta.instance_id }}"/>
                    <select name="new_status">
                        {% for status in possible_game_statuses %}
                        <option value="{{ status }}" {% if meta.status == status %}selected{% endif %}>{% trans "Status" %}{{COLON}} {{ status }}</option>
                        {% endfor %}
                    </select>
                </form>

                <br/>
                <form action="#" method="post" class="meta_admin_button" autocomplete="on">
                    <input type="hidden" name="backup_game_instance" value="{{ meta.instance_id }}"/>
                    <input type="text" name="backup_comment" title="{% trans "Write backup comment here..." %}" />
                    <input type="submit" value="{{ _("Backup with comment")}}" />
                </form>

                {% if meta.status in deletable_statuses %}
                <br/>
                <form action="#" method="post" class="meta_admin_button" onsubmit="return confirm('{{ _("Are you sure you want to delete this game instance?")|escapejs }}')">
                    <input type="hidden" name="delete_game_instance" value="{{ meta.instance_id }}"/>
                    <input type="submit" value="{{ _("Delete")}}" />
                </form>
                {% endif %}

			</td>
		</tr>
		{% endfor %}

	</table>


    <br/><br/>


    <div id="game_creation_form" class="form_scroll_medium" align="center" style="margin: auto;">
        <h2>{% trans "New Game Instance" %}</h2>
        <form action="#game_creation_form" method="post" class="meta_admin_button" autocomplete="off">
            {{ game_creation_form.as_p }}
            <p><input type="submit" name="create_game_instance" value="{{ _("Create game instance")}}" /></p>
        </form>
    </div>


    <br/><br/>


    <div id="session_token_form" class="form_scroll_medium" align="center" style="margin: auto;">
        <h2>{% trans "Get Autoconnect Token" %}</h2>
        {% if session_token_display %}
            <strong>{% trans "Result of computation" %}{{COLON}}</strong>
            <span style="font-size: 0.8em; word-break: break-all">{{ session_token_display }}</span>
        {% endif %}
        <form action="#session_token_form" method="post" class="meta_admin_button">
            <p><input type="text" name="game_instance_id" placeholder="{% trans "GAME INSTANCE ID" %}" /></p>
            <p><input type="text" name="login" placeholder="{% trans "USERNAME" %}" /></p>
            <p><input type="checkbox" name="is_observer" checked /> {% trans "Observer Mode (read-only)" %}</p>
            <p><input type="submit" name="compute_enforced_session_ticket" value="{{ _("Compute Token")}}" /></p>
        </form>
    </div>


    <br/><br/>




{% endblock %}


