{% extends "base_meta_administration.html" %}
{% load sekizai_tags heading kwacros helpers i18n django_select2_tags %}
{% loadkwacros "metalradiance_kwacros.html" %}


{% block content %}

	<h1>{% trans "Meta Administration" %}</h1>

	<table class="realtable">

		{% for meta in instances_metadata %}
		<tr>
			<td>
    			<a href="{% url 'pychronia_game.views.homepage' game_instance_id=meta.instance_id %}" ><b>{{ meta.instance_id }}</b></a><br/>
    			{% trans "Creator:" %} {{ meta.creator_login }}<br/>
    			{% trans "Created:" %} {{ meta.creation_time|utctolocal|date:"SHORT_DATE_FORMAT" }}<br/>
			</td>
			<td style="text-align: left;">



				<ul>
				    <li>{% trans "Status:" %} '{{ meta.status }}' ({% trans "last change:" %} {{ meta.last_status_change_time|utctolocal|date:"SHORT_DATETIME_FORMAT" }})</li>

					<li>{% trans "Accesses:" %} {{ meta.accesses_count }} ({% trans "last access:" %} {{ meta.last_acccess_time|utctolocal|date:"SHORT_DATETIME_FORMAT" }})</li>


				{% if meta.maintenance_until and meta.maintenance_until > utc_now %}
				    <li><b>{% trans "LOCKED for maintenance until" %} {{ meta.maintenance_until|utctolocal|date:"SHORT_DATETIME_FORMAT" }}</b></li>
    		    </ul>
    		        <form action="" method="post" class="meta_admin_button">
    				    <input type="hidden" name="unlock_instance" value="{{ meta.instance_id }}"/>
    				    <input type="submit" value="{{ _("Unlock game instance")}}" />
    				</form>
    				<b>
                    <p><a href="{% url 'pychronia_game.meta_administration_views.edit_instance_db' target_instance_id=meta.instance_id %}">
                        <br/>{% trans "Directly edit instance database (dangerous!)" %}<b/>
                    </a></p>
                {% else %}
                    <li>{% trans "Not locked for maintenance" %}</li>
                </ul>
                    <form action="" method="post" class="meta_admin_button">
                        <input type="hidden" name="lock_instance" value="{{ meta.instance_id }}"/>
                        <input type="submit" value="{{ _("Lock")}}" />
                    </form>
                {% endif %}

                <br/>
                <form action="" method="post" class="meta_admin_button" onchange="this.submit()">
                    <input type="hidden" name="change_instance_status" value="{{ meta.instance_id }}"/>
                    <select name="new_status">
                        {% for status in possible_game_statuses %}
                        <option value="{{ status }}" {% if meta.status == status %}selected{% endif %}>{{ status }}</option>
                        {% endfor %}
                    </select>
                </form>

                <br/>
                <form action="" method="post" class="meta_admin_button">
                    <input type="hidden" name="backup_game_instance" value="{{ meta.instance_id }}"/>
                    <input type="text" name="backup_comment" title="{% trans "Write backup comment here..." %}" />
                    <input type="submit" value="{{ _("Backup with comment")}}" />
                </form>

                {% if meta.status in deletable_statuses %}
                <br/>
                <form action="" method="post" class="meta_admin_button" onsubmit="return confirm('{{ _("Are you sure you cant to delete this game instance?")|escapejs }}')">
                    <input type="hidden" name="delete_game_instance" value="{{ meta.instance_id }}"/>
                    <input type="submit" value="{{ _("Delete")}}" />
                </form>
                {% endif %}

			</td>
		</tr>
		{% endfor %}

	</table>

{% endblock %}


