
{% extends "base_one_column.html" %}

{% load sekizai_tags i18n helpers kwacros %}  

{% block sekizai_calls %}
{{ block.super }}
{% addtoblock "definition_js" %}

{% endaddtoblock %}
{% endblock %}


{% block content %}

    <p>
    {% blocktrans%}
        HERE EXPLAIN DJINN LIMIT {{bot_max_answers }} LINES.
    {% endblocktrans %}
    </p>
    
    <div align="center" class="scroll_yellow_flat center" style="text-align:center; width:300px;">
    <form action="" method="post">
        <p><input type="text" name="target_djinn_name" value="" /></p>
        <p><input type="submit" name="contact_djinn" value="{% trans "Contact Djinn" %}" /></p>
    </form>
    </div>

{% endblock %}























