{% extends "base_one_column.html" %}

{% load i18n helpers %}  

{% block content %}  
    {% if translation_form %}
    
        <p>
        {% blocktrans %}
            Please provide below the phonetic transcription of antic runes, with spaces between each syllable (eg. "na tsu to ri").
            Due to the complex rules of these ancient languages, the precise location of these runes is also required to get
            a meaningful translation.
            Translation processing might take between {{ min_delay_mn }} and {{ max_delay_mn }} minutes.
        {% endblocktrans %}
        </p>
        
        <br/>
        
        
        <form action="{{ translation_form.url }}" method="post">
        <table style="margin:auto;width:250px;">
        {{ translation_form.as_table }}
        <tr>
            <td colspan="2">
                <input type="submit" name="Translate" value="{% trans "Translate" %}" />
            </td>
        </tr>
        </table>
        </form>
        
    {% endif %}

{% endblock %}

