{% extends "base_one_column.html" %}

{% load i18n helpers %}

{% block content %}

<h2>{% trans "Your protections" %}</h2>

{% if has_confidentiality_activated %}
    <div><b>{% trans "Your messaging account is properly by the confidentiality system." %}</b></div>
{% else %}

    <div align="center" class="scroll_yellow_flat center" style="text-align:center; width:300px;">
        <form action="" method="post">
            <input type="hidden" name="_action_" value="purchase_confidentiality_protection"/>
            <input type="submit" name="purchase_confidentiality" value="{% trans "Buy confidentiality system" %}" onclick="return confirm('{% trans "Are you sure you want to purchase a confidentiality protection system ?" %}')" />
        </form>
    </div>
{% endif %}


{% if broken_wiretapping_targets %}
    <p>{% trans "Something seems to prevent the proper interception of messages of these targets:" %}{{ broken_wiretapping_targets|join:", " }}</p>
{% else %}
    <p>{% trans "Your wiretapping systems seem to work fine." %}</p>
{% endif %}



<h2>{% trans "Your wiretapping targets" %}</h2>

<div align="center">
    <p>
	<strong>{% trans "Current target" %}{{ current_targets|pluralize }}:
		{% if current_targets %}
			{{ current_targets|join:", " }}
		{% else %}
			{% trans "None" %}
		{% endif %}
	</strong>
    </p>
</div>


{% if wiretapping_form %}
    <div align="center" class="scroll_yellow_flat center" style="text-align:center; width:300px;">
        <form action="{{ wiretapping_form.url }}" method="post">
        {{ wiretapping_form.as_p }}
        <input type="submit" name="wiretap" value="{% trans "Set Wiretaps" %}" />
        </form>
    </div>
{% else %}
    <p>{% trans "You currently have no wiretapping slot available." %}</p>
{% endif %}


<div align="center" class="scroll_yellow_flat center" style="text-align:center; width:300px;">
    <form action="" method="post">
        <input type="hidden" name="_action_" value="purchase_wiretapping_slot"/>
        <input type="submit" name="purchase_slot" value="{% trans "Buy wiretapping slot" %}" onclick="return confirm('{% trans "Are you sure you want to purchase a spying slot ?" %}')" />
    </form>
</div>





{% endblock %}
