/* Allow customisation */

body {
    color: #333;
    pointer-events: none; /* chrome workaround */
}

.slide {
    color: #555;
}

ul {
    line-height: 130%;
}

#vieille-demo, #chrysalis-prolifik-net, #questions { pointer-events: auto; }