{% extends "base_one_column.html" %}

{% load i18n helpers %}  

{% block content %}  
    
            
    
    {% if secret_question and secret_question_form %}
        
        <p class="outlined">
        {% blocktrans %}
            Please correctly answer the secret question below, and provide a valid backup email address, 
            so that we can send you the password you forgot.
        {% endblocktrans %}
        </p>
        
        <br/>
        <div class="scroll_yellow_flat center" style="width: 400px">
            
            <div align="center"><strong>Secret Question : "{{ secret_question }}"</strong></div>

            <form action="{% game_view_url "rpgweb.views.secret_question" concerned_username=concerned_username %}" method="post">
            <table class="center">
            {{ secret_question_form.as_table }}
            <tr>
                <td colspan="2">
                    <br/>
                    <input type="submit" name="recover" value="{% trans "Recover Password" %}" />
                </td>
            </tr>
            </table>
            </form>
        </div>
    {% endif %}
    
    <br/>
    <div align="center"><a href="{% game_view_url "rpgweb.views.login" %}">{% trans "Get back to login page" %}</a></div>

{% endblock %}


