{% extends "base_one_column.html" %}

{% load i18n helpers kwacros %}  
{% loadkwacros "metalradiance_kwacros.html" %}



{% block content %}  

    {% for identifier, form in forms %}
    <div class="scroll_realistic_thin_ends center">
        
        {% usekwacro deletion_button identifier %}
        
        <a name="entry-{{ identifier }}"><h2>{{ identifier|default:_("NEW ENTRY") }}</h2></a>
        <form id="update_form" action="" method="post">
            {{ form.as_p }}
            <input type="submit" name="submit" value="{% trans "Submit" %}"/>
        </form>
        
    </div>
    {% endfor %}

{% endblock %}



