{% extends "base_one_column.html" %}
 
{% load i18n helpers %}
 
 
{% block content %}  




<ul class="minimenu">

    <li class="{% ifequal mode "compose" %}highlight{% endifequal %}"><a href="{% gameurl rpgweb.views.compose_message %}">{% trans "Compose" %}</a></li>
    <li class="{% ifequal mode "inbox" %}highlight{% endifequal %}"><a href="{% gameurl rpgweb.views.inbox %}">{% trans "Inbox" %}</a></li>
    <li class="{% ifequal mode "outbox" %}highlight{% endifequal %}"><a href="{% gameurl rpgweb.views.outbox %}">{% trans "Outbox" %}</a></li>
    
    {% if user.is_master %}
        <li class="{% ifequal mode "all_sent_messages" %}highlight{% endifequal %}"><a href="{% gameurl rpgweb.views.all_sent_messages %}">{% trans "All Transferred" %}</a></li>
    {% endif %}
    
    {% if user.is_master %}
        <li class="{% ifequal mode "all_queued_messages" %}highlight{% endifequal %}"><a href="{% gameurl rpgweb.views.all_queued_messages %}">{% trans "All Queued" %}</a></li>
    {% endif %}
    
    {% if user|has_permission:"manage_wiretaps" %}
        <li class="{% ifequal mode "intercepted_messages" %}highlight{% endifequal %}"><a href="{% gameurl rpgweb.views.intercepted_messages %}">{% trans "Intercepted" %}</a></li>
    {% endif %}
    
    {% if user.is_master %}
        <li class="{% ifequal mode "messages_templates" %}highlight{% endifequal %}"><a href="{% gameurl rpgweb.views.messages_templates %}">{% trans "Templates" %}</a></li>
    {% endif %}

</ul>

{% endblock %}




  

