{% extends "messaging/base.html" %}

{% load sekizai_tags i18n helpers %}  



{% block sekizai_calls %}
{{ block.super }}


{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}libs/markitup/skins/simple/style.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}libs/markitup/sets/rest/style.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}libs/select2/select2.css" />
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}libs/markitup/jquery.markitup.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/markitup/sets/rest/set.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/select2/select2.js"></script>
{% endaddtoblock %}

{% addtoblock "onload_js" %}
mySettings.markupSet = mySettings["markupSet"].slice(0, -3); // remove code and preview system ATM
mySettings.resizeHandle = false; // we can't remove autohandle of browser though
$("#id_body").markItUp(mySettings); // mySettings comes from /markitup/sets/rest/set.js


 $("#jjj").select2({
    //multiple: true,
    //createSearchChoice: function(term) {return {id:}},
    width: "90%", // off/element/copy/resolve/<value>
    placeholder: "Select a State",
    allowClear: true,
    //minimumInputLength: 0,
    //maximumSelectionSize: null,
    //data:[{id:0,text:'enhancement'},{id:1,text:'bug'},{id:2,text:'duplicate'},{id:3,text:'invalid'},{id:4,text:'wontfix'}],
    maximumInputLength: 80,
    tags: ["hi", "how", "ji"],
    tokenSeparators: [",", ";", " "]
 });
 
{% endaddtoblock %}


{% endblock %}





{% block content %}  

<input type='hidden' id="jjj"/><br/>

<select id="e1" >
<option value="AL">Alabama</option>
<option value="WY">Wyoming</option>
</select>

        
    {% if message_form %}
        <p>
            {% blocktrans %}
            The "recipients" field may contain a list of values separated with commas or semi-colons.
            Each value may be a full email (of an user or an external entity), or the login of an existing user.
            You may attach to your message one of your personal files, or any url.
            {% endblocktrans %}
        </p>
        
        <form action="{% game_view_url "rpgweb.views.compose_message" %}" method="post">
        {{ message_form.as_p }}
        </form>
        
        <table class="same_width_widgets" style="margin: 20px auto;width:500px;">
        
        <tr>
        
            <td colspan="2">
                <br/>
                <input type="submit" style="width: 200px" name="send_message" value="{% trans "Send Message" %}" />
            </td>
        
        </tr>
        </table>
        
    
    {% else %}
    <br/>
    <p>
        <b>{% blocktrans %}Sorry, the sending of digital messages is currently disabled for maintenance.{% endblocktrans %}</b>
    </p>    
    
    {% endif %}

{% endblock %}