{% extends "messaging/base.html" %}

{% load i18n helpers markup %}  




{% block content %}  

    {{ block.super }}

    {% if not messages %}
        
        <div style="text-align:center;">
            <i>{% trans "No messages yet." %}</i>
            
        </div>
    
    {% else %}
        
        {% for ctx, message in messages %}
            {% include "messaging/single_message.html" with ctx=ctx message=message is_first=1 %}
        {% endfor %}

    {% endif %}
    
{% endblock %}
    
    
    
    
    
    
    


