{% extends "messaging/base.html" %}

{% load sekizai_tags i18n helpers %}  
    
{% block sekizai_calls %}
    {{ block.super }}
    
    
    {% addtoblock "onload_js" %}
    {% endaddtoblock %}

{% endblock %}




{% block content %}  

    {{ block.super }}
    
    {% for template_id, template in templates %}
        <div class="notaccordion">
            {% include "messaging/single_message.html" with ctx="" message=template is_first=1 template_id=template_id %}
        </div>
    {% endfor %}

{% endblock %}
    
    
    
    
    
    
    
    
    
    
    