
{% extends "messaging/base.html" %}

{% load i18n helpers markup %}


{# we have nothing to put in sidebar here... #}

{% block content %}

    {{ block.super }}

    <p style="text-align:center;"><strong>
    {% if is_queued %}
        {% trans "Message queued for delivery." %}
    {% else %}
        {% trans "Message delivered to recipient." %}
    {% endif %}
    </strong></p>

    {% include "messaging/single_message.html" with ctx=ctx message=message is_first=1 %}

{% endblock %}









