{% extends "base_one_column.html" %}

{% load i18n helpers %}

{% block content %}

    {% if intro_data.prologue_music %}
        <div style="">
        {{ intro_data.prologue_music|mediaplayer:"false" }}
        </div>
    {% endif %}


    <div class="intro">
    {% rich_text intro_data.global_introduction %}
    </div>

    {% if intro_data.team_introduction %}
        <div class="intro">
        {% rich_text intro_data.team_introduction %}
        </div>
    {% endif %}

    <div align="center">
    <strong>
        {% trans "Further information is available in your mailbox." %}
    </strong>
    </div>
    <br/>

{% endblock %}