

AddType text/x-component .htc 

AddType application/vnd.ms-fontobject .svg
AddType application/vnd.ms-fontobject .eot
AddType application/x-font-ttf .ttf
AddType application/x-font-opentype .otf
AddType application/x-font-woff .woff

