


/* Primary Content */

#primaryContentContainer
{
	position: relative;
	z-index: 2;
	float: right;
	margin-left: -18em;
	width: 100%;
}

#primaryContent
{
	margin: 1em 2.0em 0em 15.5em;
	padding: 0em 0em 0em 1em;
	border-left: solid 1px #DFBF99;
}


/* Secondary Content */

#secondaryContent {
    float: right;
    font-size: 12px;
    margin-right: 3.2em;
    margin-top: 2em;
    position: relative;
    width: 210px;
    z-index: 2;
}