{% extends "messaging/base.html" %}

{% load sekizai_tags i18n helpers %}

{% block sekizai_calls %}
    {{ block.super }}


    {% addtoblock "onload_js" %}
    {% endaddtoblock %}

{% endblock %}




{% block content %}

    {{ block.super }}

    {% for ctx, template in templates %}
        <div>
            {% include "messaging/single_message.html" with ctx=ctx message=template is_first=1 %}
        </div>
    {% endfor %}

{% endblock %}







OLD STUFFS BELOW



{% block content %}
    {{ block.super }}

    {% if not messages %}

        <div style="text-align:center;">
            <i>{% trans "No messages yet." %}</i>

        </div>

    {% else %}

        {% for message in messages %}




            <div id="{{ message.id }}" class="email
            {% if mode == "inbox" or user.is_master %}
                {% if user.username in message.has_read %}email_read{% else %}email_unread{% endif %}
            {% endif %}">


                {% ifequal mode "inbox" %}
                <span class="message_operation">
                    <a class="mark_read_tag" onclick="ajax_set_dispatched_message_state_flags('{{ message.id|escapejs }}', {has_read: true}); return false;" href="#">
                        {% trans "Mark as read" %}
                    </a>
                    <a class="mark_unread_tag" onclick="ajax_set_dispatched_message_state_flags('{{ message.id|escapejs }}', {has_read: false}); return false;" href="#">
                        {% trans "Mark as unread" %}
                    </a>
                </span>
                {% endifequal %}

                {% ifequal mode "all_queued_messages" %}
                <span class="message_operation">
                    <a onclick="force_email_sending('{{ message.id|escapejs }}', true); return false;" href="#">
                        {% trans "Force sending" %}
                    </a>
                </span>
                {% endifequal %}


                <table style="margin:2px 24px; line-height:0.6em;">

                {% if not remove_from %}
                <tr>
                <td><strong>{% trans "From:" %}</strong></td>
                <td style="color:{% usercolor message.sender_email %};">{{ message.sender_email }}</td>
                </tr>
                {% endif %}

                {% if not remove_to %}
                <tr>
                <td><strong>{% trans "To:" %}</strong></td>
                <td>{{ message.recipient_emails|join:"; " }}</td>
                </tr>
                {% endif %}

                <tr>
                <td><strong>Date:</strong></td>
                <td>{{ message.sent_at|utctolocal|date:"SHORT_DATETIME_FORMAT" }}</td>  {%comment %} IF NEEDED {% load humanize %}{{ event.time|utctolocal|naturalday:"d/N/Y" }}{% endcomment %}
                </tr>
                </table>


                <p style="color:{% usercolor message.sender_email %};">
                    <strong>
                        {% if user.is_master %}
                            <!-- only for game master -->
                            {% if message.intercepted %}
                                {% trans "[intercepted]" %}
                            {% endif %}
                        {% endif %}
                        {{ message.subject }}
                    </strong>
                </p>


                <div style="color:{% usercolor message.sender_email %};">
                    {{ message.body|restructuredtext }}
                </div>

                {% if message.attachment %}
                    <br/>
                    {% filter mediaplayer:"false" %}{% game_file_url message.attachment %}{% endfilter %}
                {% endif %}

                <span class="message_operation">
                    {% ifequal mode "inbox" %}
                        <a href="{% game_view_url "pychronia_game.views.compose_message" %}?parent_id={{ message.id|urlencode }}">
                            {% trans "Reply to message" %} {% if user.username in message.has_replied %}({% trans "already done" %}){% endif %} {% FIXME still used ?? %}
                        </a>
                    {% endifequal %}

                    {% ifequal mode "outbox" %}
                        <a href="{% game_view_url "pychronia_game.views.compose_message" %}?parent_id={{ message.id|urlencode }}">
                            {% trans "Recontact recipient" %}
                        </a>
                    {% endifequal %}
                </span>
            </div>

        {% endfor %}

    {% endif %}

{% endblock %}


