{% extends "base_two_columns.html" %}

{% load sekizai_tags i18n helpers kwacros %}
{% loadkwacros "metalradiance_kwacros.html" %}




{% block sekizai_calls %}
{{ block.super }}

{% addtoblock "definition_js" %}

    function remove_message_displays(msg_id) {
        $("#"+msg_id).remove();
        $("[href='#"+msg_id+"']").parent().remove(); // remove links pointing to it, maybe resulting in empty "li" tags (but it's ok)
    }

    function force_email_sending(msg_id) {

        $.post("{% game_view_url "pychronia_game.views.ajax_force_email_sending" %}",
                { id: msg_id },
                function(data){
                    remove_message_displays(msg_id);
                    $.jnotify('{% trans "Queued message successfully dispatched" %}', "success");
                });
    }


    function ajax_set_message_template_state_flags(tpl_id, flags) {

        flags = {tpl_id: tpl_id,
                 is_ignored: flags.is_ignored};

        $.post("{% game_view_url "pychronia_game.views.ajax_set_message_template_state_flags" %}",
                flags,
                function(data){
                    if (flags.is_ignored) {
                        $("#"+tpl_id).removeClass("unignored");
                        $("#"+tpl_id).addClass("ignored");
                    } else {
                        $("#"+tpl_id).addClass("unignored");
                        $("#"+tpl_id).removeClass("ignored");
                    }
                });
    }


    function _handle_message_state_feedbacks(allExistingFlags, updatedFlags, flagPrefix, msg_id) {
        var flag;
        for (var i=0; i < allExistingFlags.length; i++) {
            flag = allExistingFlags[i];
            //console.log("========>", flagPrefix+"_"+flag, updatedFlags);
            if (flagPrefix+"_"+flag in updatedFlags) {

                if (updatedFlags[flagPrefix+"_"+flag]) {
                    $("#"+msg_id).removeClass("un"+flag);
                    $("#"+msg_id).addClass(flag);
                } else {
                    $("#"+msg_id).addClass("un"+flag);
                    $("#"+msg_id).removeClass(flag);
                }
            }
        };
        // COMPLETE FOR OTHER STATES
    }


    function ajax_set_dispatched_message_state_flags(msg_id, flags) {

        flags.msg_id = msg_id;

        $.post("{% game_view_url "pychronia_game.views.ajax_set_dispatched_message_state_flags" %}",
                flags,
                function(data){
                    var allExistingFlags = ["read", "starred", "archived"];
                    //console.log(">>>>>", allExistingFlags, flags);
                    _handle_message_state_feedbacks(allExistingFlags, flags, "has", msg_id);
                });
    }


    function permanently_delete_message(msg_id) {
    	if (confirm('{{ _("Are you sure you want to permanently delete this message FOR ALL USERS?")|escapejs }}')){
    		if (confirm('{{ _("This action cannot be undone, do you confirm deletion FOR ALL USERS?")|escapejs }}')){
	            $.post("{% game_view_url "pychronia_game.views.ajax_permanently_delete_message" %}",
	                    { id: msg_id },
	                    function(data){
	                    	remove_message_displays(msg_id);
	                    	$.jnotify('{% trans "Message successfully deleted" %}', "success");
	                    });
    		}
    	}
    }


    /* UNUSED ATM
    $.fn.togglepanels = function(){
        return this.each(function(){
            $(this).addClass("ui-accordion ui-accordion-icons ui-widget ui-helper-reset")
          .find(".otherTitle")
            .addClass("ui-accordion-header ui-helper-reset ui-state-default ui-corner-top ui-corner-bottom")
            .hover(function() { $(this).toggleClass("ui-state-hover"); })
            .prepend('<span class="ui-icon ui-icon-triangle-1-e"></span>')
            .click(function() {
              $(this)
                .toggleClass("ui-accordion-header-active ui-state-active ui-state-default ui-corner-bottom")
                .find("> .ui-icon").toggleClass("ui-icon-triangle-1-e ui-icon-triangle-1-s").end()
                .next().slideToggle();
              return false;
            });
            $(this).find(".otherDiv").addClass("ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom").hide();
          });
    };*/



    /* common setup of localstorage stuffs */

    var message_content_id = 'anthropia_saved_message.real={{game_real_username}}.eff={{game_username}}';
    var mylocalStorage = $.localStorage();

    function clear_saved_content() {
        mylocalStorage.removeItem(message_content_id);
        $.jnotify("{{ _("Saved body content was cleared.")|escapejs }}", "warning")
        //console.log("DESTROYING", message_content_id);
    }


{% endaddtoblock %}


{% addtoblock "onload_js" %}
    {% if message_sent %}
        clear_saved_content();  // we do cleanup localstorage, since email was sent
    {% endif %}
{% endaddtoblock %}


{% endblock %}






{% block sidebar %}

{% usekwacro side_panel_start frame_class="mini_frame float_left clear_left" decos="3" %}

<div class="scroll_yellow_flat full_width center">
    <p>{% trans "Enjoy the power of Anthropia's integrated messaging system." %}</p>
</div>

{% usekwacro side_panel_end %}

{% endblock %}



{% block activate_floating_menu %}
{# we disable sticky behaviour of menu #}
{% endblock %}



