{% extends "messaging/base.html" %}

{% load sekizai_tags i18n helpers kwacros %}
{% loadkwacros "metalradiance_kwacros.html" %}


{% block sekizai_calls %}
{{ block.super }}


{# TODO MOVE THIS TO TOP LEVEL ASAP #}

{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}libs/markitup/skins/simple/style.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}libs/markitup/sets/rest/style.css" />
<!--link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}libs/select2/select2.css" /-->
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}libs/markitup/jquery.markitup.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/markitup/sets/rest/set.js"></script>
<!--script type="text/javascript" src="{{ STATIC_URL }}libs/select2/select2.js"></script-->
{% endaddtoblock %}


{% addtoblock "definition_js" %}

function preview_message() {
    var rst = $("#id_default_body").val().trim();
    if (rst != "") {
        $.post("{% game_view_url "pychronia_game.views.preview_message" %}",
               {content: rst},
               function(answer) {
                      answer = answer.trim(); // shouldn't be empty, since input was not...

                    var fancyBoxCustomOptions = $.extend({'content': answer},
                                                          window.fancyBoxDefaults);
                    $.fancybox(fancyBoxCustomOptions);
               });
    } else {
        $.jnotify("{{ _("Nothing to preview.")|escapejs }}", "warning")
    }
}


function add_recipient(address) {
    var current = $("#id_default_recipients").select2("data");
    var newentry = {id: address, text: address};
    if ($.inArray(newentry, current) == -1) {
        current.push(newentry);
        $("#id_default_recipients").select2("data", current);
        $("#id_default_recipients").change(); //trigger("change");
    };
    //console.log(current);
}



/* basic setups of localstorage stuffs are in base template */

function restore_saved_content() {
    var saved_content = mylocalStorage.getItem(message_content_id); // may be null
    if (saved_content) {
        $("#id_default_body").val(saved_content);
        $.jnotify("{{ _("Previously saved content has been restored.")|escapejs }}", "warning")
    }
}

function save_current_content() {
    var content = $("#id_default_body").val().trim();
    if (content.length > 20) { // we don't save ridiculous texts
        mylocalStorage.setItem(message_content_id, content);
        $.jnotify("{{ _("Body content has been saved.")|escapejs }}", "success")
        //console.log("SAVING", content);
    }
}

function setup_content_autosave() {
    $('#text_restore_message').css('display', 'none');
    window.setInterval(save_current_content, 30*1000);
}


{% endaddtoblock %}

{% addtoblock "onload_js" %}


mySettings.markupSet = mySettings["markupSet"].slice(0, -3); // remove code and preview system ATM
mySettings.resizeHandle = false; // we can't remove autohandle of browser though
$("#id_default_body").markItUp(mySettings); // mySettings comes from /markitup/sets/rest/set.js


var block_autosave = false;
{% if not message_sent and not message_form.is_bound %}
    if(mylocalStorage.getItem(message_content_id)) {
        $('#text_restore_message').css('display', 'block');
        block_autosave = true
    }
{% endif %}

if(!block_autosave) {
    setup_content_autosave();
}

/*
 $("#jjj").select2({
    //multiple: true,
    //createSearchChoice: function(term) {return {id:}},
    width: "90%", // off/element/copy/resolve/<value>
    placeholder: "Select a State",
    allowClear: true,
    //minimumInputLength: 0,
    //maximumSelectionSize: null,
    //data:[{id:0,text:'enhancement'},{id:1,text:'bug'},{id:2,text:'duplicate'},{id:3,text:'invalid'},{id:4,text:'wontfix'}],
    maximumInputLength: 80,
    tags: ["hi", "how", "ji"],
    tokenSeparators: [",", ";", " "]
 });
 <input type='hidden' id="jjj"/><br/>

<select id="e1" >
<option value="AL">Alabama</option>
<option value="WY">Wyoming</option>
</select>
        <p>
            The "recipients" field may contain a list of values separated with commas or semi-colons.
            Each value may be a full email (of an user or an external entity), or the login of an existing user.
            You may attach to your message one of your personal files, or any url.
        </p>
*/

{% endaddtoblock %}


{% endblock %}









{% block sidebar %}

{% usekwacro side_panel_start frame_class="mini_frame float_left clear_left" decos="3" %}
    <h2>{% trans "Contacts" %}</h2>

    <div class="rice_paper_rose full_width center tiny_bullets small_text" style="line-height: 1.5em; cursor: pointer;">
        {% if not contacts_display %}
            {% trans "None" %}
        {% else %}
            {% for contact in contacts_display %}
            <div onclick="add_recipient('{{ contact.address|escapejs }}');">
                {% include "utilities/contact_display.html" with address="" contact=contact compose_link=False %}
            </div>
            {% endfor %}
        {% endif %}
    </div>
{% usekwacro side_panel_end %}

{% endblock %}
<br />




{% block content %}


    {% if message_form %}

        <div id="text_restore_message" class="post-it" style="display: none; overflow: hidden;">
            {% trans "Draft text from a previous message (neither sent nor canceled) has been auto-saved, do you want to restore it into the message body now ? Autosave will be disabled until you take your decision." %}<br/>
            <button style="float: left" onclick="restore_saved_content(); setup_content_autosave();">{% trans "Restore" %}</button>
            <button style="float: right" onclick="clear_saved_content(); setup_content_autosave();">{% trans "Dismiss" %}</button>
        </div>

        <form action="{% game_view_url "pychronia_game.views.compose_message" %}" method="post" autocomplete="on">

        <p><input type="button" name="cancel_message" value="{% trans "Cancel message and clear autosave" %}"
            onclick="clear_saved_content(); return_to_home();" /></p>

        {% if message_form.use_template.value %}
        <p>
            <b>{% trans "Message template used:" %} {{ message_form.use_template.value }}</b>
        </p>
        {% endif %}

        {% if message_form.parent_id.value %}
        <p>
            <b>{% trans "Parent message ID:" %} {{ message_form.parent_id.value }}</b>
        </p>
        {% endif %}

        {% if message_form.transferred_msg.value %}
        <p>
            <a class="message_transfer_link" target="_blank" href="{% game_view_url "pychronia_game.views.view_single_message" msg_id=message_form.transferred_msg.value %}">
                <b>{% trans "MESSAGE TRANSFERRED: click to view in other window." %}</b>
            </a>
        </p>
        {% endif %}

        {{ message_form.as_p }}

        <p><input type="button" name="preview" value="{% trans "Preview Message Body As Restructuredtext" %}" onclick="preview_message();" /></p>
        <p><input type="submit" name="send_message" value="{% trans "Send Message" %}" onclick="save_current_content(); return true;" /></p>

        <br/><br/>

        <h2>{% trans "Parent Message" %}</h2>

        {% for ctx, message in parent_messages reversed %}
            {% include "messaging/single_message.html" with ctx=ctx message=message is_first=forloop.first %}
        {% endfor %}

        </form>


    {% else %}
    <br/>
    <p>
        <b>{% blocktrans %}Sorry, the sending of digital messages is currently disabled for maintenance.{% endblocktrans %}</b>
    </p>

    {% endif %}

{% endblock %}

