{% extends "messaging/base.html" %}

{% load i18n helpers kwacros %}
{% loadkwacros "metalradiance_kwacros.html" %}



{% block sidebar %}

    {% usekwacro side_panel_start frame_class="mini_frame float_left clear_left" decos="2" %}
    <h2>{% trans "Messages" %}</h2>

    <div class="rice_paper_rose full_width center tiny_bullets small_text">
        {% if messages %}
        <ul>
            {% for ctx, message in messages %}
                <li>
                    <a class="{% if ctx.has_read == False or ctx.is_ignored == False and ctx.is_used == False %}bold{% endif %} {% if ctx.is_used == True %}italic{% endif %} {% if ctx.is_ignored == True %}line-through{% endif %}" href="#{{ ctx.display_id }}" >{{ message.subject }}</a>&nbsp;{% if ctx.has_starred %}{% fontawesome_icon "star" large=False %}{% endif %}
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>{% trans "No messages yet." %}</p>
        {% endif %}
    </div>
    {% usekwacro side_panel_end %}

{% endblock %}





{% block content %}

    {{ block.super }}

    {% if selected_category %}
        <h2>{% trans "Category" %}{{COLON}} {{ selected_category }}</h2>
    {% endif %}

    {% if message_categories %}
    <div class="scroll_yellow_flat center medium_width">
        {% for cat in message_categories %}<a {% if cat == selected_category %}style="font-weight: bold"{% endif %} href="{% game_view_url "pychronia_game.views.messages_templates" %}?category={{ cat|urlencode }}">{{ cat }}</a>&nbsp; {% endfor %}
    </div>
    {% endif %}

    {% if not messages %}

        <div style="text-align:center;">
            <i>{% trans "No messages yet." %}</i>
        </div>

    {% else %}

        {% include "messaging/global_message_controls.html" %}

        {% for ctx, message in messages %}

            {% comment %}
            {% if not forloop.first %}
                <hr/>
            {% endif %}
            {% endcomment %}

            {% include "messaging/single_message.html" with ctx=ctx message=message is_first=1 %}
        {% endfor %}

    {% endif %}

{% endblock %}









