
{% load i18n helpers kwacros assign %}
{% loadkwacros "metalradiance_kwacros.html" %}

{# TEMPLATE MEANT FOR INCLUSION IN REAL WEBPAGE #}

<!--
<div class="{% if ctx.has_read or ctx.is_used %}email_collapsed_read{% else %}email_collapsed_unread{% endif %}">
    Ceci est un test
</div>
<div class="{% if ctx.has_read or ctx.is_used %}email_read{% else %}email_unread{% endif %} cover_previous">
    Ceci est un test2
</div>
<div class="{% if ctx.has_read or ctx.is_used %}email_read{% else %}email_unread{% endif %} cover_previous">
    Ceci est un test3
</div>
<div class="{% if ctx.has_read or ctx.is_used %}email_collapsed_read{% else %}email_collapsed_unread{% endif %} cover_previous">
    Ceci est un test4
    <br>
    Avec bcp de text<br>sss
</div>
-->

<div id="{{ ctx.display_id }}" class="email_message {% if not no_background%}{% if ctx.has_read or ctx.is_used %}read{% else %}unread{% endif %}{% endif %}  {% if ctx.has_starred %}starred{% else %}unstarred{% endif %} {% if ctx.has_archived %}archived{% else %}unarchived{% endif %} {% if ctx.is_ignored %}ignored{% else %}unignored{% endif %} {% if not is_first %}cover_previous{% endif %}">

    <div>

        {% if game_is_writable and ctx%}
            <div class="message_operations">

                {# BEWARE - a valid 'message.id' is implied by some of these ctx flags! #}

                {% if ctx.has_read != None %}
                    <a class="mark_read_tag" title="{% trans "Mark as read" %}" onclick="ajax_set_dispatched_message_state_flags('{{ message.id|escapejs }}', {has_read: true}); return false;" href="#">{% fontawesome_icon "envelope" %}</a>
                    <a class="mark_unread_tag" title="{% trans "Mark as unread" %}" onclick="ajax_set_dispatched_message_state_flags('{{ message.id|escapejs }}', {has_read: false}); return false;" href="#">{% fontawesome_icon "envelope-o" %}</a>
                {% endif %}

                {% if ctx.has_starred != None %}
                    <a class="mark_starred_tag" title="{% trans "Mark as starred" %}" onclick="ajax_set_dispatched_message_state_flags('{{ message.id|escapejs }}', {has_starred: true}); return false;" href="#">{% fontawesome_icon "star-o" %}</a>
                    <a class="mark_unstarred_tag" title="{% trans "Mark as non-starred" %}" onclick="ajax_set_dispatched_message_state_flags('{{ message.id|escapejs }}', {has_starred: false}); return false;" href="#">{% fontawesome_icon "star" %}</a>
                {% endif %}

                {% if ctx.has_archived != None %}
                    <a class="mark_archived_tag" title="{% trans "Mark as archived" %}" onclick="ajax_set_dispatched_message_state_flags('{{ message.id|escapejs }}', {has_archived: true}); return false;" href="#">{% fontawesome_icon "folder-o" %}</a>
                    <a class="mark_unarchived_tag" title="{% trans "Mark as non-archived" %}" onclick="ajax_set_dispatched_message_state_flags('{{ message.id|escapejs }}', {has_archived: false}); return false;" href="#">{% fontawesome_icon "folder" %}</a>
                {% endif %}

                {% if message.id %}
                    {% assign name="msg_link" %}{% game_view_url "pychronia_game.views.view_single_message" msg_id=message.id redirector %}{% endassign %}
                    {% usekwacro shareable_link_font msg_link %}
                {% endif %}

                {% if ctx.template_id %}
                    <a class="mark_ignored_tag" title="{% trans "Mark as ignored" %}" onclick="ajax_set_message_template_state_flags('{{ ctx.template_id|escapejs }}', {is_ignored: true}); return false;" href="#">{% fontawesome_icon "trash-o" %}</a>
                    <a class="mark_unignored_tag" title="{% trans "Mark as non-ignored" %}" onclick="ajax_set_message_template_state_flags('{{ ctx.template_id|escapejs }}', {is_ignored: false}); return false;" href="#">{% fontawesome_icon "trash" %}</a>
                {% endif %}

                &nbsp;&nbsp;

                {% if ctx.can_force_sending %}
                    <a title="{% trans "Force sending" %}" onclick="force_email_sending('{{ message.id|escapejs }}', true); return false;" href="#">{% fontawesome_icon "paper-plane" %}</a>
                {% endif %}

                {% if ctx.can_reply or ctx.can_recontact %}
                    <a title="{% if ctx.can_reply %}{% trans "Reply" %}{% else %}{% trans "Recontact" %}{% endif %}" href="{% game_view_url "pychronia_game.views.compose_message" %}?parent_id={{ message.id|urlencode }}">{% fontawesome_icon "mail-reply-all" %}</a>
                {% endif %}

                {% if ctx.can_transfer %}
                    <a title="{% trans "Transfer" %}" href="{% game_view_url "pychronia_game.views.compose_message" %}?transferred_msg={{ message.id|urlencode }}">{% fontawesome_icon "share-square-o" %}</a> {# or "mail-forward" icon! #}
                {% endif %}

                {% if ctx.template_id %}
                    <a title="{% trans "Use template" %}" href="{% game_view_url "pychronia_game.views.compose_message" %}?use_template={{ ctx.template_id|urlencode }}">{% fontawesome_icon "edit" %}</a>
                {% endif %}

                {% if ctx.can_permanently_delete %}
                    <a title="{% trans "Delete" %}" href="#" onclick="permanently_delete_message('{{ message.id|escapejs }}'); return false;" >{% fontawesome_icon "trash" %}</a>
                {% endif %}

                {% if ctx %}
                <img class="collapse_icon" style="float: right" title="{% trans "Collapse this message" %}" onclick="$('#{{ ctx.display_id|escapejs }}').addClass('collapsed');" src="{{ STATIC_URL }}MetalRadiance/img/icons/collapse_green.png"/>
                {% endif %}

            </div>
        {% endif %}

    </div>

    <div class="collapsed_content">
        <img class="collapse_icon" style="float:right" title="{% trans "Expand this message" %}" onclick="$('#{{ ctx.display_id|escapejs }}').removeClass('collapsed');" src="{{ STATIC_URL }}MetalRadiance/img/icons/expand_green.png"/>

        <p style="color:{% usercolor message.sender_email %};">
            <strong><i>{{ message.subject }}</i></strong><br/>
            <strong>{% trans "From:" %}</strong> {{ message.sender_email }} &nbsp; {% if message.sent_at %}({{ message.sent_at|utctolocal|date:"SHORT_DATE_FORMAT" }}){% endif %}
        </p>

    </div>

    <div>

        <p style="color:{% usercolor message.sender_email %};">
            <strong class="big_text">
                <i>
                &nbsp; {{ message.subject }}
                </i>
            </strong>
        </p>

        <table style="margin:2px 2px; font-size:0.9em; line-height:0.9em;">

            {% if ctx.intercepted_by  %}
            <tr style="height: 40px">
            <td colspan="2">
                <strong>[[ {% trans "Intercepted by" %}{{COLON}} {{ ctx.intercepted_by|join:", " }} ]]</strong>
            </td>
            </tr>
            {% endif %}

            {% if not ctx.template_id %}
            <tr>
            <td><strong>{% trans "Date:" %}</strong></td>
            <td><strong>{{ message.sent_at|utctolocal|date:"SHORT_DATETIME_FORMAT" }}</strong></td>
                {%comment %} IF NEEDED {% load humanize %}{{ message.sent_at|utctolocal|naturalday:"d/N/Y" }}{% endcomment %}
            </tr>
            {% endif %}

            {% if message.categories %}
            <tr>
            <td><strong>{% trans "Category" %}{{COLON}}</strong></td>
            <td>
                <strong>{{ message.categories|join:", " }}</strong>
            </td>
            </tr>
            {% endif %}

            {% if message.sender_email  %}
            <tr>
            <td><strong>{% trans "From:" %}</strong></td>
            <td>
                {% with contact=contact_cache|dict_get:message.sender_email %}
                    {% include "utilities/contact_display.html" with address=message.sender_email contact=contact compose_link=True %}
                {% endwith %}
                <!--a href="{% game_view_url "pychronia_game.views.compose_message" %}?recipient={{ message.sender_email|urlencode }}">
                <span style="color:{% usercolor message.sender_email %};">{{ message.sender_email }}</span>
                </a-->
            </td>
            </tr>
            {% endif %}

            {% if message.recipient_emails %}

            <tr>
            <td><strong>{% trans "To:" %}</strong></td>
            <td>
                {% if message.mask_recipients and not ctx.force_recipients_display and not display_admin_tips %}
                    <i>&lt; {% trans "undisclosed recipients list" %} &gt;</i>
                {% else %}
                    {% for recipient_email in message.recipient_emails %}
                        {% with contact=contact_cache|dict_get:recipient_email %}
                            {% include "utilities/contact_display.html" with address=recipient_email contact=contact compose_link=True %}
                        {% endwith %}
                        <!--{% if not forloop.first %}, {% endif %}
                        <a href="{% game_view_url "pychronia_game.views.compose_message" %}?recipient={{ recipient_email|urlencode }}">
                        <span style="color:{% usercolor recipient_email %};">{{ recipient_email }}</span>
                        </a>-->
                    {% endfor %}
                {% endif %}
            </td>
            </tr>

            {% endif %}

        </table>

        {% if message.mask_recipients and ctx.force_recipients_display or message.mask_recipients and display_admin_tips %}
            <p {% if display_admin_tips %}class="admin-note"{% endif %}>
                <b>{% trans "The recipients list is masked for all viewers except the sender." %} {# even if master, no need for admin-note, we just simulate "I'm the sender" #}</b>
            </p>
        {% endif %}


        <br/>

        <div class="pretty_text" style="color:{% usercolor message.sender_email %};">

            {% if display_admin_tips and message.gamemaster_hints %}
            <p class="admin-note">
                {{ message.gamemaster_hints }}
            </p>
            {% endif %}

            {% rich_text message.body text_format=message.body_format %}

        </div>


        {% if message.transferred_msg %}
        <div align="center">
            <b><a target="_blank" class="fancybox-ajax" href="{{SITE_DOMAIN}}{% game_view_url "pychronia_game.views.view_single_message" msg_id=message.transferred_msg %}?popup=1">
                {% trans "MESSAGE TRANSFERRED: click to view." %} {# transferred message might have been deleted by game master, but so be it... #}
            </a></b>
        </div>
        {% endif %}

        {% if message.attachment %}
        <hr/>
        <div class="inner_center">
            <div class="file_url_block">{{ message.attachment }}</div>
            {{ message.attachment|mediaplayer:"false" }} {# ALREADY A COMPLETE URL #}
        </div>
        {% endif %}


    </div>

</div>