{% extends "messaging/base.html" %}

{% load i18n helpers kwacros %}
{% loadkwacros "metalradiance_kwacros.html" %}

 {# we have nothing to put in sidebar here... #}




    {% block content %}

        {{ block.super }}

        {% if message %}

            <div style="text-align: center;">
            <strong>
            {% if is_queued %}
                {% trans "Message queued for delivery." %}
            {% else %}
                {% trans "Message delivered to recipient." %}
            {% endif %}
            </strong>
            </div>

            {% include "messaging/single_message.html" with ctx=ctx message=message is_first=1 %}
        {% else %}

            <p>{% trans "No content available..." %}</p>

        {% endif %}

    {% endblock %}









