
@import "_globals.scss";


/* classes used by django standard or contrib modules like newforms, django-userprofiles... */


/* django forms */
.errorlist {
    list-style-type: none;
    list-style-image: none;
    color: $error_color;
    margin: 0;
    padding: 0;
}


/* forms of django-userprofiles */
.bare_forms form {
    max-width: 400px;
    margin:auto
}


/* django-filer for django-cms */
.filer_image_link {
    text-align: center;
    display: block;
}