
.document div {

    .attention, .caution, .danger, .error, .important, .warning {
        p.admonition-title {
            color: $dark_red;
        }
        border: medium ridge; // or groove
        border-color: $outline_gold;
        background-color: transparent !important;
        clear: both;
    }

    .hint, .note, .tip, .admonition {
        p.admonition-title {
            color: $medium_green;
        }
        border: medium ridge; // or groove
        border-color: $outline_gold;
        background-color: initial;
        clear: both;
    }

}

.section {

    h1, h2 {
        margin-top: 40px;
    }

}

.fancybox-default .section {
    h1, h2 {
        margin-top: 0px;
    }
}

table.footnote {
    border-color: $medium_yellow;
}

