

@import "_rst_html4css1.scss";  


div {
    
    
    .attention, .caution, .danger, .error, .important, .warning {
        p.admonition-title {
            color: $dark_red;
        }
        border: medium ridge; // or groove
        border-color: $outline_gold;
    }

    .hint, .note, .tip, .admonition {
        p.admonition-title {
            color: $dark_green;
        }
        border: medium ridge; // or groove
        border-color: $outline_gold;
    }

}


.section {  
    
    h1, h2 {
        margin-top: 40px;
    }
  
}


table.footnote {
    border-color: $medium_yellow;
}
