
ul.dropmenu {

    a {
        display: none;
        color: $dark_orange;
        font-size: 18px;
        text-decoration: none;
        line-height: 27px;
        padding: 0px 6px;
        text-align: left;
        float: none;

        &:hover {
            text-decoration: underline;
        }

    }

    ul {
        border: 1px solid $dark_orange;
    }

    ul a, ul span {
        background-color: #342716; // sublinks only
        padding: 0 6px;
    }

}
