
ul.dropmenu {

    margin: 0;
    padding: 0;
    height: 35px;
    line-height: 35px;
    position: relative;

    /* 		All items 			*/

    & > li {

        display: inline-block;
        list-style: none outside none;
        position: relative;
        margin: 0px;
        padding: 0px;
        float: none; // styles pushed by JS dropdown system

        a, span { // every descendant, too

            display: block;
            white-space: nowrap;

            @include header_common;

            text-align: left;

            font-size: 25px; // MAX 31px, needs to be PRECISE, so no em.

            margin: 0;
            padding: 0px 4px;
            color: $title_white;

            list-style-type: none;
            list-style-image: none;
            text-decoration: none;
            //background-color: $medium_yellow;
        }

        span {
            // INACTIVE menu entry
            color: $black_text_color !important;
            text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white !important;
        }

        /* all sublevels are in metal&glass tubes */

        li a, li span {
            font-size: 17pt; // needs to be PRECISE, so no em.
            background-color: transparent;
            border-color: transparent;
            border-style: solid;
            border-width: 0px 32px 0px 33px;
            border-image: url('#{$IMGS}backgrounds/tube_gold_small.png') 0 32 0 33 fill stretch;
            image-rendering: optimizequality;
        }
        li li a, li li span {
            border-image: url('#{$IMGS}backgrounds/tube_silver_small.png') 0 32 0 33 fill stretch;
            image-rendering: optimizequality;
        }
        li li li a, li li li span {
            border-image: url('#{$IMGS}backgrounds/tube_bronze_small.png') 0 32 0 33 fill stretch;
            image-rendering: optimizequality;
        }

        /* specifically for top-level links */

        & {
            border-width: 0;
            border-right: 3px ridge $medium_yellow;
        }

        &:last-child {
            border-width: 0;
        }

        /* TODO - marker for submenus
        a:after, span:after {
            content: ">"; // url('#{$IMGS}icons/arrowhead_double.png');
            #vertical-align: bottom;
            display: inline-block;
            margin: 4px 4px;
        }*/

        a.hover, span.hover {
            color: $title_white_highlight;
            //outline: $medium_yellow solid 1px; // FAILED!!!!
        }

        a.selected, span.selected {
            //todo
        }

        a.hover.selected, span.hover.selected {
            //todo
        }

        /*      Submenus            */

        ul {
            // width: 250px; // optional but recommended
            display: none; // cosmetic
            margin: 0;
            padding: 0;

            // fallback for border-image
            background-image: url('#{$IMGS}backgrounds/dropdown_menu.png');
            background-size: 100% 100%;
            background-clip: content-box;
            image-rendering: optimizequality;

            border-color: transparent;
            border-style: solid;
            border-width: 4px 3px;
            border-image: url('#{$IMGS}backgrounds/dropdown_menu.png') 4 3 fill stretch;
            image-rendering: optimizequality;
        }

        /*		Subitems			*/

        li.descendant {

            //line-height: 20px;
            // border-bottom: 1px solid #DFBD99;

            /* special hover/selected states are atm inherited from above */

        }

    }
}




