

ul.dropmenu {

  a {
      display: none;
      color: $dark_orange;
      font-size: 18px;
      text-decoration: none;
      line-height: 27px;
      padding: 0px 10px;
      text-align: center;
      float: none;

      &:hover {
          text-decoration: underline;
      }

  }

  ul {
      border: 1px solid $dark_orange;
  }

  ul a {
      background-color: #342716;  // sublinks only
  }

}