

/* COMMON UTILITY DEFINITIONS */

$IMGS: unquote("img/"); // use for every path relative to css file

/* COMMON COLOR DEFINITIONS */

$main_brass_color: #AC8B28; // color applied to most decorations, after their desaturation

$black_color: black;
$grey_color: #E4E4E4;
$white_color: white;

$white_text_color: white;
$black_text_color: black;

$drop_cap: #775F13;

$title_gold: #F8D85B;
$title_white: white;
$title_white_highlight: #AAA;

$light_blue: #0104A2;
$dark_blue: #0B0D6C;
$old_blue: #464780;

$background_green: #154E17;
$lightest_green: #BAEBAF;
$light_green: #55E736;
$bright_green: #62CB4B;
$medium_green: #408232;
$dark_green: #386D2C;
$darker_green: #336727;
$darkest_green: #19490F;
$old_green: #2F7362;

$light_yellow: #D3C469;
$medium_yellow: #9D8126;
$dark_yellow: #775F13;
$old_yellow: #A79353;

$light_orange: #ffeaa3;
$medium_orange: #f8d85b;
$dark_orange: #f5af09;

$border_image_yellow: #775F13;
$border_image_yellow_light: #9D8126;


$dark_red: #8E0D0D;

$outline_gold: #B89215;

$notification_red: red;
$notification_green: green;
$notification_blue: blue;
$notification_orange: orange;
$notification_beige: #A89D97; // rather dark

$success_color: green;
$error_color: red;

$form_input_border_color: #aaa;

$scroll_text_color: black;


/* COMMON FONT DEFINITIONS */


.pyscss_bug_workaround {
  display: none; // to fix the problem with weird "};" at start of generated css file
}


@font-face {
    font-family: "rothenburg_decorative"; // or "RothenburgDecorativeNormal";
    src: url("#{$IMGS}fonts/rothenburg_decorative/rothenbg-webfont.eot");
    src: url("#{$IMGS}fonts/rothenburg_decorative/rothenbg-webfont.eot?#iefix") format("embedded-opentype"),
         url("#{$IMGS}fonts/rothenburg_decorative/rothenbg-webfont.woff") format("woff"),
         url("#{$IMGS}fonts/rothenburg_decorative/rothenbg-webfont.ttf") format("truetype"),
         url("#{$IMGS}fonts/rothenburg_decorative/rothenbg-webfont.svg#RothenburgDecorativeNormal") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "kingthings_calligraphica_light"; // or "KingthingsCalligraphicaLight"
    src: url("#{$IMGS}fonts/kingthings_calligraphica/Kingthings_Calligraphica_Light-webfont.eot");
    src: //url("#{$IMGS}fonts/kingthings_calligraphica/Kingthings_Calligraphica_Light-webfont.eot?#iefix") format("embedded-opentype"),
         url("#{$IMGS}fonts/kingthings_calligraphica/Kingthings_Calligraphica_Light-webfont.woff") format("woff"),
         url("#{$IMGS}fonts/kingthings_calligraphica/Kingthings_Calligraphica_Light-webfont.ttf") format("truetype"),
         url("#{$IMGS}fonts/kingthings_calligraphica/Kingthings_Calligraphica_Light-webfont.svg#KingthingsCalligraphicaLight") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "black_chancery";
    src: url("#{$IMGS}fonts/black_chancery/BLKCHCRY.eot");
    src: url("#{$IMGS}fonts/black_chancery/BLKCHCRY.eot?#iefix") format("embedded-opentype"),
         url("#{$IMGS}fonts/black_chancery/BLKCHCRY.woff") format("woff"),
         url("#{$IMGS}fonts/black_chancery/BLKCHCRY.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@mixin text_shadow($bgcolor: black) {
    text-shadow: 1px 1px 0 $bgcolor, -1px -1px 0 $bgcolor, 1px -1px 0 $bgcolor, -1px 1px 0 $bgcolor;
}

@mixin pretty_text {
    text-align: justify;
    text-indent: 15px;
}

@mixin light-texts {
    color: $light_orange;
    a {
        //text-shadow: 1px 1px 0 $medium_yellow, -1px -1px 0 $medium_yellow;
        &:link { color: $bright_green; }
        &:visited, { color: $lightest_green; }
        &:hover { color: $light_green; }
        &:active { color: $light_green; }
    }
}

@mixin dark-texts {
    color: black;
    a {
        //text-shadow: 1px 1px 0 $medium_yellow, -1px -1px 0 $medium_yellow;
        &:link { color: $dark_green; }
        &:visited { color: $old_green; }
        &:hover { color: $medium_green }
        &:active { color: $medium_green }
    }
}




@mixin header_common {
    @include text_shadow;
    color: $medium_orange; //#f4ed62; //#ac8b28; // #cc9933;
    font-family: black_chancery, serif;
    margin: 2px;
    text-align: center;
    letter-spacing: 0px
}



.pretty_text p, p.pretty_text{
    @include pretty_text;
}

.pretty_text img {
  border-radius: 6px;
}


/* COMMON BACKGROUND COLOR CLASSES */


.bg_beige, .mixed {
    background-color: $notification_beige;
}
.bg_blue, .info {
    background-color: $notification_blue;
}
.bg_green, .success {
    background-color: $notification_green;
}
.bg_orange, .warning {
    background-color: $notification_orange;
}
.bg_red, .error {
    background-color: $notification_red;
}




/* COMMON POSITIONING CLASSES */


@mixin center {
    margin-left: auto !important;
    margin-right: auto !important;
}
.center {
    @include center;
}
img.center {
    display: block; // never use that on TABLES
    @include center;
}

@mixin inner_center {
    text-align: center !important;
    & > * {
      margin-left: auto !important;
      margin-right: auto !important;
    }
}
.inner_center {
    @include inner_center;
}


.left, .float_left, .float-left, .floatleft {
    float: left;
}

.right, .float_right, .float-right, .floatright {
    float: right;
}

.inner_left {
    text-align: left !important;
}

.inner_right {
    text-align: right !important;
}


.clear_both {
    clear: both;
}

.clear_left {
    clear: left;
}

.clear_right {
    clear: right;
}


.stack_left {
    float: left;
    clear: left;
}

.stack_right {
    float: right;
    clear: right;
}


/* workaround for containers not surrounding the floating panels they contain */

@mixin clearfixer {
    visibility: hidden;
    display: block;
    width: 0;
    height: 0;
    clear: both;
}
.clearfixer {
    @include clearfixer;
}

.clearfix {
   &:after {
      /* quick fix for the dumb problem of "float collapsing - better than using overflow:hidden/auto */
      content: ".";
      @include clearfixer;
   }
   * html & { height: 1px }
}



/* COMMON SIZING CLASSES, with both relative and absolute sizes */

.full_width {
    width: 100% !important;
}

.almost_full_width {
    width: 94% !important;
}

.half_width {
    width: 50% !important;
}

.big_width {
    width: 600px !important;
    max-width: 100% !important;
}

.medium_width {
    width: 400px !important;
    max-width: 100% !important;
}

.small_width {
    width: 250px !important;
}



.biggest_text {
    font-size: 2em;
}

.bigger_text {
    font-size: 1.5em;
}

.big_text {
    font-size: 1.25em;
}

.normal_text {
    font-size: 1em;
}

.small_text {
    font-size: 0.85em;
}

.smaller_text {
    font-size: 0.75em;
}

.smallest_text {
    font-size: 0.5em;
}



.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.line-through {
    text-decoration: line-through;
}


