

@import "_globals.scss";

@import "_standard_content.scss"


.jp-audio {
   * {
     box-sizing: content-box !important;
   }
    margin: 10px auto;
}


.ui-dropdownchecklist-dropcontainer {
    border: solid 1px black;
}

.ui-dropdownchecklist {
    background-color: white;
    padding: 1px 2px;
    font-size: 0.9em;
}


.select2-container-multi .select2-choices .select2-search-field input {
    padding: 0;
    margin: 4px 0 3px 3px;
}


.zoomable > img {
    border: none /* 5px ridge $dark_yellow; */
}


.jnotify-container {
    max-height: 400px;
    min-width: 200px;
    width: auto;
    max-width: 550px;

    .jnotify-notification {
        // margin-bottom: 5px;
    }

    .jnotify-notification .jnotify-background {
        border: 2px solid $dark_yellow;
        border-top-left-radius: 30px 10px;
        border-top-right-radius: 30px 10px;
        border-bottom-right-radius: 30px 10px;
        border-bottom-left-radius: 30px 10px;
        opacity: 0.97;
        background-image: url('#{$IMGS}backgrounds/metal_bump_semitransparent.png');
    }

    .jnotify-notification-warning .jnotify-close,
    .jnotify-notification-warning .jnotify-message {
        color: #A9911C !important; // FIX - was unreadable before
    }

    /* notification type == "error" */
    .jnotify-notification-success .jnotify-background {
      background-color: #50B14F;
    }

    .jnotify-notification-success .jnotify-close,
    .jnotify-notification-success .jnotify-message {
      color: #008000 !important;
    }
}



.fancybox-default {
    z-index: 100000 !important; // we must be in front of dropdown menus
    background-image: url('#{$IMGS}backgrounds/ricepaper-hue-orange.jpg');


    .fancybox-outer {
        @extend .antique_large_decorated_frame;
        background-color: transparent;
        box-shadow: none !important; // doesn't work with transparent borders
        border-width: 10px;
    }

    .fancybox-outer {
        /*width: 100% !important;
        height: 100% !important;*/
    }

    .fancybox-title-float-wrap .child {
        background: none;
        line-height: 28px;
        text-shadow: 0px 1px 0px black;
    }

    .fancybox-close {
        right: -18px;
        top: -18px;
    }
}


.main_frame_border {

    .markItUp  {
        width: 95%;
        margin: auto;
        border: $medium_yellow ridge 2px;
    }

    .markItUpContainer  {
        background-image: url('#{$IMGS}backgrounds/ricepaper-hue-orange.jpg');
    }

    .markItUpHeader {

    }

    .markItUpEditor {
        width: 100%;
        height: 150px;
    }

    .markItUpFooter {
        display: none;
    }
}





/**    DOMSLIDES     **/


.item_display {
    @extend .carved_square_frame_gold;
    padding: 0;

    box-sizing: content-box;

    /* fixes for iframe mess */
    max-width: 550px;
    max-height: 750px;
}


#domslideshow {

    position:relative;
    * {
        list-style-type: none;
        list-style-image: none;
    }

    div#loading_msg {
        width: 1em;
        color: #fff;
        margin: 60px auto;
        font-weight: bold;
        text-align: center;
    }

    .hide {
        display: none;
    }

    img.slideshow_image {
        max-width: 550px;
        max-height: 750px;
        display: block;
        margin : 0px; // already nough with border image
    }


    blockquote {
        width: 70%;
    }

    .counter {
        display:block;
        position:absolute;
        top: 0;
        right:0;
        font-weight:bold;
        font-size: 1.3em;
        margin:5px 10px 5px 55px;
        padding:10px;

        li{
            float:left;
            padding:0 0.4em 0;
            margin:0;
        }
    }




    #toclist {
        left:5px;
        top:0px;
        font-size:1.8em;
        margin:5px 55px 5px 10px;
        padding:10px;
        position:absolute;
    }

    #toclist li{
        text-align:right;
        position:relative;
        font-size:1em;
    }
    #toclist li a{
        font-weight: bold;
    }

    #toclist li ul li{
        list-style-type:none;
        font-size:0.6em;
        text-align:left;
        position:relative;
    }
    #toclist li li a{
        line-height:1em;
    }
    #toclist li li a:hover{
        line-height:0.7em;
        background:#fff;
    }
    #toclist li ul{
        background:#DCCBB5;
        padding:10px;
        width:300px;
        position:absolute;
        top:1em;
        border-bottom:1px solid $medium_yellow;
        z-index:100;
    }
    /* close TOC item */
    #toclist li ul li#closeToc{
        text-align:right;
        position:relative;
        top:4px;
        //right:0px;
        padding-right:10px;
        padding-bottom:5px;
        //width:290px;
        background: #C5AE8F;
        line-height:1em;
    }

}





/* P4WN customization */

.p4wn-board {
    float: none;

    table * {
        line-height: 8px;
        user-select: none;
    }

}

.p4wn-log, .p4wn-messages {
    display: none;
}

.p4wn-controls {
    margin-top: 20px;
}