


body {

    min-width: 400px;

    font-size: 110%;
    line-height: 130%;


    &.full_background {
        background: #152421 url("img/backgrounds/mobile/body-bg.jpg") repeat-y top center;
        background-size: 100% auto;
        background-attachment: scroll;
        image-rendering: optimizequality;
    }
}

#full_header {
    width: 100%;
    position: relative;
    height: 109px;

    #full_header_background {

        margin: auto;
        text-align: center;
        z-index: 1000;
        background: #342716 url("img/backgrounds/mobile/header-bg.jpg") repeat-x scroll center top;

        #full_header_center {
            margin: 0px auto 0px;
            height: 74px;
            background: url("img/backgrounds/mobile/header.jpg") no-repeat top center;
            .notification_panel {
                display: none;
            }
        }

        #title_table, #notification_table {
            display: none;
        }

    }
}

#full_menu {
    width: 100%;
    // NOPE background: #342716 url("img/backgrounds/mobile/menu-bg.jpg") repeat-x bottom center;
    text-align: center;
    margin-top: -25px;
    position: relative;
    z-index: 2000; // below the title panel

    #main_menu {
        margin: 0 40px;
        display: table;

        .big_icon_panel {
            display: none;
        }
        .marble_menu_container {
            width: 100%;
            display: table-cell;
            margin-top: 50px;
            height: 13px;

            .marble_menu {
                @import "_dropdown_menu_mobile.scss";
            }

            /*.marble_menu.floatable {
                position: fixed;
                top: 6%;
            }*/
        }
    }
}



#full_content {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    overflow: visible;
    background-color: transparent;
    border-color: $border_image_yellow;
    border-style: ridge;
    border-width: 14px;
    border-image: url("img/backgrounds/mobile/frame.jpg") 14 fill repeat;
    image-rendering: optimizequality;
    margin: 4px 10px;
    p {
        text-decoration: none;
        font-size: 1em;
        line-height: 1.2em;
    }
    h1 {
        font-size: 20px;
        color: #fecd2b;
        text-decoration: none;
        line-height: 27px;
        padding: 0px 10px;
        -webkit-text-stroke: inherit;
    }
    h1::before {
        display: none;
    }
    h1::after {
        display: none;
    }
    .main_sidebar {
        // container for miniframes
        ///@extend .clearfix;
        line-height: 15px;
        padding: 10px;
        margin: 0; //-3px 0px 0px;
        overflow: hidden; // important, since jquery-sticky affects wrong widths because of box-sizing...
        width: auto !important;
        .mini_frame {
            // mini-frames that are inside sidebar must beware of their margins!
            margin: 0 0 20px 0;
        }
    }
    .right, .float_right, .float-right, .floatright{
        float: none;
    }
    .main_frame_content {
        color: #ffeaa3;
        text-align: left;
        .antique_marble_frame {
            padding: 5px;
            image-redering: optimizequality;
            border-image: none;
            margin: -5px;
        }
        .zoomable > img {
            height: 250px;
        }
        .item_display {
            height: 250px;
            border-style: solid;
            border-width: 5px;
        }
        .email_message.unread {
            color: black;
        }
    }
}


#up_footer_wrapper, #low_footer_wrapper {
    display: none;
}

.icon_stick_top_right, .big_stick_top_right,
.icon_stick_bottom_right, .big_stick_bottom_right,
.icon_stick_bottom_left, .big_stick_bottom_left,
.icon_stick_top_left, .big_stick_top_left {
    display: none;
}

/** POTENTIALLY USELESS STUFFS ?? **/

/*


#menu-bar {
    width: 100%;
    height: 13px;
    background: url("img/backgrounds/mobile/menu-bar.png") repeat-x top center;
}

table.frame {
    border-collapse: collapse;
    border-spacing: 0;
}


div.read a,
div.read p {
    color: #b5b1a3
}
img.img-article {
    margin: 5px 5px 5px 0px;
}
p.small {
    font-size: 10px;
}
p.chat {
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 10px;
    font-style: italic;
}
p.title {
    text-decoration: underline;
}
p.info {
    font-style: italic;
    color: red;
    font-size: 14px;
    padding: 5px 0px 5px 0px;
}
input {
    margin-bottom: 8px;
}
input.chat {
    width: 72%;
    margin-bottom: 0px;
    margin-right: 5px;
}
input.submit {
    width: 70px;
    margin-bottom: 0px;
}
input.search {
    width: 80px;
    margin-bottom: 0px;
}
textarea {
    width: 100%;
    margin-right: 3px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
}*/