


body {

    @include light-texts;

    min-width: 400px;

    font-size: 110%;

    &.full_background {
        background: #152421 url("img/backgrounds/mobile/body-bg.jpg") repeat-y top center;
        background-size: 100% auto;
        background-attachment: scroll;
        image-rendering: optimizequality;
    }
}



.mm-menu, .mm-menu .mm-navbar > *, .mm-menu .mm-navbar a,
.mm-panels, .mm-panels > .mm-panel {
    background-color: $background_green;
    @include light-texts;
}
.mm-menu .mm-navbar a {
    font-weight: bold;
}

#mm-full_header {
    // jquery.mmenu clone of header
    #mm-site_title {
        display: none;
    }
    #mm-notification_table {
        margin: 10px 0;
    }
}

/* actually unused
#mobile-top-widgets {
    padding: 20px 5px;
}*/

#full_header {
    width: 100%;
    position: relative;

    #full_header_background {

        margin: auto;
        text-align: center;
        z-index: 1000;
        background: #342716 url("img/backgrounds/mobile/header-bg.jpg") repeat-x scroll center top;
        border-bottom: 3px ridge $dark_yellow;

        #full_header_center {
            margin: 0px auto 0px;
            height: 74px;
            background: url("img/backgrounds/mobile/header.jpg") no-repeat top center;
            .notification_panel {
                display: none;
            }
        }

        #title_table, #notification_table {
            display: none;
        }

    }
}


#full_menu {
    width: 100%;
    // NOPE background: #342716 url("img/backgrounds/mobile/menu-bg.jpg") repeat-x bottom center;
    text-align: center;
    position: relative;
    z-index: 2000; // below the title panel

    #main_menu {
        margin: 0 8px;
        display: table;

        .big_icon_panel {
            margin: 10px 10px 5px;

            .positioner .novelty_mark {
                font-size: 20px;
                right: 5px;
            }
        }

        .marble_menu_container {
            width: 100%;
            display: table-cell;
            margin-top: 50px;
            height: 13px;

            .marble_menu {
                @import "_dropdown_menu_mobile.scss";
            }

            /*.marble_menu.floatable {
                position: fixed;
                top: 6%;
            }*/
        }
    }
}



#full_content {
    margin: 0 auto;
    text-align: center;
    padding: 6px 0;
    overflow: visible;
    background-color: transparent;
    border-color: $border_image_yellow;
    border-style: ridge;
    border-width: 14px;
    border-image: url("img/backgrounds/mobile/frame.jpg") 14 fill repeat;
    image-rendering: optimizequality;
    margin: 4px 10px;

    p {
        text-decoration: none;
    }
    h1 {
        font-size: 20px;
        color: #fecd2b;
        text-decoration: none;
        padding: 0px 10px;
        -webkit-text-stroke: inherit;
    }
    h1::before {
        display: none;
    }
    h1::after {
        display: none;
    }
    .main_sidebar {
        // container for miniframes
        ///@extend .clearfix;
        clear: both;
        position: static !important;

        border-top: 2px solid $medium_yellow;
        margin: 20px 0 0;
        padding: 20px 0 0;

        overflow: hidden; // important, since jquery-sticky affects wrong widths because of box-sizing...
        width: 100% !important;

        .mini_frame {
            // mini-frames that are inside sidebar must beware of their margins!
            margin: 0 0 20px 0;
        }
    }

    .sidebar-sticky, .medium_frame, .big_frame, .giant_frame, .mini_frame, .mini_frame_content {
        width: 100% !important;
        clear: both;
    }

    .medium_frame, .big_frame, .giant_frame, .mini_frame {
        margin-bottom: 25px;
    }

    .sidebar-sticky, .sidebar-sticky .sticky {
        position: static !important;
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        height: auto !important;  // else too much space at the bottom...
    }


    .main_frame_content {
        color: $light_orange; // fixme
        text-align: left;

        .zoomable > img {
            height: 250px;
        }
        .email_message.unread {
            color: black;
        }
    }
}


#up_footer_wrapper, #low_footer_wrapper {
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    img {
        vertical-align: baseline !important;
    }
}

#up_footer_border_center {
    display: none;
}


/** POTENTIALLY USELESS STUFFS ?? **/

/*


#menu-bar {
    width: 100%;
    height: 13px;
    background: url("img/backgrounds/mobile/menu-bar.png") repeat-x top center;
}

table.frame {
    border-collapse: collapse;
    border-spacing: 0;
}


div.read a,
div.read p {
    color: #b5b1a3
}
img.img-article {
    margin: 5px 5px 5px 0px;
}
p.small {
    font-size: 10px;
}
p.chat {
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 10px;
    font-style: italic;
}
p.title {
    text-decoration: underline;
}
p.info {
    font-style: italic;
    color: red;
    font-size: 14px;
    padding: 5px 0px 5px 0px;
}
input {
    margin-bottom: 8px;
}
input.chat {
    width: 72%;
    margin-bottom: 0px;
    margin-right: 5px;
}
input.submit {
    width: 70px;
    margin-bottom: 0px;
}
input.search {
    width: 80px;
    margin-bottom: 0px;
}
textarea {
    width: 100%;
    margin-right: 3px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
}*/