


.parallax {
    position: absolute;
    opacity: 1;
    background-color: transparent;

    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;

    top: 0px;
    bottom: 0;

    width: 100%;
    height: 100%;
    max-height: 2000px;

    &.back {
        background-image: url('#{$IMGS}backgrounds/parallax/back_fuzzy.jpg');
        image-rendering: optimizequality;
    }

    &.front {
        background-image: url('#{$IMGS}backgrounds/parallax/front_rocks.png');
        image-rendering: optimizequality;
    }

}




body {

    @include dark-texts;

    min-width: 1000px;


    &.full_background {
        background-image: url('#{$IMGS}backgrounds/nazur_temple_75_smooth.jpg');
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center top;
        image-rendering: optimizequality;
    }


    &:after
    {
    // put here all images to PRELOAD (eg. used in dynamic menus and hover effects)
    content: " ";
    background: url('#{$IMGS}backgrounds/tube_gold_small.png'),
                url('#{$IMGS}backgrounds/tube_silver_small.png'),
                url('#{$IMGS}backgrounds/tube_bronze_small.png'),
                url('#{$IMGS}backgrounds/dropdown_menu.png'),
                url("#{$IMGS}backgrounds/notification_panel_decorations.png"),
                url("img/backgrounds/antique_large_decorated_frame.png"),
                url("img/backgrounds/ricepaper-hue-orange.jpg"),
                url('#{$IMGS}backgrounds/decorated_golden_frame.png'),
                url('#{$IMGS}backgrounds/ricepaper-hue-gold.jpg');
    background-repeat: no-repeat;
    background-position: -1000000 - 1000000;
    display: inline; // caching doesn't work if display==None'background-position:
    }
}


#mm-full_header {
    // jquery.mmenu clone of header
    display: none !important;
}
.mm-slideout {
    // no opening of side-menu on desktop
    transform: none !important;
}


body .notification_panel {
    .notification_panel_decorations {
        background: {
            image: url('#{$IMGS}backgrounds/notification_panel_decorations.png');
            repeat: no-repeat;
            position: bottom center;
            clip: padding-box;
            size: 100% 100%;
        }
        opacity: 0.90;
    }
}


#full_header {
    width: 100%;
    position: relative;
    z-index: 3000;

    #full_header_background {
        margin: auto;
        //min-width: 1000px;
        height: 165px;
        text-align: center;

        background: {
            image: url('#{$IMGS}backgrounds/header_center_gold.png');
            repeat: no-repeat;
            position: center;
        }

        #full_header_center {
            position: relative;
            width: 1004px;
            margin: 0px auto 0px;
            padding: 13px 0 0;


            #title_table {

                display: table;
                table-layout: fixed;
                width: 1000px;
                margin: 0px auto 0px;

                .notification_flag {

                    display: block;
                    position: absolute;
                    top: -70px;
                    left: 50%;
                    margin-left: -201px; // half of image size
                    padding: 120px 50px 50px;
                    width: 401px;
                    height: 299px;
                    background: {
                        image: url('#{$IMGS}backgrounds/flag_red.png');
                        repeat: no-repeat;
                        position: bottom center;
                        clip: padding-box;
                        size: cover;
                    }
                }



                @mixin top_labels {
                    display: table-cell;
                    vertical-align: middle;
                    height: 44px;
                }
                .motto{
                    @include top_labels;
                    width: 225px;

                    font-size: 13px;
                    font-weight: bold;
                    color: $black_text_color;

                    @include text_shadow($white_color);

                    &.left_image {
                        background: {
                            image: url('#{$IMGS}titles/ad_augusta.png');
                            repeat: no-repeat;
                            position: center center;
                        }
                    }
                    &.right_image {
                        background: {
                            image: url('#{$IMGS}titles/per_angusta.png');
                            repeat: no-repeat;
                            position: center center;
                        }
                    }
                }

                #site_title{
                   @include top_labels;
                   text-align: center;
                   img {
                     vertical-align: center;
                   }
                }

            }
        }

        #notification_table {
            display: table;
            width: 864px;
            margin: 0px auto 0px;
            padding: 5px 12px;
            table-layout: fixed;


            &>div {
                display: table-cell;
                vertical-align: middle;
                height: 44px; // a bit more than background carving, to lower text
                padding: 4px 12px;
            }
            .carving{

                font-size: 17px;
                color: $white_text_color;

                .marquee {
                  overflow: hidden;
                }

                width: 183px;

                background: {
                    image:url('#{$IMGS}backgrounds/carving1.png');
                    repeat:no-repeat;
                }

            }
            .separator{

            }
        }
    }
}




#full_menu {

    margin-top: -35px;
    width: 100%;
    position: relative;
    z-index: 2000; // below the title panel


    #main_menu {

        margin: auto;
        display: table;
        max-width: 1020px;

        div {
            display: table-cell;
            padding: 0px;
        }

        .big_icon_panel {
            position: relative;
            text-align: center;
            vertical-align: middle;
            width: 90px;
            height: 90px;
            background: {
                image: url('#{$IMGS}icons/big_icon_bg.png');
                repeat: no-repeat;
                position: center;
            }


            img {
               /* display: inline-block;
                margin: auto;
                position: absolute;
                top: 0; bottom: 0; */ // aligns Vertically
                max-height: 100%;
                max-width: 100%;
            }
        }

        .marble_menu_container {
            z-index: 0;
            padding-top: 12px;
            height: 73px;

            .marble_menu {

                /*
                .marble_menu_inner_outline {
                    box-sizing: border-box;
                    display: block;
                    width: 100%;
                    height: 37px;
                    border: 1px solid transparent; // $border_image_yellow_light
                }*/

                @import "_dropdown_menu_desktop.scss";

                box-sizing: content-box !important; // for border-image fallback
                min-width: 120px;

                height: 35px;
                padding: 0 0;

                background-image: url('#{$IMGS}backgrounds/post-it.png');
                background-clip: padding-box;
                background-size: 100% 100%;
                image-rendering: optimizequality;


                border-style: solid;
                border-color:transparent;
                border-width: 18px 52px 20px 55px;
                border-image: url('#{$IMGS}backgrounds/menu_border.png') 18 52 20 55 fill round stretch;
                image-rendering: optimizequality;
            }

        }
    }
}
#menu-bar{
    display:none;
}





#full_content {

    width: 980px;
    margin: -10px auto 2px;
    padding: 10px;
    overflow: visible;
    @extend .clearfix;

    .mini_frame {

        position: relative;
        padding: 0px;

        width: 270px;
        margin: 7px 10px 10px;
        overflow: visible;

        background: transparent url('#{$IMGS}backgrounds/leather_derby_tiled_small.png') repeat center center;
        background-origin: content-box; //padding-box|border-box
        background-clip: padding-box;
        background-position: left top;

        /* fallback for border-image of top level */
        border-color: $border_image_yellow;
        border-style: ridge;
        border-width: 5px;

        .mini_frame_content {
            @extend .clearfix;
            min-height: 45px;
            position: relative;
            margin: -8px; // to cover the background
            padding: 1px 1px 8px; // big bottom for graceful degrading if no border-image
            background-color: transparent;

            border-color: transparent;
            border-style: solid;
            border-width: 22px 22px;
            border-image: url('#{$IMGS}backgrounds/mini_frame4.png') 22 22 repeat;
            image-rendering: optimizequality;

            & > p {
                color: $white_text_color;
            }
        }

    }

    .main_sidebar { // container for miniframes
        ///@extend .clearfix;
        padding: 10px;
        margin: 0; //-3px 0px 0px;
        overflow: hidden; // important, since jquery-sticky affects wrong widths because of box-sizing...
        width: auto !important;
        .mini_frame {
            // mini-frames that are inside sidebar must beware of their margins!
            margin: 0 0 20px 0;
        }
    }


    @mixin main_frame_common{
        // inheritance is slightly buggy...
        position: relative;
        padding: 10px;
        margin: 7px auto 0;
        background: transparent url('#{$IMGS}backgrounds/leather_bg.jpg') repeat center center;
        background-clip: padding-box;

        /* fallback for border-image of top level */
        border-color: $border_image_yellow;
        border-style: ridge;
        border-width: 5px;
    }

    .medium_frame { // meant to be floated left or right
        @include main_frame_common;
        width: 660px;
    }

    .big_frame {
        @include main_frame_common;
        width: 740px;
    }

    .giant_frame {
        @include main_frame_common;
        width: 960px;
    }


    .main_frame_border {
        position: relative;

        margin: -25px; // to cover the background
        padding: 2px 6px;
        background-color: transparent;

        border-color: transparent;
        border-style: solid;
        border-width: 41px 43px 43px 41px;
        border-image: url('#{$IMGS}backgrounds/big_frame.png') 41 43 43 41 fill round round;
        image-rendering: optimizequality;

        .main_frame_content {
            @extend .clearfix;
            min-width: 200px;
            min-height: 150px;
            margin: 0 10px 55px; // bottom space to avoid collisions with decorations
            padding: 0;
            overflow: visible;
            position: relative;
            z-index: 30; // important for text selection
        }
    }
}



#up_footer_wrapper {

    clear: both;
    width: 100%;
    text-align: center;
    vertical-align: top;
    color: $white_text_color;

    font-size: 12px;

    img {
        vertical-align: middle !important;
    }

    @mixin up_footer_common {
        margin: 0;
        display: inline-block;
        vertical-align:top; // important to avoid mess with vertical alignment
        text-align: left;
        height: 131px;
        min-width: 40px;
        max-width: 360px;
        padding: 40px 0px 40px;
        overflow: visible; // idem...
        background-origin: padding-box; //padding-box|border-box
        background-clip: padding-box;
        background-position: center top;
        position: relative;

        background-color: transparent;
        border-color: transparent;
        border-style: solid;

        a {
          color: $white_text_color !important;
        }
    }

    #up_footer_border_left {
        @include up_footer_common;
        padding-right: 4px;
        border-width: 0px 0px 0px 121px;
        border-image: url('#{$IMGS}backgrounds/up_footer_left.png') 0 0 0 121 fill round stretch;
        image-rendering: optimizequality;
    }

    #up_footer_border_right {
        @include up_footer_common;
        padding-left: 4px;
        border-width: 0px 121px 0px 0px;
        border-image: url('#{$IMGS}backgrounds/up_footer_right.png') 0 121 0 0 fill round stretch;
        image-rendering: optimizequality;
    }

    #up_footer_border_center {
        @include up_footer_common;
        border-width: 1px;
        border-style: solid; // important
        /////background-image: url('#{$IMGS}backgrounds/up_footer_center.png');
        border-image: url('#{$IMGS}backgrounds/up_footer_center.png') 1 1 1 1 fill stretch stretch;
        image-rendering: optimizequality;
        width: 225px;
    }

    .footer_center_img {
        display: block;
        position: absolute; // else it breaks the table layout...
        left: 9px;
        top: 10px;
    }
}


#low_footer_wrapper {

    position: relative;
    clear: both;
    width: 100%;
    text-align: center;

    #low_footer_border {

        a {
            color: $white_text_color !important;
            text-decoration: none;
        }

        color: $white_text_color;
        font-size: 22px;
        line-height: 26px;

        position:relative;
        padding: 12px 4px 16px;
        min-width: 30px;
        height: 58px;
        display: inline-block;
        vertical-align:top;

        background-color: transparent;
        border-color: transparent;
        border-style: solid;
        border-width: 0px 300px 0px 304px;
        border-image: url('#{$IMGS}backgrounds/low_footer_border.png') 0 300 0 304 fill stretch;
        image-rendering: optimizequality;
        overflow: visible; // important to avoid mess with vertical alignment

        &:before {
            top: -6px;
            left: -60px;
            content: url('#{$IMGS}decorations/low_footer_deco_left.png');
            padding: 0;
            position: absolute;
        }
        &:after {
            top: -9px;
            right: -56px;
            content: url('#{$IMGS}decorations/low_footer_deco_right.png');
            padding: 0;
            position: absolute;
        }

    }

}




























