

.grey_layer {
    margin: 0;
    padding: 0;
    background: url("#{$IMGS}backgrounds/oblic_grey_3x3.png") repeat scroll 0 0 transparent;
    position: relative; // important to appear in front of absolutely positioned parallax divs
}


body .notification_panel {

    z-index: 1000000;

    padding: 0;
    margin: 0;
    margin-left: -248px; // half of image size

    display: block;
    height: auto;
    position: fixed;  // IMPORTANT, not "absolute" - else errors are not visible when a #fragment is use in link URL
    top: 0px;
    left: 50%;

    text-align: center;
    width: 502px;
    border: 3px groove $medium_yellow;
    border-top: 0;

    font-weight: bold;
    color: $white_text_color;

    .notification_panel_decorations {
        display: block;
        width: 100%;

        padding: 5px 73px 12px;

        .notification_panel_content {
            opacity: 1;
            overflow: visible;
        p {
            margin: 4px 0;
        }
       }
    }
}

.big_icon_panel {
    .positioner {
        display: block !important;
        position: relative !important;

        .novelty_mark {
            display: block;
            font-size: 40px;
            color: $light_yellow;
            font-weight: bold;
            font-style: italic;
            text-shadow: 1px 1px 0 $white_color, -1px -1px 0 $white_color, -1px 1px 0 $white_color, 1px -1px 0 $white_color;
            font-family: black_chancery, serif;
            position: absolute;
            right: 15px;
            bottom: 4px;
            text-decoration: blink;
            border: none !important;
          }
    }
}



#bug_report_panel {

    color: black;

    textarea {
      resize: none;
      width: 100%;
    }
}

