

/* styles for door locking ability */

#password_display
{
    display: table-cell;
    vertical-align: middle;
    margin: 20px;
    font-weight: bold;
    font-size: 35px;
    width: 200px;
    height: 60px;
    background-color: $light_yellow;
    border: solid 2px $dark_yellow;
}

input.digit
{
    width: 150px;
    height: 50px;
    padding: 0 7px;
    font-size: 20px;
    font-weight: bold;
    background-color: $light_yellow;
}



/* styles for radio playlist management */

#trashcan {
    cursor: pointer;
    margin: 20px 10px 5px;
    height:110px;
    background: transparent center center no-repeat url('#{$IMGS}icons/trashbin.png');
    * {
        visibility: hidden;
    }
}

.radio_spot {
    cursor: pointer;
}



/* styles for chatroom */

#chatwindow {
    margin: auto;
    height: 400px;
    width: 100%;
    padding: 5px;
    overflow: auto;
    background-color: transparent;
}


.admin_widgets {
    list-style-type: none !important;
    list-style-image: none !important;
    padding: 0 !important;
    margin: 10px auto;
}






/* styles for messaging pages */

.messaging_conversation {
  margin: 0 0 20px;
}

.message_global_controls {
  text-align: left;
  margin: 20px 5px;
}

@mixin email_base {
    @include dark-texts;

    position: relative; // to allow absolute stuffs inside, and have proper z-indexing
    min-width: 150px;
    padding: 0 2px;

    margin-left: -20px;
    margin-right: -20px;

    background-image: none; // would look ugly
    image-rendering: optimizequality;
}


@mixin email_uncollapsed_common {
    @include email_base;
    border-width: 79px 45px 81px 39px;
    border-color: transparent;
    border-style: solid;
}

.email_message.unread {
    @include email_uncollapsed_common;
    border-image: url('#{$IMGS}backgrounds/scroll_realistic_thin_ends.png') 79 45 81 39 fill stretch stretch;
    image-rendering: optimizequality;
}

.email_message.read {
    @include email_uncollapsed_common;
    border-image: url('#{$IMGS}backgrounds/scroll_realistic_thin_ends_disabled.png') 79 45 81 39 fill stretch stretch;
}

.email_message.read + .cover_previous, .email_message.unread + .cover_previous {
    margin-top: -60px;
}



@mixin email_collapsed_common {
    @include email_base;
    border-width: 30px 40px 30px 40px;
    border-color: transparent;
    border-style: solid;
}

.email_message.unread.collapsed {
    @include email_collapsed_common;
    border-image: url('#{$IMGS}backgrounds/scroll_realistic_thin_ends_collapsed.png') 30 40 30 40 fill stretch stretch;
}

.email_message.read.collapsed {
    @include email_collapsed_common;
    border-image: url('#{$IMGS}backgrounds/scroll_realistic_thin_ends_collapsed_disabled.png') 30 40 30 40 fill stretch stretch;
}

.email_message.read.collapsed + .cover_previous, .email_message.unread.collapsed + .cover_previous {
    margin-top: -25px;
}

/* hide irrelevant message modification links */
.email_message.unread .mark_unread_tag, .email_message.read .mark_read_tag,
.email_message.unstarred .mark_unstarred_tag, .email_message.starred .mark_starred_tag,
.email_message.unarchived .mark_unarchived_tag, .email_message.archived .mark_archived_tag,
.email_message.unignored .mark_unignored_tag, .email_message.ignored .mark_ignored_tag,
{
    display: none;
}

.email_message .collapsed_content {
  display: none;
}
.email_message.collapsed > * {
  display: none;
}
.email_message.collapsed > .collapsed_content {
  display: initial;
}

.email_message.archived, .email_message.ignored {
  opacity: 0.7;
}


/*
.email_message.collapsed . {
    display: none;
    .message_operations, .shareable_message_link {
        display: none;
    }
}*/

.message_operations {
    position: absolute;
    width: 90%;
    left: 5%;
    top: -70px;
    a {
        margin-right: 10px;
        text-decoration: none;
    }
    .fa {
        color: $darkest_green !important;  // font-awesome icons
    }
}

.collapse_icon {
    position: absolute;
    right: 3px;
    top: -4px;
}

.shareable_message_link {
    position: absolute;
    width: 100px;
    top: 0;
    right:0;
}

.contact_display {
    margin: 1px 1px;
    border: solid 1px $medium_yellow;
    width: 214px;
    display: inline-block;

    img {
        display: inline-block;
        vertical-align: middle;
        max-width: 60px;
        max-height: 60px;
    }
    span {
        vertical-align: middle;
        text-align: center;
        display: inline-block;
        width: 140px;
        max-width: 140px;
        font-weight: bold;
    }
}



/* styles for djinn chat */

#djinn_chat_wrapper {
  margin: auto;
  width: 500px;
}

#djinn_message_window {
    margin: auto;
    width: 500px;
    height: 350px;
    border: 2px solid #DFBF99;
    background-color: #EFDCC2;
    padding: 5px;
    overflow: auto;
    text-align: left;
}
