
@import "_globals.scss";

@import "_section_decorations.scss";





/* styles for door locking ability */

#password_display
{
    display: table-cell;
    vertical-align: middle;
    margin: 20px;
    font-weight: bold;
    font-size: 35px;
    width: 200px;
    height: 60px;
    background-color: $light_yellow;
    border: solid 2px $dark_yellow;
}

input.digit
{
    width: 150px;
    height: 50px;
    padding: 0 7px;
    font-size: 20px;
    font-weight: bold;
    background-color: $light_yellow;
}



/* styles for radio playlist management */

#trashcan {
    cursor: pointer;
    margin: 20px 10px 5px;
    height:110px;
    background: transparent center center no-repeat url('#{$IMGS}icons/trashbin.png');
    * {
        visibility: hidden;
    }
}

.radio_spot {
    cursor: pointer;
}



/* styles for chatroom */

#chatwindow {
    margin: auto;
    height: 400px;
    width: 100%;
    padding: 5px;
    overflow: auto;
    background-color: transparent;
}


.admin_widgets {
    list-style-type: none !important;
    list-style-image: none !important;
    padding: 0;
    margin: 10px auto;
}






/* styles for messaging pages */


@mixin email_common {
    position: relative; // to allow absolute stuffs inside
    min-width: 150px;
    padding: 0 2px;
    margin-left: -20px;
    margin-right: -20px;

    /* ugly
    background-size: 98% 98%;
    background-clip: border-box;
    background-position: center center;
    background-repeat: no-repeat;
    */

    border-width: 79px 45px 81px 39px;
    border-color: transparent;
    border-style: solid;
}

.email_unread {
    @include email_common;
    background-image: none; // would look ugly
    border-image: url('#{$IMGS}backgrounds/scroll_realistic_thin_ends.png') 79 45 81 39 fill stretch stretch;
    image-rendering: optimizequality;
}


.email_read {
    @include email_common;
    background-image: none; // would look ugly
    border-image: url('#{$IMGS}backgrounds/scroll_realistic_thin_ends_disabled.png') 79 45 81 39 fill stretch stretch;
    image-rendering: optimizequality;
}


.message_operations {
    position: absolute;
    top: -66px;
    left: 5px;
    a {
        margin-right: 8px;
    }
}

.cover_previous {
    margin-top: -60px;
}


.contact_display {
    margin: 1px 1px;
    border: solid 1px $medium_yellow;
    width: 214px;
    display: inline-block;

    img {
        display: inline-block;
        vertical-align: middle;
        max-width: 60px;
        max-height: 60px;
    }
    span {
        vertical-align: middle;
        text-align: center;
        display: inline-block;
        width: 140px;
        max-width: 140px;
        font-weight: bold;
    }
}



/* styles for djinn chat */

#djinn_chat_wrapper {
  margin: auto;
  width: 500px;
}

#djinn_message_window {
    margin: auto;
    width: 500px;
    height: 350px;
    border: 2px solid #DFBF99;
    background-color: #EFDCC2;
    padding: 5px;
    overflow: auto;
    text-align: left;
}
