

h1 {

    @include header_common;
    font-size: 2em;
    color: $title_gold;
    margin-bottom: 20px;

    &:before {
        top: 12px;
        left: -14px;
        content: url("#{$IMGS}decorations/primary_title_left_gradient.png");
        padding: 0;
        position: relative;
    }
    &:after {
        top: 12px;
        left: 14px;
        content: url("#{$IMGS}decorations/primary_title_right_gradient.png");
        padding: 0;
        position: relative;
    }
}


h2 {

    @include header_common;
    font-size: 1.7em;
    color: $title_white;

    &:before {
        top: 0px;
        left: -10px;
        content: url("#{$IMGS}decorations/secondary_title_left.png");
        padding: 0;
        position: relative;
    }
    &:after {
        top: 0px;
        left: 10px;
        content: url("#{$IMGS}decorations/secondary_title_right.png");
        padding: 0;
        position: relative;
    }
}


h3 {
    color: $title_white;
    font-size: 1.3em;
    text-shadow: 1px 1px 0px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    margin: 14px 5px 7px;
}


h4 {
    color: black;
    font-size: 1.1em;
    margin: 13px 20px 7px;  // left-aligned with paragraph first-line indent
}



@mixin drop_cap_mixin {
    &:first-letter {
        /* ADDING DROP CAP */
        // NO, BUG WITH WEBKIT MAKES THE LETTER TRANSPARENT - font-family: "rothenburg_decorative", "black_chancery", serif;
        color: $drop_cap;
        float: left;
        font-size: 40px;
        line-height: 30px;
        margin-top: 5px;
        // margin-left: 0em;
        // margin-right: 0em;
   }
   text-indent: 0 !important;
}

.drop_cap, .drop-cap, .dropcap {
    @include drop_cap_mixin;
}


// USELESS ATM - & > p:first-child:not(.post-it), & >p:first-of-type:not(.post-it), & > p.beautiful
.justified p, .section p {
    text-align: justify;
    overflow: hidden; // for drop caps
    text-decoration: none; // underline, overline, line-through, blink or inherit
    text-indent: 20px;

    /* useful and little known properties */
    word-spacing: normal; // or length measure
    word-wrap: break-word; // or normal
    word-break: normal; // or break-all/hyphenate
    white-space: normal; // or nowrap/pre/pre-line/pre-wrap
    quotes: none; // or string string string string
    text-overflow: ellipsis; // or clip or string, not inherited
}



b, strong {
    font-weight: bolder;
}

pre {
    white-space: pre-wrap;
}


div, span, p {
    background-color: transparent;
    border-color: transparent;
    overflow: visible;
}


p {
    margin: 8px 0 8px;
    min-width: 200px;  // to prevent horrors with inline images, when screen gets small
}


@include mobile-only {
    p {
        font-size: 1em;
    }
}
@include desktop-only {
    p {
        font-size: 1em;
    }
}


a img {
    border-width: 0;
}


h1, h2 {
    a:link, a:visited, a:hover {
        color: $title_white;
        text-decoration: none;
    }
}


dl {
    text-indent: 0;
    margin:10px 10px;

    dt {
        margin-top: 6px;
        font-weight: bold;
    }
    dd {
        padding-left: 15px;
    }
}




hr {
    border-color: $medium_yellow;
    border-width: 1px;
    width: 80%;
    margin: 20px auto;
}

blockquote.antic, q.antic, cite.antic {
    font-size: 1.5em;
    line-height: 1.2em;
    text-shadow: 1px 1px 0px black;
    font-family: kingthings_calligraphica_light;
    margin: 8px;
    padding: 6px;
}



ul.pretty_bullets, .pretty_bullets ul, .section ul, .realtable ul, .main_frame_content ul, .mini_frame_content ul
{
    li {
        margin-top: 5px;
    }

    text-align: left; // else list if UGLY
    margin: 10px 0 10px;
    padding-left: 26px;
    list-style-position: outside;
    list-style-image: url("#{$IMGS}icons/bullet_gold_small.png");

    ul {
        list-style-image: url("#{$IMGS}icons/bullet_silver_small.png");

        ul {
            list-style-image: url("#{$IMGS}icons/bullet_bronze_small.png");
        }
    }
}
.no_bullets, .no_bullets * {
    list-style-type: none !important;
    list-style-image: none !important;
}
ul.no_bullets, .no_bullets ul {
    padding-left: 0 !important;
}

ul.tiny_bullets, .tiny_bullets ul {
    padding-left: 14px !important;
    list-style-image: none !important;
    list-style-type: disc !important;
}



textarea {
    resize: vertical;
}

@mixin form_controls_variant($color) {

    textarea, select, input,
    .select2-container-multi .select2-choices, .select2-container-multi .select2-choices .select2-search-choice,
    .select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices,
    .select2-results .select2-selection-limit,
    .select2-drop,  // note that .select2-drop gets attached to BODY anyway
    .ui-dropdownchecklist-selector-wrapper, .ui-dropdownchecklist-dropcontainer,
    .markItUp {
         color: $black_text_color;
         background-color: $color;
         background-image: none;

         &:disabled {
             background-color: $grey_color;
         }
    }
}

body {
    @include form_controls_variant(#fff7e7);
}


/* for ALL instances */
input[type=submit] {
    margin-top: 25px 10px;
}

input[readonly=True] {
    background-color: lightgrey !important;
}

#full_content form {

    p:not(.required)  label {
       font-style: italic;
    }

    select, input[type=text], input[type=email], input[type=number], input[type=tel], input[type=password] {
        min-height: 29px;
        border: 1px solid $form_input_border_color;
        padding: 1px 3px;
    }
    .select2-choices input {
        min-height: 0;  // inner input of "fake" select2 <div> control
    }

    input[type=text], input[type=email], input[type=number], input[type=tel], input[type=password], input[type=submit], input[type=button], textarea, select, .select2-container, .markItUp {
        width: 100%;
        display: block;
    }

    label {
    }

}

fieldset {
    border: 2px groove $medium_yellow;
    margin: 5px auto;

    legend {
        margin: 0 10px;
        padding: 0 5px;
    }
}

/* Tag used for cms videos mainly */
object {
    display: block;
    margin: 20px auto;
}


button.pretty_button {
    background-color: #F1D68E;
    border: 3px outset #abab65;
    border-radius: 0px;
    margin: 0;
    color: $darkest_green;
    font-weight: bold;
}

.section img, // typical of restructuredtext images
img.content {
    max-width: 100%;
    @include mobile-only {
        // TODO - how to prevent image from taking 80% of width, and thus compressing texts?
    }
}

