

@import "_standard_content.scss";

.entry-body {
    overflow: visible;

    .info {
        background-color: transparent;
    }
}

.hentry {
    @extend .clearfix;
    @extend .scroll_realistic_thin_ends;

  // we remove the excess of margin inside frame
    margin-left: -30px;
    margin-right: -30px;

    img.center {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

ul.paginator {
    list-style-image: none !important;
    list-style-type: none  !important;
    li {
        display: inline !important;
        margin: 0px 5px;
    }

    .index {
        margin-right: 40px;
    }
}

.mini_frame_content .scroll_yellow_flat {
    margin: 0;
}

