@charset "UTF-8";


@import "_globals.scss";

@import "_advanced_widgets.scss";

@import "_corner_decorations.scss";

@import "_django_customization.scss";

@import "_docutils_customization.scss";

@import "_js_utils.scss";

@import "_section_decorations.scss";

@import "_specific_page_styles.scss";

@import "_standard_content.scss";

@import "_zinnia_customization.scss";




* {
    /* IMPORTANT - use better box model everywhere, by default */
    -webkit-box-sizing: border-box; /* webkit */
     -khtml-box-sizing: border-box; /* konqueror */
       -moz-box-sizing: border-box; /* firefox */
        -ms-box-sizing: border-box; /* ie */
            box-sizing: border-box; /* css3 */
   // possible values of box-sizing: content-box|border-box|inherit
}

html {
    /* just if we need to test higher or lower screen resolutions */
    /* zoom: 1.0;
    transform: scale(1.0);
    transform-origin: center top;*/
}

img {
  // global filtering, doesn't work well
    // filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */

    // filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1);
    //-webkit-filter: grayscale(0.5) blur(10px);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 1000px;
    overflow: auto; // needed for djangocms front-editing mode, which uses floats

    font-size: 100%;
    //font-size: 18px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;


    background-color: black;
    background-image: url('#{$IMGS}backgrounds/nazur_temple_75.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;

    /* useful and little known properties */
    word-spacing: normal; // or length measure
    word-wrap: normal; // or break-word
    word-break: normal; // or break-all/hyphenate
    white-space: normal; // or nowrap/pre/pre-line/pre-wrap
    quotes: none; // or string string string string
    text-overflow: ellipsis; // or clip or string, not inherited




    &:after
    {
    // put here all images to PRELOAD (eg. used in dynamic menus and hover effects)
    content: " ";
    background: url('#{$IMGS}backgrounds/tube_gold_small.png'),
               url('#{$IMGS}backgrounds/tube_silver_small.png'),
               url('#{$IMGS}backgrounds/tube_bronze_small.png'),
               url('#{$IMGS}backgrounds/dropdown_menu.png'),
               url("#{$IMGS}backgrounds/notification_panel_decorations.png"),
               url("img/backgrounds/antique_large_decorated_frame.png"),
               url("img/backgrounds/ricepaper-hue-orange.jpg"),
               url('#{$IMGS}backgrounds/decorated_golden_frame.png'),
               url('#{$IMGS}backgrounds/ricepaper-hue-gold.jpg');
    background-repeat: no-repeat;
    background-position: -1000000 - 1000000;
    display: inline; // caching doesn't work if display==None'background-position:
    }
}

.grey_layer {
    margin: 0;
    padding: 0;
    background: url("#{$IMGS}backgrounds/oblic_grey_3x3.png") repeat scroll 0 0 transparent;
}



#full_header {
    width: 100%;
    position: relative;
    z-index: 3000;

    #full_header_background {
        margin: auto;
        //min-width: 1000px;
        height: 167px;
        text-align: center;

        background: {
            image: url('#{$IMGS}backgrounds/header_center.png');
            repeat: no-repeat;
            position: center;
        }

        #full_header_center {
            position: relative;
            width: 1004px;
            margin: 0px auto 0px;
            padding: 13px 0 0;



            .notification_panel {
                padding: 0;
                margin: 0;
                margin-left: -248px; // half of image size

                display: block;
                height: auto;
                position: absolute;
                top: 0px;
                left: 50%;

                text-align: center;
                width: 502px;
                border: 3px groove $medium_yellow;
                border-top: 0;

                font-weight: bold;
                color: $alt_text_color;

                .notification_panel_decorations {
                    background: {
                        image: url('#{$IMGS}backgrounds/notification_panel_decorations.png');
                        repeat: no-repeat;
                        position: bottom center;
                        clip: padding-box;
                        size: cover;
                    }
                    opacity: 0.85;
                    display: block;
                    width: 100%;
                    //height: 100%;

                    padding: 5px 73px 28px;
                    //z-index: -1;

                    .notification_panel_content {
                        opacity: 1;
                        max-height: 120px;
                        overflow: visible;
                   }
                }
            }


            #title_table {

                display: table;
                table-layout: fixed;
                width: 1000px;
                margin: 0px auto 0px;

                .notification_flag {

                    display: block;
                    position: absolute;
                    top: -70px;
                    left: 50%;
                    margin-left: -201px; // half of image size
                    padding: 120px 50px 50px;
                    width: 401px;
                    height: 299px;
                    background: {
                        image: url('#{$IMGS}backgrounds/flag_red.png');
                        repeat: no-repeat;
                        position: bottom center;
                        clip: padding-box;
                        size: cover;
                    }
                }



                @mixin top_labels {
                    display: table-cell;
                    vertical-align: middle;
                    height: 44px;
                }
                .motto{
                    @include top_labels;
                    width: 225px;

                    font-weight: bold;
                    color: $white_color;
                    text-shadow: 1px 1px 0px $black_color,
                                 -1px -1px 0px $black_color;

                    &.left_image {
                        background: {
                            image: url('#{$IMGS}titles/ad_augusta.png');
                            repeat: no-repeat;
                            position: center center;
                        }
                    }
                    &.right_image {
                        background: {
                            image: url('#{$IMGS}titles/per_angusta.png');
                            repeat: no-repeat;
                            position: center center;
                        }
                    }
                }

                #site_title{
                   @include top_labels;
                   text-align: center;
                   img {
                     vertical-align: center;
                   }
                }

            }
        }

        #notification_table {
            display: table;
            width: 864px;
            margin: 0px auto 0px;
            padding: 5px 12px;
            table-layout: fixed;


            &>div {
                display: table-cell;
                vertical-align: middle;
                height: 44px; // a bit more than background carving, to lower text
                padding: 4px 12px;
            }
            .carving{

                font-size: 1.1em;
                color: $white_color;

                .marquee {
                  overflow: hidden;
                }

                width: 183px;

                background: {
                    image:url('#{$IMGS}backgrounds/carving1.png');
                    repeat:no-repeat;
                }

            }
            .separator{

            }
        }
    }
}




#full_menu {

    margin-top: -35px;
    width: 100%;
    position: relative;
    z-index: 2000; // below the title panel


    #main_menu {

        margin: auto;
        display: table;
        max-width: 960px;

        div {
            display: table-cell;
            padding: 0px;
        }

        .big_icon_panel {
            position: relative;
            text-align: center;
            vertical-align: middle;
            width: 90px;
            height: 90px;
            background: {
                image: url('#{$IMGS}icons/big_icon_bg.png');
                repeat: no-repeat;
                position: center;
            }

            .positioner {
                display: block !important;
                position: relative !important;

                .novelty_mark {
                    display: block;
                    font-size: 40px;
                    color: $light_yellow;
                    font-weight: bold;
                    font-style: italic;
                    text-shadow: 1px 1px 0 $white_color, -1px -1px 0 $white_color, -1px 1px 0 $white_color, 1px -1px 0 $white_color;
                    font-family: black_chancery, serif;
                    position: absolute;
                    right: 15px;
                    bottom: 4px;
                    text-decoration: blink;
                    border: none !important;
                  }
            }

            img {
               /* display: inline-block;
                margin: auto;
                position: absolute;
                top: 0; bottom: 0; */ // aligns Vertically
                max-height: 100%;
                max-width: 100%;
            }
        }

        .marble_menu_container {
            z-index: 0;
            padding-top: 12px;
            height: 73px;

            .marble_menu {

                /*
                .marble_menu_inner_outline {
                    box-sizing: border-box;
                    display: block;
                    width: 100%;
                    height: 37px;
                    border: 1px solid transparent; // $border_image_yellow_light
                }*/

                @import "_dropdown_menu.scss";

                box-sizing: content-box !important; // for border-image fallback
                min-width: 550px;

                height: 35px;
                padding: 0 0;

                background-image: url('#{$IMGS}backgrounds/post-it.png');
                background-clip: padding-box;
                background-size: 100% 100%;


                border-style: solid;
                border-color:transparent;
                border-width: 18px 52px 20px 55px;
                border-image: url('#{$IMGS}backgrounds/menu_border.png') 18 52 20 55 fill round stretch;
            }

        }
    }
}




#full_content {

    width: 980px;
    margin: -10px auto 2px;
    padding: 10px;
    overflow: visible;
    @extend .clearfix;

    .mini_frame {

        position: relative;
        padding: 0px;

        width: 270px;
        margin: 7px 10px 10px;
        overflow: visible;

        background: transparent url('#{$IMGS}backgrounds/leather_derby_tiled_small.png') repeat center center;
        background-origin: content-box; //padding-box|border-box
        background-clip: padding-box;
        background-position: left top;

        /* fallback for border-image of top level */
        border-color: $border_image_yellow;
        border-style: ridge;
        border-width: 5px;

        .mini_frame_content {
            @extend .clearfix;
            min-height: 45px;
            position: relative;
            margin: -8px; // to cover the background
            padding: 1px 1px 8px; // big bottom for graceful degrading if no border-image
            background-color: transparent;

            border-color: transparent;
            border-style: solid;
            border-width: 22px 22px;
            border-image: url('#{$IMGS}backgrounds/mini_frame4.png') 22 22 repeat;

            & > p {
                color: $white_color;
            }
        }

    }

    .main_sidebar { // container for miniframes
        ///@extend .clearfix;
        padding: 10px;
        margin: 0; //-3px 0px 0px;
        overflow: hidden; // important, since jquery-sticky affects wrong widths because of box-sizing...
        width: auto !important;
        .mini_frame {
            // mini-frames that are inside sidebar must beware of their margins!
            margin: 0 0 20px 0;
        }
    }


    @mixin main_frame_common{
        // inheritance is slightly buggy...
        position: relative;
        padding: 10px;
        margin: 7px auto 0;
        background: transparent url('#{$IMGS}backgrounds/leather_bg.jpg') repeat center center;
        background-clip: padding-box;

        /* fallback for border-image of top level */
        border-color: $border_image_yellow;
        border-style: ridge;
        border-width: 5px;
    }

    .medium_frame { // meant to be floated left or right
        @include main_frame_common;
        width: 660px;
    }

    .big_frame {
        @include main_frame_common;
        width: 740px;
    }

    .giant_frame {
        @include main_frame_common;
        width: 960px;
    }


    .main_frame_border {
        position: relative;

        margin: -25px; // to cover the background
        padding: 2px 6px;
        background-color: transparent;

        border-color: transparent;
        border-style: solid;
        border-width: 41px 43px 43px 41px;
        border-image: url('#{$IMGS}backgrounds/big_frame.png') 41 43 43 41 fill round round;

        .main_frame_content {
            @extend .clearfix;
            min-width: 200px;
            min-height: 150px;
            margin: 0 20px 55px; // bottom space to avoid collisions with decorations
            padding: 0;
            overflow: visible;
            position: relative;
            z-index: 30; // important for text selection
        }
    }
}



#up_footer_wrapper {

    clear: both;
    width: 100%;
    text-align: center;
    vertical-align: top;
    color: $alt_text_color;

    @mixin up_footer_common {
        margin: 0;
        display: inline-block;
        vertical-align:top; // important to avoid mess with vertical alignment
        text-align: left;
        height: 131px;
        min-width: 40px;
        max-width: 360px;
        padding: 40px 0px 40px;
        overflow: visible; // idem...
        background-origin: padding-box; //padding-box|border-box
        background-clip: padding-box;
        background-position: center top;
        position: relative;

        background-color: transparent
        border-color: transparent;
        border-style: solid;

        a {
          color: $alt_text_color !important;
        }
    }

    #up_footer_border_left {
        @include up_footer_common;
        padding-right: 4px;
        border-width: 0px 0px 0px 121px;
        border-image: url('#{$IMGS}backgrounds/up_footer_left.png') 0 0 0 121 fill round stretch;
    }

    #up_footer_border_right {
        @include up_footer_common;
        padding-left: 4px;
        border-width: 0px 121px 0px 0px;
        border-image: url('#{$IMGS}backgrounds/up_footer_right.png') 0 121 0 0 fill round stretch;
    }

    #up_footer_border_center {
        @include up_footer_common;
        border-width: 1px;
        border-style: solid; // important
        /////background-image: url('#{$IMGS}backgrounds/up_footer_center.png');
        border-image: url('#{$IMGS}backgrounds/up_footer_center.png') 1 1 1 1 fill stretch stretch;
        width: 225px;
    }

    .footer_center_img {
        display: block;
        position: absolute; // else it breaks the table layout...
        left: 9px;
        top: 10px;
    }
}


#low_footer_wrapper {

    position: relative;
    clear: both;
    width: 100%;
    text-align: center;

    #low_footer_border {

        a {
            color: $alt_text_color !important;
            text-decoration: none;
        }

        color: $alt_text_color;
        font-size: 22px;
        line-height: 26px;

        position:relative;
        padding: 12px 4px 16px;
        min-width: 30px;
        height: 58px;
        display: inline-block;
        vertical-align:top;

        background-color: transparent
        border-color: transparent;
        border-style: solid;
        border-width: 0px 300px 0px 304px;
        border-image: url('#{$IMGS}backgrounds/low_footer_border.png') 0 300 0 304 fill stretch;
        overflow: visible; // important to avoid mess with vertical alignment

        &:before {
            top: -6px;
            left: -60px;
            content: url('#{$IMGS}decorations/low_footer_deco_left.png');
            padding: 0;
            position: absolute;
        }
        &:after {
            top: -9px;
            right: -56px;
            content: url('#{$IMGS}decorations/low_footer_deco_right.png');
            padding: 0;
            position: absolute;
        }

    }

}



#bug_report_panel {
    //display: none;
    z-index: 10000;
    position: fixed;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    top: 50px;
    background-image: url('#{$IMGS}backgrounds/ricepaper-hue-gold.jpg');
    color: $text_color;

    .bug_report_panel_content {
      min-height: 200px; // single child expected
      padding: 5px 20px 20px;
    }
}



























