{% extends "base_main.html" %}
{% load sekizai_tags heading kwacros i18n %}
{% loadkwacros "metalradiance_kwacros.html" %}


{% block full_menu_container %}
{% endblock %}

{% block full_header %}
{% endblock %}

{% block panels %}

    {% usekwacro main_panel_start frame_class="big_frame" %}

        {% include "utilities/page_title.html" %}
        {% include "utilities/page_top.html" %}

        {% block content %}
        {% endblock %}

        {% include "utilities/page_bottom.html" %}

    {% usekwacro main_panel_end %}

{% endblock %}

{% block up_footer %}
{% endblock %}

{% block low_footer %}
{% endblock %}
