{% extends "base_main.html" %}
{% load sekizai_tags heading kwacros i18n %}
{% loadkwacros "metalradiance_kwacros.html" %}





{% block panels %}

    {% usekwacro main_panel_start frame_class="medium_frame float_right" %}

        {% include "utilities/page_title.html" %}
        {% include "utilities/page_top.html" %}

        {% block content %}
        {% endblock %}

        {% include "utilities/page_bottom.html" %}

    {% usekwacro main_panel_end %}


    <div class="main_sidebar">
    {% block sidebar %}
        {% comment %} <!-- USE THIS TO CREATE SIDE PANELS -->
        {% usekwacro side_panel_start frame_class="mini_frame float_left clear_left" decos="1" %}
            {% block sidebar_content %}
            {% endblock %}
            {# <div style="clear:both; line-height: 1px;">&nbsp;</div> #}
        {% usekwacro side_panel_end %}
        {% endcomment %}
    {% endblock %}
    </div>


    {% block activate_floating_menu %}
        {% addtoblock "onload_js" %}
            $('.main_sidebar').hcSticky({
                responsive: false, // recompute stuffs on window resize
                top: 0, // The distance from the top of the Window at which to trigger hcSticky.
                bottom: 0, // The distance from the bottom of the Window at which to glue hcSticky.
                bottomEnd: 0, // The distance from the bottom of the referring element at which to stop hcSticky.
                bottomLimiter: null, // jQuery selector that selects element and calculates bottomEnd value based on its offset top position.
                                     //It works only if noContainer is set to “true” and it has higher priority than BottomEnd.
                innerTop: 0, // The distance from the top inside of the sticky content at which to trigger hcSticky.
                innerSticker: null, // jQuery selector that selects element at which to trigger hcSticky instead of top of sticky container.
                                    //This has higher priority than innerTop option.
                noContainer: false, // When set to “true”, hcSticky will be referred to the Document.
                followScroll: false, // When set to “false”, sticky content will not move with the page if it is bigger that Window.
                className: 'sticky', // Class that will be applied to sticky element while it is floating.
                wrapperClassName: 'sidebar-sticky', // Class that is set to wrapper that hcSticky creates around your sticky content.
                onStart: function(){}, // Callback function on plugin Start event (when the element starts floating)
                onStop: function(){} // Callback function on plugin Stop event (when the element stops floating and returns to its normal state)
            });
        {% endaddtoblock %}
    {% endblock %}


 {% endblock %}

