 {% extends "metalradiance_base.html" %}
{% load sekizai_tags heading kwacros helpers i18n django_select2_tags %}
{% loadkwacros "metalradiance_kwacros.html" %}



{% block sekizai_calls %}
{{ block.super }}

{% addtoblock "meta" %}
    <meta name="ROBOTS" content="NOINDEX,NOFOLLOW" />
{% endaddtoblock %}




{% addtoblock "css" %}

    <!-- no need - link href="{{ STATIC_URL }}libs/jquery-ui/ui.dropdownchecklist.css" rel="stylesheet" type="text/css" /-->
    <link href="{{ STATIC_URL }}libs/zoomy/zoomy.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}libs/p4wn/p4wn.css" rel="stylesheet" type="text/css" />
    {% import_django_select2_css %}

{% endaddtoblock %}



{% addtoblock "js" %}

    <script src="{{ STATIC_URL }}libs/jquery-marquee/jquery.marquee.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}libs/jquery-outsideevents/jquery.ba-outside-events.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/jquery.mousewheel-3.0.6.pack.js" type="text/javascript"></script>

    <!-- DEPRECATED script src="{{ STATIC_URL }}libs/jquery-ui/combobox.js" type="text/javascript"></script-->

    <script src="{{ STATIC_URL }}libs/jquery-dropdownchecklist/ui.dropdownchecklist-1.4.js" type="text/javascript"></script>


    <script src="{{ STATIC_URL }}libs/jquery.hcsticky.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}libs/videoplayers/quicktimeplayer/AC_QuickTime.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/videoplayers/wmvplayer/wmvplayer.js" type="text/javascript"></script>
    <!--script src="{{ MEDIA_URL }}videoplayers/wmvplayer/silverlight.js" type="text/javascript"></script-->

    <script src="{{ STATIC_URL }}libs/zoomy/zoomy.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/qtip/jquery.qtip-1.0.0-rc3.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}libs/utilities.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}libs/p4wn/engine.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}libs/p4wn/display.js" type="text/javascript"></script>



    {% import_django_select2_js %}

{% endaddtoblock %}





{% addtoblock "definition_js" %}

    function return_to_home(){
    	window.location.replace("{% game_view_url "pychronia_game.views.homepage" %}");
    }

    {% game_view_url "pychronia_game.views.personal_webradio_popup" as player_view_url %}
    function open_webradio_popup(){
        window.open('{{ player_view_url|escapejs }}', '_blank',
                    'width=400,height=200,directories=no,location=no,menubar=no,resizeable=yes,scrollbars=no,status=no,titlebar=no,toolbar=no',
                    false); // new history entry
    }

    function display_bug_report_panel(){
        $('#bug_report_panel .obfusk').css('display', 'none'); // definitively remove antispam markers
    }

    function submit_report_data(){
        var report_data = $("#bug_report_textarea").val().trim()

        if (report_data.length < 10){
            // FIXME - add jnotify call here!!!
        }else{
         $.post("{% game_view_url "pychronia_game.views.bug_report_treatment" %}",
                   { report_data: report_data,
                     location: window.location.toString() },
                   function(answer) {
                       $.fancybox.close();
                       $.jnotify('{{ _("Bug report properly sent.")|escapejs }}', "success");
                   }
         );
         }
    }



    function save_radio_playlist() {
       $.post("",
               { _action_: "save_radio_playlist",
               audio_ids: $('#current_playlist').sortable('toArray', { attribute: "data-spotid" })},
               function(answer) {  }
             );
    }


    function clear_radio_playlist() {
        $("#current_playlist").empty();
        save_radio_playlist();
    }

{% endaddtoblock %}


{% addtoblock "onload_js" %}

        {% if 1 %}
        window.onerror = function(msg, url, linenumber){
             //alert("{0} ({1})".format(msg, url));
             //alert('Error message: '+msg+'\nURL: '+url+'\nLine Number: '+linenumber);
             $.jnotify('{{ _("Application error (please consider reporting that bug)")|escapejs }} - {0} - URL: {1}'.format(msg, url), "error", true);
        }
        {% endif %}


        var titledBlocks = $("[title!=''][title]").filter(function() {
            return $(this).attr("title").trim() != "";  // we ignore titles made only of blank characters
        });

        titledBlocks.qtip({
        	                 show: { delay: 800 },
                             hide: { when: 'mouseout', fixed: true, delay: 400 },
        	                 style: { name: 'cream', tip: false, "font-size": "0.8em"},

                             events: {
                                 show: function() {

                                     var qtipRoot = $(this);

                                     // Tell the tip itself to not bubble up clicks on it
                                     $(qtipRoot.qtip('api').elements.tooltip).click(function() { return false; });

                                     // Tell the document itself when clicked to hide the tip and then unbind
                                     // the click event (the .one() method does the auto-unbinding after one time)
                                     $(body).one("click", function() { qtipRoot.qtip('hide'); });
                                 }
                             },

                             position: {
                                  adjust: {
                                      screen: true
                                  }
                             }

                           }); // lots of options remain


        zoomy_options = {
              zoomSize    : 350,
              round       : true,
              glare       : true,
              clickable   : false,
              attr        : 'href', // we would use rel or data-x instead
              border      : '5px solid #775F13',
              zoomInit    : null,  //callback for when zoom initializes
              zoomStart   : null, // callback for when zoom starts
              zoomStop    : null // callback for when the zoom ends
        }
        $('.zoomable').zoomy('mouseenter', zoomy_options); // click dblclick mouseover


        $(".multichecklist").dropdownchecklist({minWidth: "150px", maxDropHeight: "300px", emptyText: "<i>...</i>"});

        var fancyBoxDefaults = {
            margin: 50,
            padding: 50,
            minWidth: 460,
            maxWidth: 960,
            openEffect: 'none', // 'elastic', 'fade' or 'none'
            closeEffect: 'none', // 'elastic', 'fade' or 'none'
            autoSize: true,
            helpers:  {
                overlay: {
                    speedIn: 0,
                    speedOut: 300,
                    opacity: 0.6,
                    css: {
                        cursor: 'pointer'
                    },
                    closeClick: true
                },
                title: {
                    type: 'float' // 'float', 'inside', 'outside' or 'over'
                }
            }

        };
        window.fancyBoxDefaults = fancyBoxDefaults;  // EXPORTED

        // auto-fancybox using miscellaneous means (eg. local anchors)
        $('.fancybox').fancybox(fancyBoxDefaults);

        // auto-fancybox with forced ajax (else their HREF/URL might be misinterpreted, eg. if containing "?", and they require global JS variables")
        var fancyBoxCustomOptions = $.extend({type: 'ajax'}, window.fancyBoxDefaults);
        $('.fancybox-ajax').fancybox(fancyBoxCustomOptions);




        {% if game_is_writable %}

            $("#trashcan").droppable({
               drop: function(event, ui) {ui.draggable.remove();},
               accept: "#current_playlist li",
               tolerance: "pointer",
            });

            $("#current_playlist").sortable({
                //connectWith: "#trashcan",
                dropOnEmpty: true,
                helper: "clone",
                tolerance: "pointer",
                scroll: false,
                stop: function(event, ui) {
                   save_radio_playlist();
                }
            })//.disableSelection();

            $('#available_radio_spots .radio_spot').draggable({
                //containment: "#radiotracks",
                cursor: "move",
                helper: "clone",
                dropOnEmpty: true,
                revert: "invalid",
                opacity: 0.7,
                connectToSortable: "#current_playlist",
              }) .click(function(e){

                    if ( $(this).is('.ui-draggable-dragging') ) {
                          return;
                    }

                    /*
                    var target = $( e.target );
                    if ( target.is( "li" ) ) {
                        e.stopPropagation();
                    }*/

                    var tag = $(this).clone();
                    $("#current_playlist").append(tag);
                    $("#current_playlist").sortable('refresh');
                    save_radio_playlist();

              });


              ;

        {% endif %}








        /* ADD GLOBAL AJAX ERROR HANDLERS (all executed on error)
        FIXME
        $(document).ajaxError( handler(event, jqXHR, ajaxSettings, thrownError) )

        jQuery.ajax({
            ...,
            complete: function(event, XHR, ajaxSettings, thrownError) {
            if (XHR.status == 200) { // success
            } elseif (XHR.status == 500) { // Internal Server Error
            } elseif (XHR.status == 404) { // File Not found
            }
            });

        */

        /*
        $(function() {
            $.ajaxSetup({
                error: function(jqXHR, exception) {
                    if (jqXHR.status === 0) {
                        alert('Not connect.\n Verify Network.');
                    } else if (jqXHR.status == 404) {
                        alert('Requested page not found. [404]');
                    } else if (jqXHR.status == 500) {
                        alert('Internal Server Error [500].');
                    } else if (exception === 'parsererror') {
                        alert('Requested JSON parse failed.');
                    } else if (exception === 'timeout') {
                        alert('Time out error.');
                    } else if (exception === 'abort') {
                        alert('Ajax request aborted.');
                    } else {
                        alert('Uncaught Error.\n' + jqXHR.responseText);
                    }
                }
            });
        });

        $("div.log").ajaxError(function(event, jqXHR, ajaxSettings, thrownError) {
              $(this).text( "Triggered ajaxError handler." );
            });
       */


		$('.marquee').marquee({
		    //speed in milliseconds of the marquee
		    speed: 6000,
		    //gap in pixels between the tickers
		    gap: 30,
		    //time in milliseconds before the marquee will start animating
		    delayBeforeStart: 1,
		    //'left' or 'right'
		    direction: 'left',
		    //true or false - should the marquee be duplicated to show an effect of continues flow
		    duplicated: true
		});


        var submissionControls = $('input[type="button"], input[type="submit"]');
        {% if disable_widgets %}
            submissionControls.add('input.autosubmit');
            submissionControls.attr('disabled', 'disabled');
        {% else %}
            /* prevent quick double submits */
            submissionControls.click(function (event) {
                var myButton = $(this);
                // DELAYED disabling of button, else on some browsers form will not get submitted at all
                setTimeout(function(){myButton.attr("disabled", true);}, 10);
                setTimeout(function(){myButton.attr("disabled", false);}, 1000);
            });
        {% endif %}


{% endaddtoblock %}


{% endblock %}




{% block html_title %}
    {% if page_title %}
        {{ page_title }} - {% trans "Anthropia" %} {{ game_instance_id|capfirst }}
    {% elif fallback_title %}
        {{ fallback_title }} - {% trans "Anthropia" %} {{ game_instance_id|capfirst }}
    {% else %}
        {% trans "Welcome to Anthropia" %}
    {% endif %}
{% endblock %}


{% block body_top %}

    {% if not game_is_writable %}
        <div class="grey_layer">
    {% endif %}

    {% comment %} FIX IMPERSONATION PANEL
            ALSO : impersonation_writability_post_variable <---
            {% if possible_impersonations %}
            <div style="float:left;">
                <div style="color: #FFF; font-size: 10px;">Write: {{ user.ssss }} <br/> Impersonation: {{ user.is_impersonation}}</div>
                {% for impersonation in possible_impersonations %}
                <form action="" method="POST">
                    <input type="hidden" name="{{ impersonation_target_post_variable }}" value="{{ impersonation }}"/>
                    <input type="submit" name="" value="{{ impersonation|capfirst }}">
                </form>
                {% endfor %}

                {% if user.is_impersonation %}
                <form action="" method="POST">
                    <input type="hidden" name="{{ impersonation_target_post_variable }}" value=""/>
                    <input type="submit" name="" value="STOP">
                </form>
                {% endif %}
            </div>
            {% endif %}
    {% endcomment %}

    {% include "utilities/bug_report.html" %}
{% endblock %}

{% block body_bottom %}
    {% if not game_is_writable %}
        </div> {# we close grey_layer #}
    {% endif %}
{% endblock %}

{% block top_left_motto %}
{% if impersonation_capabilities.display_impersonation_target_shortcut %}
	<div class="motto">
		<form action="" method="POST" title="{% trans "Take the identity of another user." %}">
        {% trans "Impersonation:" %}
		<select name="{{ impersonation_capabilities.impersonation_target_post_variable }}" onchange="this.form.submit()">
			<option value="">{% trans "None" %}</option>
			{% for target in impersonation_capabilities.impersonation_targets %}
		    <option value="{{ target }}" {% if impersonation_capabilities.current_impersonation_target == target %}selected{% endif %}>{{ target|capfirst }}</option>
		    {% endfor %}
		</select>
		</form>
    </div>
{% elif not impersonation_capabilities.display_impersonation_writability_shortcut %}
    {{ block.super }}
{% else %}
    <div class="motto"></div>
{% endif %}
{% endblock %}


{% block top_right_motto %}
{% if impersonation_capabilities.display_impersonation_writability_shortcut %}
	<div class="motto">
		<form action="" method="POST" title="{% trans "Whether or not you can modify the game during impersonations." %}">
	    {% trans "Writability:" %}
	    <select name="{{ impersonation_capabilities.impersonation_writability_post_variable }}" onchange="this.form.submit()" {% if not user.is_impersonation %}disabled{% endif %}>
	      <option value="false">{% trans "Read-only" %}</option>
	      <option value="true" {% if impersonation_capabilities.current_impersonation_writability %}selected{% endif %}>{% trans "Writable" %}</option>
	    </select>
	    </form>
	</div>
{% elif not impersonation_capabilities.display_impersonation_target_shortcut %}
    {{ block.super }}
{% else %}
    <div class="motto"></div>
{% endif %}
{% endblock %}


{% block site_title %}
    <a href="{% game_view_url "pychronia_game.views.homepage" %}"><img src="{{ STATIC_URL }}MetalRadiance/img/titles/anthropia.png"/></a></div>
{% endblock %}


    {% comment %}
    <h2>
        <a href="{% game_view_url "pychronia_game.views.homepage" %}">
            {% if user.is_authenticated %}
                  {% blocktrans with user.username|capfirst as user_name %}
                      Welcome to your Realm, {{ user_name }}
                  {% endblocktrans %}
            {% else %}
                {% trans "Welcome, Visitor" %}
            {% endif %}
        </a>
    </h2>

    {% if not DDSJKSDBSJK %} <h2>{% trans "Server in maintenance mode - no form submission possible" %}</h2> {% endif %}

    {% endcomment %}


{% block carving_left %}
<div style="cursor:help">{# Use class="marquee" to make it scroll! #}

    {% if user.is_superuser %}
        <span title="{% trans "User is a superuser (authenticated as Django Admin)" %}">{% fontawesome_icon "mortar-board" large=False %}</span>
    {% elif user.is_impersonation %}
        <span title="{% trans "User impersonation is ongoing" %}">{% fontawesome_icon "user-secret" large=False %}</span>
    {% elif user.is_authenticated %}
        <span title="{% trans "No impersonation is currently ongoing" %}">{% fontawesome_icon "user" large=False %}</span>
    {# else, user is a PURE anonymous user, we display no icon here #}
    {% endif %}

    {% if user.is_observer %}
        <span title="{% trans "User is authenticated as an observer (read-only access)" %}">{% fontawesome_icon "eye" large=False %}</span>
    {% elif not user.has_write_access %}
        <span title="{% trans "Page is in read-only mode (no modification is allowed)" %}">{% fontawesome_icon "eye" large=False %}</span>
    {# else, simply no "read-only" icon #}
    {% endif %}

    <span class="mobile-only">{% trans "Effective identity" %}{{COLON}} </span>

    <span title="{% trans "Currently active username" %}">{{ user.username|capfirst }}</span>

</div>
{% endblock %}


{% block carving_right %}
<div>
<span class="mobile-only">{% trans "Novelties" %} - </span>
<span>

    {% if not signal_new_menu_entries and not signal_new_text_messages and not signal_chatting_users %}
    <span title="">{% trans "No Notifications" %}</span>
    {% endif %}

    {% if signal_new_menu_entries %}
        <img title="{% trans "New menu entries are available for you!" %}" onclick="$(this).qtip('show');" style="cursor:help" src="{{ STATIC_URL }}MetalRadiance/img/icons/share_link_tiny4.png"/>
    {% endif %}
    {% if signal_new_text_messages %}
       <img title="{% trans "New text messages are available for you!" %}" onclick="$(this).qtip('show');" style="cursor:help" src="{{ STATIC_URL }}MetalRadiance/img/icons/rolled_parchment_tiny.png"/>
    {% endif %}
    {% if signal_chatting_users %}
       <img title="{% trans "There are people in the live chat room!" %}" onclick="$(this).qtip('show');" style="cursor:help" src="{{ STATIC_URL }}MetalRadiance/img/icons/speech_bubble_tiny.png"/>
    {% endif %}

</span>
</div>
{% endblock %}


{% block left_big_icon_panel %}
<div class="big_icon_panel mobile-only">
    <a href="#full_header" style="font-size: 2em; color: #CC971A">{% fontawesome_icon "bars" %}</a>
</div>

{% if 1 %}
<a onclick="open_webradio_popup(); return false;" href="#" class="desktop-only">
<div title="{% trans "Pangea webradio is currently ONLINE" %}" class="big_icon_panel">
    <div class="positioner">
        <img src="{{ STATIC_URL }}MetalRadiance/img/icons/radio.png"/>{% if signal_new_radio_messages %}<span class="novelty_mark">!</span>{% endif %}
    </div>
</div>
</a>
{% else %}
<div title="{% trans "Pangea webradio is currently OFFLINE" %}" class="big_icon_panel desktop-only">
    <img src="{{ STATIC_URL }}MetalRadiance/img/icons/radio_disabled.png"/>
</div>
{% endif %}
{% endblock %}




{% block right_big_icon_panel %}
{% if content_blocks.help_page.data %}
<a href="{% game_view_url "pychronia_game.views.view_help_page" keyword=content_blocks.help_page.name %}" class="fancybox-ajax" title="{{ page_title }}">
<div class="big_icon_panel">
    <div class="positioner">
        <img src="{{ STATIC_URL }}MetalRadiance/img/icons/question_mark.png"/>{% if signal_new_help_page %}<span class="novelty_mark">!</span>{% endif %}
    </div>
</div>
</a>
{% else %}
<div {% if display_admin_tips %}title="{% trans "Unexisting help page:" %} '{{ content_blocks.help_page.name }}'"
     {% else %}title="{% trans "Unfortunately, no additional information about the current webpage is available" %}"{% endif %}
     class="big_icon_panel">
    <div class="positioner">
        <img src="{{ STATIC_URL }}MetalRadiance/img/icons/question_mark_disabled.png"/>
    </div>
</div>
{% endif %}
{% endblock %}



{% block panels %}

    {# TO BE OVERRIDDEN #}

{% endblock %}




{% block up_footer_left_content %}

        {% if online_users %}
            {% blocktrans count online_users|length as counter %}
                Online user:
            {% plural %}
                Online users:
            {% endblocktrans %}
            <i>{{ online_users|join:", " }}</i>
        {% else %}
            <i>{% trans "No users currently online." %}</i>
        {% endif %}



{% endblock %}


{% block up_footer_right_content %}

        {% trans "Interface : " %}

        <form id="change_language_fr" style="display:inline;" method="POST" action="{% url 'django.views.i18n.set_language' %}">
        <input type="hidden" name="language" value="fr"/>
        <a href="javascript:document.getElementById('change_language_fr').submit()"><img src="{{ STATIC_URL }}img/flags/France.jpg"/></a>
        </form>

        <form id="change_language_en" style="display:inline;" method="POST" action="{% url 'django.views.i18n.set_language' %}">
        <input type="hidden" name="language" value="en"/>
        <a href="javascript:document.getElementById('change_language_en').submit()"><img src="{{ STATIC_URL }}img/flags/UK.jpg"/></a>
        </form>    <br/>

{% endblock %}


{% block low_footer_content %}
    <a id="bug_report_link" href="#bug_report_panel" class="fancybox" onclick="display_bug_report_panel(); return false;" >{% trans "Bug Report" %}</a>
    <!--CURRENT_REAL_USERNAME={{ user.real_username }} CURRENT_USERNAME={{ user.username }} - info for unit-testing-->
{% endblock %}






