{% load i18n helpers kwacros%}
{% loadkwacros "metalradiance_kwacros.html" %}


{% usekwacro side_panel_start frame_class="mini_frame float_left clear_left" decos="2" %}
    <h2>{% trans "Entries" %}</h2>


    <div class="rice_paper_rose tiny_bullets full_width" style="font-size:0.8em;">
        {% if immutable_table_items %}
            <div class="form_title">{% trans "Mutable" %}</div>
        {% endif %}
    <ul>
        {% for identifier, form in forms %}
            <li><a href="#entry-{{ identifier|slugify }}">{{ identifier|default:_("NEW ENTRY") }}</a></li>
        {% endfor %}
    </ul>
    </div>

    {% if immutable_table_items %}

    <div class="rice_paper_rose tiny_bullets full_width" style="font-size:0.8em;">
        <div class="form_title">{% trans "Immutable" %}</div>
    <ul>
        {% for identifier, form in immutable_table_items %}
            <li><a href="#entry-{{ identifier|slugify }}">{{ identifier }}</a></li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}

{% usekwacro side_panel_end %}
