
{% extends "base_one_column.html" %}

{% load i18n helpers kwacros %}


{% block content %}

    <h2>{% trans "Public Webradio" %}</h2>
    <p>
        {% trans "Public Webradio URL" %}{{COLON}}
        <a href={% game_view_url "pychronia_game.views.public_webradio" %}>
            {% game_view_url "pychronia_game.views.public_webradio" %}
        </a>
    </p>

    <br/>

    <h2>{% trans "Encrypted Folders" %}</h2>

    {% if folders_info %}

        {% for folder, pwds in folders_info %}

        <strong>{% trans "Folder" %}{{COLON}} {{ folder }}</strong>

            <p>
                {% trans "URL" %}{{COLON}}
                <a href={% game_view_url "pychronia_game.views.encrypted_folder" folder=folder %}>
                {% game_view_url "pychronia_game.views.encrypted_folder" folder=folder %}
                </a>
            </p>
            <p>
                {% trans "Passwords" %}{{COLON}} {{ pwds|join:", " }}
            </p>

        <br/>
        {% endfor %}

    {% else %}
        <p class="inner_center">{% trans "No encrypted folders are currently configured." %}</p>
    {% endif %}
{% endblock %}




