
{% extends "base_one_column.html" %}

{% load i18n helpers kwacros %}


{% block content %}

    {% for identifier, data in admin_summaries %}
    <h2>{{data.title}}</h2>

    {{data.html_chunk}}
    <br/>
    {% endfor %}


    <h2>{% trans "Public Webradio" %}</h2>
    <p>
        {% trans "Public Webradio URL" %}{{COLON}}
        <a href={% game_view_url "pychronia_game.views.public_webradio" %}>
            {% game_view_url "pychronia_game.views.public_webradio" %}
        </a><br/>
        {% trans "Frequency" %}{{COLON}} {{ global_parameters.pangea_radio_frequency }}
    </p>
    <br/>


    <h2>{% trans "Encrypted Folders" %}</h2>

    {% if folders_info %}

        {% for folder, pwds in folders_info %}

            <p><strong>{% trans "Folder" %}{{COLON}} {{ folder }}</strong></p>

            <p>
                {% trans "URL" %}{{COLON}}
                <a href={% game_view_url "pychronia_game.views.encrypted_folder" folder=folder %}>
                {% game_view_url "pychronia_game.views.encrypted_folder" folder=folder %}
                </a>
            </p>
            <p>
                {% trans "Passwords" %}{{COLON}} {{ pwds|join:", " }}
            </p>

        <br/>
        {% endfor %}

    {% else %}
        <p class="inner_center">{% trans "No encrypted folders are currently configured." %}</p>
    {% endif %}
    <br/>

{% endblock %}




