{% extends "base_one_column.html" %}

{% load i18n helpers sekizai_tags %}

{% block sekizai_calls %}
{{ block.super }}

{% addtoblock "definition_js" %}

       function save_widgets_order(){
           // only works if game is WRITABLE of course
           $.post("",
                   { _action_: "save_admin_widgets_order",
                    ids_list: $('.admin_widgets').sortable('toArray')},
                   function(answer) {  }
                 );
       }

{% endaddtoblock %}



{% addtoblock "onload_js" %}

          {% if game_is_writable %}
           $( ".admin_widgets" ).sortable({
                    //connectWith: ".connectedSortable"
                    helper: "clone",
                    tolerance: "pointer",
                    scroll: false,
                    stop: function(event, ui) { save_widgets_order();}
                                                    //alert($('.admin_widgets').sortable('serialize', { expression: /(.+)=(.+)/ }));
           });
           {% endif %}

            /* BYPASSED AT THE MOMENT - form processing done normally, not via ajax
            // fixme remove that
               $("#my_admin_widgets").on("submit", "form",
                       function(event) {
                            console.log(event.target);
                            $.post($(this).attr('action'),
                               $(this).serialize(),
                                 function(answer){
                                   //alert($(this).text());
                                    $(event.target).parent().replaceWith(answer);
                                 });

                        return false;
                       }
               );
            */

{% endaddtoblock %}


{% endblock %}






{% block content %}



<div align="center">

    <ul id="my_admin_widgets" class="admin_widgets">

	    {% for widget in widgets %}
	       {% if widget.form  %} {# some admin forms might be non-instantiable #}
	           <li id="{{ widget.target_form_id }}">
	               {% include "utilities/admin_form_widget.html" with target_form_id=widget.target_form_id form=widget.form title=widget.title extra_classes="center" only %}
	           </li>
	       {% endif %}
	    {% endfor %}

    </ul>

</div>

{% endblock %}


