

{% extends "base_one_column.html" %}

{% load i18n helpers %}


{% block content %}
    <div id="content">

        <h2>{% trans "Frienships sealed" %}</h2>

        {% if sealed_friendships %}
        <ul>
        	{% for name_pair, data in sealed_friendships %}
        	   <li>{{ name_pair|join:" <=> " }} ({% trans "proposed on" %} {{ data.proposal_date|utctolocal|date:"SHORT_DATE_FORMAT" }}, {% trans "accepted on" %} {{ data.acceptance_date|date:"SHORT_DATE_FORMAT" }})</li>
        	{% endfor %}
        </ul>
        {% else %}
            {% trans "None" %}
        {% endif %}

        <br/>

        <h2>{% trans "Frienship proposals" %}</h2>

        {% if proposed_friendships %}
        <ul>
            {% for name_pair, data in proposed_friendships %}
               <li>{{ name_pair|join:" -> " }} ({% trans "proposed on" %} {{ data.proposal_date|utctolocal|date:"SHORT_DATE_FORMAT" }})</li>
            {% endfor %}
        </ul>
        {% else %}
            {% trans "None" %}
        {% endif %}

        <br/><br/>

        <h2>{% trans "Character settings" %}</h2>

        <p class="inner_center">
            <a href="mailto:{{ characters_emails|join:"," }}">{% trans "Send Real Emails to Characters" %}</a>
        </p>

        <br/>

        <form action="{% game_view_url "pychronia_game.views.manage_characters" %}" method="post" autocomplete="off">

        <input type="submit" name="update_character" value="{% trans "Update characters" %}" />

        {% for character_form in character_forms %}

        	<fieldset>
    		<legend align=top><b>{{ character_form.target_username.value|capfirst }}</b></legend>
    			<table class="realtable" style="width: 96%; margin: 20px auto;">
    			{{ character_form.as_table }}
    			</table>
    		</fieldset>
    		<br/>

        {% endfor %}

        <input type="submit" name="update_character" value="{% trans "Update characters" %}" />
        <br/>

        </form>

    </div>

{% endblock %}
