{% extends "base_one_giant_column.html" %}

{% load i18n helpers %}

{% block content %}



{% comment %}
<form action="{% game_view_url "pychronia_game.views.manage_databases" %}" method="post" autocomplete="off">
<div align="center">
    <input type="hidden" name="new_game_state" value="{% if game_is_started %}0{% else %}1{% endif %}"/>
    <input type="submit" style="width: 200px" name="switch_game_state"
        value="{% if game_is_started %}{% trans "Pause Game" %}{% else %}{% trans "Resume Game" %}{% endif %}" />
</div>
</form>
<hr/>
{% endcomment %}



{% comment %}
<!--
    CSS STYLE if necessary
    overflow:hidden;
    overflow-x: auto;
    overflow-y: hidden;
    overflow : -moz-scrollbars-horizontal;
-->
{% endcomment %}

<div class="database_content" style="font-size:0.9em; line-height:1.1em; width:100%; overflow: visible">
<pre>
    {{ formatted_data }}
<pre>
</div>

{% endblock %}

