{% extends "base_one_giant_column.html" %}

{% load i18n helpers %}

{% block content %}


{% if events %}

    <table class="realtable" style="line-height: 1.5">

            <thead>
            <tr>
                <th>{% trans "Time" %}</th>
                <th>{% trans "Message" %}</th>
            </tr>
            </thead>

            <tbody>
            {% for event in events %}

            <tr>
                <td>{{ event.time|utctolocal|date:"SHORT_DATETIME_FORMAT" }}</td>   {%comment %}{% load humanize %}{{ event.time|utctolocal|naturalday:"d/N/Y" }}{% endcomment %}
                <td style="text-align: left;">
                    {% if event.url %}
                        <a href="{{ event.url }}">
                    {% endif %}
                        <span style="color:{% usercolor event.username %};">
                            [{{event.username}}] {{ event.final_message|linebreaksbr }}
                            {% if display_admin_tips and event.visible_by %}<span class="admin-note">{% trans "Visibility" %}{{COLON}} {{ event.visible_by|join:", " }}</span>{% endif %}
                        </span>
                    {% if event.url %}
                        </a>
                    {% endif %}
                </td>

            </tr>

            {% endfor %}

            </tbody>
    </table>

{% else %}

<p>
    <b>{% blocktrans %}No events have yet been recorded.{% endblocktrans %}</b>
</p>

{% endif %}

{% endblock %}



