{% extends "base_two_columns.html" %}

{% load i18n helpers kwacros %}
{% loadkwacros "metalradiance_kwacros.html" %}


{# BEWARE - SOME CONTACTS ARE IMMUTABLE #}


{% block sidebar %}
{% include "administration/_sidebar_management_index.html" %}
{% endblock %}



{% block content %}

    {% if forms %}

        {% if immutable_table_items %}
	    <h2>{% trans "Editable contacts" %}</h2>
        {% endif %}

	    {% for identifier, form in forms %}
	    <div id="entry-{{ identifier|slugify }}" class="scroll_realistic_thin_ends center">

	        {% usekwacro deletion_button identifier undeletable_identifiers %}

	        <a name="entry-{{ identifier|slugify }}"><h2>{{ identifier|default:_("NEW ENTRY") }}</h2></a>
	        <form id="update_form" action="#entry-{{ identifier|slugify }}" method="post" autocomplete="off">
	            {{ form.as_p }}
	            <input type="submit" name="submit" value="{% trans "Submit" %}"/>
	        </form>

	    </div>
	    {% endfor %}

    {% else %}

        {# nothing atm... #}

    {% endif %}




    {% if immutable_table_items %}

	    <h2>{% trans "Immutable contacts" %}</h2>

	    {% for identifier, data in immutable_table_items %}
	    <div id="entry-{{ identifier|slugify }}" class="scroll_realistic_thin_ends center">

            <p><b><u>{{ identifier }}</u></b></p>

	        <p>
	            <b>{% trans "Avatar:" %}</b>
	            {% if data.avatar %}
	               <img style="vertical-align: middle" src="{% game_file_img data.avatar alias="contact_avatar" %}" title="{% trans "Source" %}: {{data.avatar}}"/><br/>
	            {% else %}
	               {% trans "None" %}
	            {% endif %}
	        </p>

            <p><b>{% trans "Description" %}:</b> {{ data.description|default:_("None") }}</p>

            <p><b>{% trans "Gamemaster Hints" %}:</b> {{ data.gamemaster_hints|default:_("None") }}</p>

            {% comment %}
            NOT YET USED BY DATAMANAGER ATM
            <p>
	        {% if data.access_tokens == None %}
	            PUBLIC
	        {% else %}
	            {% trans "Allowed for" %}: {{ data.access_tokens|join:", "|default:_("No one") }}
	        {% endif %}
            </p>
            {% endcomment %}

	    </div>
	    {% endfor %}

	{% else %}

        {# nothing atm... #}

    {% endif %}

{% endblock %}



{% block activate_floating_menu %}
{# we disable sticky behaviour of menu #}
{% endblock %}


