{% extends "base_two_columns.html" %}

{% load i18n helpers kwacros %}
{% loadkwacros "metalradiance_kwacros.html" %}


{# BEWARE - SOME CONTACTS ARE IMMUTABLE #}

{% block sidebar %}

{% usekwacro side_panel_start frame_class="mini_frame float_left clear_left" decos="2" %}
    <h2>{% trans "Entries" %}</h2>

    <h3>{% trans "Mutable" %}</h3>
    <div class="rice_paper_rose tiny_bullets full_width" style="font-size:0.8em;">
    <ul>
        {% for identifier, form in forms %}
            <li><a href="#entry-{{ identifier }}">{{ identifier|default:_("NEW ENTRY") }}</a></li>
        {% endfor %}
    </ul>
    </div>

    <h3>{% trans "Immutable" %}</h3>
    <div class="rice_paper_rose tiny_bullets full_width" style="font-size:0.8em;">
    <ul>
        {% for identifier, form in immutable_table_items %}
            <li><a href="#entry-{{ identifier }}">{{ identifier }}</a></li>
        {% endfor %}
    </ul>
    </div>

{% usekwacro side_panel_end %}

{% endblock %}



{% block content %}

    {% if forms %}

	    <h2>{% trans "Editable contacts" %}</h2>

	    {% for identifier, form in forms %}
	    <div id="entry-{{ identifier }}" class="scroll_realistic_thin_ends center">

	        {% usekwacro deletion_button identifier %}

	        <h2>{{ identifier|default:_("NEW ENTRY") }}</h2>
	        <form id="update_form" action="" method="post">
	            {{ form.as_p }}
	            <input type="submit" name="submit" value="{% trans "Submit" %}"/>
	        </form>

	    </div>
	    {% endfor %}

    {% else %}



    {% endif %}




    {% if immutable_table_items %}

	    <h2>{% trans "Immutable contacts" %}</h2>

	    {% for identifier, data in immutable_table_items %}
	    <div id="entry-{{ identifier }}" class="scroll_realistic_thin_ends center">

            <p><b>{{ identifier }}</b></p>

	        <p>
	            {% trans "Avatar:" %}
	            {% if data.avatar %}
	               <img style="vertical-align: middle" src="{% game_file_img data.avatar|default:default_contact_avatar alias="contact_avatar" %}"/>
	            {% else %}
	               {% trans "None" %}
	            {% endif %}
	            </p>

            <p>{% trans "Description" %}: {{ data.description|default:_("None") }}</p>

            <p>{% trans "Gamemaster Hints" %}: {{ data.gamemaster_hints|default:_("None") }}</p>

            <p>
	        {% if data.access_tokens == None %}
	            PUBLIC
	        {% else %}
	            {% trans "Allowed for" %}: {{ data.access_tokens|join:", "|default:_("No one") }}
	        {% endif %}
            </p>

	    </div>
	    {% endfor %}

	{% else %}



    {% endif %}

{% endblock %}



{% block activate_floating_menu %}
{# we disable sticky behaviour of menu #}
{% endblock %}


