{% extends "base_two_columns.html" %}

{% load sekizai_tags i18n helpers kwacros %}
{% loadkwacros "metalradiance_kwacros.html" %}


{# ATM ALL ARE RADIO SPOTS ARE MUTABLE #}

{% block sekizai_calls %}
{{ block.super }}

{% addtoblock "definition_js" %}

    function generate_tts_sample(target_id) {
        var text = $('#id_'+target_id+'_text').val().trim();
        if (text){
            $('#id_'+target_id+'_sound_preview').html("{{ _("Generating sound...")|escape|escapejs }}");
            $.post("",
                   { _action_: "generate_tts_sample", text: text},
                   function(answer){
                       $('#id_'+target_id+'_sound_preview').html(answer.mediaplayer);
                       $('#id_'+target_id+'_url_or_file').val(answer.sound_url);
                   },
                   'json'
                 );
        } else {
            $.jnotify("{{ _("Text field must be filled.")|escapejs }}", "warning");
        }
    }

{% endaddtoblock %}

{% endblock %}



{% block sidebar %}

{% usekwacro side_panel_start frame_class="mini_frame float_left clear_left" decos="2" %}

    <h2>{% trans "Entries" %}</h2>

    <div class="rice_paper_rose tiny_bullets full_width" style="font-size:0.8em;">
    <ul>
        {% for identifier, form in forms %}
            <li><a href="#entry-{{ identifier }}">{{ identifier|default:_("NEW ENTRY") }}</a></li>
        {% endfor %}
    </ul>
    </div>

{% usekwacro side_panel_end %}

{% endblock %}


{% block activate_floating_menu %}
{# we disable sticky behaviour of menu #}
{% endblock %}

{% block content %}

    {% for identifier, form in forms %}
    <div class="scroll_realistic_thin_ends center">
        {% usekwacro deletion_button identifier %}

        <a name="entry-{{ identifier }}"><h2>{{ identifier|default:_("NEW ENTRY") }}</h2></a>
        <form id="update_form" action="" method="post">
            {{ form.as_p }}
            <div id="id_{{ identifier }}_sound_preview" align="center">
                {% if form.url_or_file.value %}
                    {{ form.url_or_file.value|mediaplayer }}
                {% else %}
                    &nbsp;
                {% endif %}
            </div>
            <input type="button" name="preview" value="{% trans "Generate Text to Speech" %}" onclick="generate_tts_sample('{{ identifier|escapejs }}'); return false;" />
            <input type="submit" name="submit" value="{% trans "Submit radio spot" %}"/>
        </form>
    </div>
    {% endfor %}

{% endblock %}



