{% extends "base_two_columns.html" %}

{% load sekizai_tags i18n helpers kwacros %}
{% loadkwacros "metalradiance_kwacros.html" %}




{% block sidebar %}

{% usekwacro side_panel_start frame_class="mini_frame float_left clear_left" decos="2" %}
    <h2>{% trans "Playlist" %}</h2>

    <div class="rice_paper_rose full_width">
        <ul id="current_playlist" class="tiny_bullets" style="min-height:30px; font-size:0.8em;">
        {% for audio_id, audio_properties in pending_audio_messages %}
             {% include "utilities/radio_spot_placeholder.html" with audio_id=audio_id audio_properties=audio_properties %}
        {% endfor %}
        </ul>
    </div>

    <div id="trashcan" onclick="if(confirm('{{ _("This will empty the webradio playlist, are you sure?")|escapejs }}')){clear_radio_playlist();}">
        &nbsp;
    </div>
{% usekwacro side_panel_end %}

{% endblock %}






{% block content %}


<h3>{% trans "Public Radio Control" %}</h3>
<p>{% trans "This only concerns the public webradio player, which consumes the samples it broadcasts, not each player's webradio page." %}</p>
<div align="center">
<strong>
 {% if radio_is_on %}
    {% blocktrans %}Public radio is currently ON.{% endblocktrans %}
 {%else %}
    {% blocktrans %}Public radio is currently OFF.{% endblocktrans %}
 {% endif %}
 </strong>
</div>

<br/>

<div align="center">
<form action="" method="POST">
{% if radio_is_on %}
    <input type="submit" name="turn_radio_off" value="{% trans "Turn Radio Off" %}"/>
{%else %}
    <input type="submit" name="turn_radio_on" value="{% trans "Turn Radio On" %}"/>
{% endif %}
</form>
<br/>
<form action="" method="GET">
    <input type="submit" value="{% trans "Refresh Radio State" %}"/>
</form>
</div>

<br/>


{% comment %}
    <h3>{% trans "Current Playlist" %}</h3>
    <div align="center">

    {% if pending_audio_messages %}

    <form action="" method="POST">
        <input type="submit" name="reset_playlist" value="Reset Playlist"/>
    </form>

    {% else %}

        <span>{% blocktrans %}Web radio playlist is currently empty.{% endblocktrans %}</span>

    {% endif %}

    </div>
{% endcomment %}



{% comment %}


<h3>{% trans "Auto Playlists" %}</h3>

TODO PUT THAT BACK, LATER ON !!!!!!

<div align="center">
    <span>{% blocktrans %}Players needing to be notified about new messages: {% endblocktrans %}
    {{ players_with_new_messages.keys|join:", "|default:_("None") }}.</span>
    <br/><br/>
    {% if players_with_new_messages.keys %}
    <form action="" method="POST">
        <input type="submit" name="notify_new_messages" value="{% trans "Notify Users About New Messages" %}"/>
    </form>
    {% endif %}
</div>
<br/>
{% endcomment %}




<a name="anchor_playlist_building">
<h3>{% trans "Manual Playlist Building" %}</h3>
</a>



<div id="available_radio_spots" align="left">

    {% for audio_id, audio_properties in special_audio_messages %}
        <ul>{% include "utilities/radio_spot_placeholder.html" with audio_id=audio_id audio_properties=audio_properties %}</ul>
        <div align="center">
            {% if display_admin_tips and audio_properties.gamemaster_hints %}
            <p class="admin-note">
                {{ audio_properties.gamemaster_hints }}
            </p>
            {% endif %}
            <p class="smaller_text">{{ audio_properties.text }}</p>
            {{ audio_properties|mediaplayer:"false" }}</div>

    {% endfor %}

</div>



{% endblock %}







