{% extends "metalradiance_base.html" %}
{% loadkwacros "metalradiance_kwacros.html" %}

{% load cms_tags menu_tags sekizai_tags heading %}

 
{% block html_headers %}  
    {{ block.super }}
{% endblock %}

{% block left_big_icon %} 
{% endblock %}

{% block right_big_icon %} 
{% endblock %}

{% block main_menu %}  
    {{ block.super }}
    {% show_menu 0 100 100 100 %}
{% endblock %}

{% block main_content %}  
    {{ block.super }}
    {% headingcontext target_level=2 %}
        {% placeholder "content" %}
    {% endheadingcontext %}
{% endblock %}