

{% load kwacros %}


    {% firstof arg1 "default arg1" %}
    {% if arg2 %}{{ arg2 }}{% else %}default arg2{% endif %}
    {{ baz }}
    {% endkwacro %}



{% kwacro main_panel_start frame_class="giant_frame" %}

    <div class="{{ frame_class }}">
    
    
        <img class="big_stick_bottom_left" src="{{ STATIC_URL }}MetalRadiance/img/decorations/big_deco_bl.png"/>
        <img class="icon_stick_bottom_left" src="{{ STATIC_URL }}MetalRadiance/img/icons/owl.png"/>
        
        <img class="big_stick_bottom_right" src="{{ STATIC_URL }}MetalRadiance/img/decorations/big_deco_br.png"/>
        <img class="icon_stick_bottom_right" src="{{ STATIC_URL }}MetalRadiance/img/icons/hexagon.png"/>
        
        <img class="big_stick_top_left" src="{{ STATIC_URL }}MetalRadiance/img/decorations/big_deco_tl.png"/>
        <img class="icon_stick_top_left" src="{{ STATIC_URL }}MetalRadiance/img/icons/skull.png"/>
        
        <img class="big_stick_top_right" src="{{ STATIC_URL }}MetalRadiance/img/decorations/big_deco_tr.png"/>
        <img class="icon_stick_top_right" src="{{ STATIC_URL }}MetalRadiance/img/icons/sun_moon.png"/>
        
        <div class="big_frame_border">
          <div class="big_frame_content">
            
{% endkwacro %} 
                
                <h1>{% page_attribute "page_title" %}</h1>
                        
                {% block main_content %}  
                {% endblock %}
                
          
{% kwacro main_panel_end %}   
          
           </div>     
         </div> 
    </div>
    
{% endkwacro %} 