<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load cms_tags menu_tags sekizai_tags kwacros %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bienvenue sur la vitrine du Projet Chrysalis</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<link href="{{ STATIC_URL }}MetalRadiance/metalradiance.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}favicon.png" rel="shortcut icon" type="image/png" />

{% render_block "css" %}
<link href="{{ STATIC_URL }}libs/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />

{% render_block "js" %}
<script src="{{ STATIC_URL }}libs/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}libs/jquery.dropmenu-1.1.4.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}libs/fancybox/jquery.fancybox.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}libs/jquery.css3finalize-v3.x.min.js" type="text/javascript"></script>


<script language="javascript" type="text/javascript">

    $(document).ready(function() {
        
        $('#menulist').dropmenu(
            {
                effect          : "slide",       //  "slide", "fade", or "none"
                speed           : "fast", //  "normal", "fast", "slow", 100, 1000, etc
                timeout         : 400,
                nbsp            : true,
                maxWidth        : 0
            }
        );
        
    });
    
</script>

      
{% block html_headers %}  
{% endblock %}
         
</head>
<body>
    {% cms_toolbar %}
    
    
    

    <div id="full_header">

        <div id="full_header_center">
        
            <div id="title_table">
                <div class="motto left"></div>
                <div id="site_title"></div>
                <div class="motto right"></div>
            </div>

            <div id="notification_table">
                <div class="carving"></div>
                <div class="separator"></div>
                <div class="carving"></div>
            </div> 
            
        </div>

    </div>
    
    <div id="full_menu">
        <div id="main_menu">
            {% block left_big_icon%} 
            <div class="big_icon_panel">
                <img src="{{ STATIC_URL }}MetalRadiance/img/icons/speaker.png"/>
            </div>
            {% endblock %}
            
            <div class="marble_menu_container">
                <div class="marble_menu">
                        <ul id="menulist" class="dropmenu" style="z-index: 100;">
                            {% block main_menu %}  
                            {% endblock %}
                        </ul>
                </div>
            </div>
            
            {% block right_big_icon %} 
            <div class="big_icon_panel">
                <img src="{{ STATIC_URL }}MetalRadiance/img/icons/question_mark.png"/>
            </div>
            {% endblock %}
        </div>
    </div> 
    
    
    
    <div id="full_content">
    
        <div class="giant_frame">
        
        
            <img class="big_stick_bottom_left" src="{{ STATIC_URL }}MetalRadiance/img/decorations/big_deco_bl.png"/>
            <img class="icon_stick_bottom_left" src="{{ STATIC_URL }}MetalRadiance/img/icons/owl.png"/>
            
            <img class="big_stick_bottom_right" src="{{ STATIC_URL }}MetalRadiance/img/decorations/big_deco_br.png"/>
            <img class="icon_stick_bottom_right" src="{{ STATIC_URL }}MetalRadiance/img/icons/hexagon.png"/>
            
            <img class="big_stick_top_left" src="{{ STATIC_URL }}MetalRadiance/img/decorations/big_deco_tl.png"/>
            <img class="icon_stick_top_left" src="{{ STATIC_URL }}MetalRadiance/img/icons/skull.png"/>
            
            <img class="big_stick_top_right" src="{{ STATIC_URL }}MetalRadiance/img/decorations/big_deco_tr.png"/>
            <img class="icon_stick_top_right" src="{{ STATIC_URL }}MetalRadiance/img/icons/sun_moon.png"/>
            
            <div class="big_frame_border">
              <div class="big_frame_content">
                
                
                
                <h1>{% page_attribute "page_title" %}</h1>
                        
                {% block main_content %}  
                {% endblock %}
                
                
             </div>     
           </div>

           
        </div>
        
      {% comment %}
        <div class="mini_frame float_left">
            <img class="stick_bottom_right" src="{{ STATIC_URL }}MetalRadiance/img/decorations/mini_deco_bottom_right_1.png"/>
            <img class="stick_top_left" src="{{ STATIC_URL }}MetalRadiance/img/decorations/mini_deco_top_left_1.png"/>
            
            <div class="mini_frame_content">
                <h2>Hello</h2>
                <div class="scroll_realistic_thin_ends">
                    Hi<br/>Hi<br/>Hi<br/>
                    Hi<br/>Hi<br/>Hi<br/>
                </div>
           </div>
        </div>
   
        <div class="mini_frame float_left">
            <img class="stick_bottom_right" src="{{ STATIC_URL }}MetalRadiance/img/decorations/mini_deco_bottom_right_2.png"/>
            <img class="stick_top_left" src="{{ STATIC_URL }}MetalRadiance/img/decorations/mini_deco_top_left_2.png"/>
            
            <div class="mini_frame_content">
                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
           </div>
        </div>
        
        <div class="mini_frame float_left">
            <img class="stick_bottom_right" src="{{ STATIC_URL }}MetalRadiance/img/decorations/mini_deco_bottom_right_3.png"/>
            <img class="stick_top_left" src="{{ STATIC_URL }}MetalRadiance/img/decorations/mini_deco_top_left_3.png"/>
            
            <div class="mini_frame_content">
                <br/><br/><br/><br/><br/>
           </div>
        </div>
      {% endcomment %}
         
    </div>

    
    <div id="up_footer_wrapper">

            <div id="up_footer_border_left">
                <div>
                sdsdsdsd sfdqsd sdf sdf <br/> qsdqsdqsd
                </div>
            </div><!-- NO SPACE HERE --><div id="up_footer_border_center"> dd&nbsp;
                <img class="footer_center_img" src="{{ STATIC_URL }}MetalRadiance/img/icons/pegasus_medal.png"/>
            </div><!-- NO SPACE HERE --><div id="up_footer_border_right">
                sdsdsdsd sdfsdf sqd qd
            </div>
  
    </div>
    
    
    <div id="low_footer_wrapper">
        <div id="low_footer_border">
            sdsdsdsd sdfs
        </div>
    </div>

    <br/><br/><br/>
    

</body>
</html>