{% extends "base_one_giant_column.html" %}

{% load i18n helpers %}  

{% block content %}  

{% comment %}
    USELESS STUFFS - forget it !
    {% if user.is_master %}
    <p>
        {% trans "Digital funds currently available in the bank, for conversions between cold cash and digital money:" %}
        <strong>
        {% blocktrans count bank_data.1 as money_amount %}
            {{ money_amount }} kash.
        {% plural %}
            {{ money_amount }} kashes.
        {% endblocktrans %}
        </strong>
    
    </p>
    {% endif %}
{% endcomment %}



<table class="realtable">
	
	<thead>
		<tr>
			<th>{% trans "Identity" %}</th>
			<th>{% trans "Bank account" %}</th>
			<th>{% trans "Items bought" %}</th>
			<th>{% trans "Gems owned" %}</th>
		</tr>
	</thead>
	    
	<tbody>
	{% for char_set in char_sets %} 
	   
		{% for char_name, char_details in char_set %}   
		
		{% comment %} char_details is at least {'gems': [], 'items': [], 'domain': 'acharis.com', 'password': 'xxxx', 'account': 0} {% endcomment %}
	    

	    <tr class="{% cycle 'rowA' 'rowB' %}"  style="color:{{ char_details.character_color }};">	

		    	<td class="bigtext">
		    		<strong {% if user.is_master %} title="{% trans "Password:" %} {{ char_details.password }}" {% endif %}>
		    		    {% if show_official_identities %}
		    		        {{ char_details.official_name }} <br/>
		    		    {% endif %}
		    		    {{ char_name }}@{{ pangea_domain }}
		    		    {% if user.is_master %}
		    		        <br/>[{{ char_details.real_life_identity }}]
		    		    {% endif %}
					</strong>
		    	</td>
	
		    	<td class="bigtext">
		    		{{ char_details.account }}
		    	</td>
		    	
		    	<td class="bigtext">
		    		{% for item_name in char_details.user_items %} # FIXME FIXME
		    			<img class="minithumbnail" title="{{ item_name }}" src="{% game_file_url "sales/" item_name ".jpg" %}"/><br/>
		    		{% empty %}
		    			{% trans "None" %}
		    		{% endfor %}
		    	</td>
		    
		    	<td class="bigtext">
		    		{% if char_details.gems %} 
		    			{{ char_details.gems|join:", " }}
		    		{% else %}
		    			{% trans "None" %}
		    		{% endif %}
		    	</td>	    
		
	    </tr>
	    {% endfor %}
	{% endfor %}
	</tbody>
</table>



{% include "utilities/scroll_form.html" with title=_("Digital Money Transfer") target_view="rpgweb.views.view_characters" form=money_form class="float_left" button_title=_("Transfer money") button_name="money_transfer" %}

{% include "utilities/scroll_form.html" with title=_("Gems Transfer") target_view="rpgweb.views.view_characters" form=gems_form class="float_right" button_title=_("Transfer gems") button_name="gems_transfer" %}



{% endblock %}

