{% extends "base_one_giant_column.html" %}

{% load i18n helpers %}  

{% block content %}  

{% if user.is_master %}
<p>
Players begin the game with a total of <strong>{{ total_cold_cash_available }}</strong> kashes in cold cash and 
<strong>{{ total_bank_account_available }}</strong> kashes in their bank accounts, 
while the total value of proposed items is <strong>{{ total_items_price }}</strong> kashes.
</p>
{% endif %}
<p>
There are altogether <strong>{{ total_gems_number }}</strong> gems and <strong>{{ total_archaeological_objects_number }}</strong> 
archeological objects at auction.
</p><br/>


<table class="fullwidth">
	<tbody>
	
		<tr>
		    <th style="width:40px;">{% trans "Id" %}</th>
			<th>{% trans "Photo" %}</th>
			<th>{% trans "Details" %}</th>
			<th>{% trans "Total price" %}</th>
			<th>{% trans "Unit cost" %}</th>
			{% if user.is_master %}
			     <th colspan="2">{% trans "Transfer to character<br/>(payment by cold cash)" %}</th>
			{% else %}
			     <th>{% trans "Comments" %}</th>
			{% endif %}
		</tr>
	
	{% for item_name, item_details in items_for_sale %}   {% comment %} item_details is at least (is_gem, number, total_cost, locations, owner, per_item_price) {% endcomment %}
	    
	        {% if user.is_master %}
                 <form id="sale{{ forloop.counter }}" action="{% gameurl "rpgweb.views.view_sales" %}" method="POST">
                        <input type="hidden" name="object" value="{{ item_name }}"/>
            {% endif %}            
                        
	    
	    <tr class="{% cycle 'rowA' 'rowB' %}">	
	    

	    
	    	<td>
	    	{{ item_details.auction }}
	    	</td>
	    	
	    	<td style="width:160px"> 
	    	    <div>   <!-- style="table-layout:fixed; display:table; width:100%;"   mega hack to please IE8... -->
	    		     <a href="{% game_file_url "sales/" item_details.image %}"><img class="thumbnail" title="{{ item_details.title }}" 
	    		        src="{% game_file_url "sales/" item_details.image %}"/></a>
	    	    </div>
	    	</td>
	    
	    	
	    	<td class="bigtext">
		    	{% if item_details.is_gem %}
				    {{ item_details.num_items }} {% trans "gem" %}{{ item_details.num_items|pluralize }}
				{% else %}
				    {{ item_details.num_items }} {% trans "object" %}{{ item_details.num_items|pluralize }}
				{% endif %}
			</td>
			
			<td class="bigtext">
				{{ item_details.total_price }} {% trans "kash" %}{{ item_details.total_price|pluralize:"es" }}
			</td>

			<td class="bigtext">
				{{ item_details.unit_cost }} {% trans "kash" %}{{ item_details.unit_cost|pluralize:"es" }}
			</td>
			
			{% if user.is_master %}
			     
        	    	{% if not item_details.owner %}
        	    	 
        		 		<td>
        		 			<select name="character">
        	 				{% for character_name in character_names %}
        						<option value="{{ character_name }}"> {{ character_name }} </option>
        					{% endfor %}
        					</select>
        		 		</td>
        		 		 <td>
        		 			<input type="submit" name="buy" value="{% trans "Transfer" %}"/>
        		 		</td>
        		 	
        			{% else %}
        			
        				<td>
        		 			<strong title="{{ item_details.owner }}">{% trans "Buyer" %}: {{ item_details.owner_official_name }}</strong>
        		 			<input type="hidden" name="character" value="{{ item_details.owner_official_name }}"/>
        		 		</td>
        		 		 <td>
        		 			<input type="submit" name="unbuy" value="{% trans "Reset" %}"/>
        		 		</td>
        		 		
        			{% endif %}

    			
    			
    		{% else %}

                     <td>
                        {{ item_details.comments }}
                    </td>
                    		
    		{% endif %}
	 		
	    </tr>
	    
	    
	       {% if user.is_master %}
                 </form>
            {% endif %}     
	    
	    
	    
	    
	{% endfor %}
	</tbody>
</table>


{% endblock %}

