

Django>=1.3
django-cms>=2.2
django-filer>=0.8.6
django-debug-toolbar>=0.8.5
cmsplugin-filer>=0.8.0
django-inline-ordering>=0.1.3

# other plugins, not well maintained, are included in repository



