

{% load i18n helpers %}  

<div style="border:1px solid black; background-color: #EFDCC2;">
    <form action="?target_form_id={{ target_form_id }}" method="post" class="admin_widget_form">
    <table style="margin:auto;width:280px;">
    <tr>
        <td colspan="2">
            <h3>TITLE HERE</h3>
        </td>
    </tr>
    
    {{ form.as_table }}
    
    <tr>
        <td colspan="2">
            <input type="submit" name="action" value="{% trans "SUBMIT TEXT" %}" />
        </td>
    </tr>
    </table>
    </form>
</div>
