{% load i18n helpers %}  

{% if form %}
<div class="scroll_yellow_rolled {{ class }}">
    <form action="{% gameurl target_view %}" method="post">
    <table style="margin:auto;width:280px;">
    <tr>
        <td colspan="2">
            <h3>{% trans title %}</h3>
        </td>
    </tr>
    
    {{ form.as_table }}
    
    <tr>
        <td colspan="2">
            <input type="submit" name="{{ button_name }}" value="{% trans button_title %}" />
        </td>
    </tr>
    </table>
    </form>
</div>
{% endif %}